<%- include('layouts/head') %>

    <!--Page Title-->
    <section class="page-title lazy" data-src="/frontend/images/background/5.webp">
        <div class="auto-container">
            <h1>About Us</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="/">Home</a></li>
                <li class="current">About Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--About Section-->
    <section class="about-section">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>About </h2>
            </div>
            <div class="row clearfix">
                <!--Content Column-->
                <div class="content-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="text">A bike/car may be your favorite hobby or thing that you need. Before buying or selling a bike/car, you may have a variety of questions or curiosities. Your trusted Autobazarbd.com is now in Bangladesh to answer all your questions or curiosities.

Autobazarbd.com is a virtual platform for you to serve. Here is the detailed information about the bikes/cars and their parts of all the famous brands of the country and abroad. You can easily find all types of information that you want about your favorite bike/car or bike/car parts from here. You can also sell your used car on this platform.

Autobazarbd.com has a active team. The team member is ready to serve you 24/7. Autobazarbd.com is your trusted partner for any types of information or service that you may need about your bike/car.</div>
                      
                    </div>
                </div>
                <!--Blocks Column-->
                <div class="blocks-column col-md-8 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <!--About Block-->
                        <div class="about-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/about-1.jpg" alt="" />
                                </div>
                                <div class="lower-box">
                                    <h3><a href="#">Our Mission</a></h3>
                                    <div class="text">To work in accordance with the clients’ requirement and exceed their expectations in terms of quality, cost control and time management.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--About Block-->
                        <div class="about-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/about-2.jpg" alt="" />
                                </div>
                                <div class="lower-box">
                                    <h3><a href="#">Our Vision</a></h3>
                                    <div class="text">To consistently deliver eco-friendly world class finishes in our interior design concepts, execute & complete all projects in such a way.</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section-->
    
    <%- include('templates/trusted_com') %>

<%- include('layouts/foot') %>