<%- include('layouts/head') %>
        <!--Page Info-->
        <section class="page-info">
            <div class="auto-container">
                <ul class="bread-crumb">
                    <li><a href="/">Home</a></li>
                    <li class="current">Blog</li>
                </ul>
            </div>
        </section>
        <!--End Page Info-->
        
        <!--News Page Section-->
        <section class="news-page-section">
            <div class="auto-container">
                <div class="row clearfix">
                <% _.each(blog,function(v,k){ %> 
                    <%- include('./templates/blog_post_mini', {data:v,k:k}); %>
                <% }); %>

                <!--Styled Pagination-->
                <div class="col-lg-12">
                    <div class="styled-pagination text-center">
                        <ul class="clearfix">
                            <% if(page_blog == 1 || page_blog == 0 ){%>
                                <li><a href="#"><span class="fa fa-caret-left"></span></a></li>
                            <%}else{%> 
                                <li><a href="/blog/page=<%= (parseInt(page_blog) - 1) %>"><span class="fa fa-caret-left"></span></a></li>
                            <%}%>
                            <% var i; for (i = 1; i <= pages_blog; i++) { if(i == page_blog){ %>
                                <li><a href="/blog/page=<%= i %>" class="active"><%= i %></a></li>
                            <% }else{%> <li><a href="/blog/page=<%= i %>" class=""><%= i %></a></li> <% }} %> 
    
                            <% if(pages_blog > page_blog ){%>
                                <li><a href="/blog/page=<%= (parseInt(page_blog) + 1) %>"><span class="fa fa-caret-right"></span></a></li>
                            <%}else{%> 
                                <li><a href="#"><span class="fa fa-caret-right"></span></a></li>
                            <%}%> 
                        </ul>
                    </div>
                </div>
                <!--End Styled Pagination-->
            </div>
        </section>
        <!--End News Page Section-->
<%- include('layouts/foot') %>