<%- include('layouts/head') %>

<!--Page Title-->
<section class="page-title lazy" data-src="/frontend/images/background/5.webp">
    <div class="auto-container">
        <h1>Contact Us</h1>
    </div>
</section>
<!--End Page Title-->

<!--Page Info-->
<section class="page-info">
    <div class="auto-container">
        <ul class="bread-crumb">
            <li><a href="/">Home</a></li>
            <li class="current">Contact Us</li>
        </ul>
    </div>
</section>
<!--End Page Info-->

<!--Contact Form Section-->
<section class="contact-form-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Send Message Us</h2>
            
        </div>
        
        <!--Contact Form-->
        <div class="contact-form">
            <form onsubmit="submitContact(event,this)">
                <div class="row clearfix">
                    <div class="column col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input type="text" id="cus_name" name="username" placeholder="Your Name *" required>
                        </div>
                        <div class="form-group">
                            <input type="email" id="cus_email" name="email" placeholder="Email Address *" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="cus_phone" name="phone" placeholder="Phone Num" required>
                        </div>
                    </div>
                    
                    <div class="column col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <textarea name="message" id="cus_msg" placeholder="Enter Your Message..." required=""></textarea>
                        </div>
                    </div>
                    <div class="column btn-column col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <button class="theme-btn btn-style-one" type="submit" >Submit Now</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section>
<!--End Contact Form Section-->

<!--Contact Detailed Section-->

<!--End Contact Detailed Section-->

<!--Map Section-->
<section class="map-section">
    <!--Map Outer-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.644481592371!2d90.42571475140072!3d23.760054050116683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20b880307ceee69d!2sOpurvo%20homio%20health%20care!5e0!3m2!1sen!2sbd!4v1567619535526!5m2!1sen!2sbd" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
<!--End Map Section-->



<script type="text/javascript">
    
    function submitContact(e,elm){
        e.preventDefault();
        var data = {
            name:$('#cus_name').val(),
            email:$('#cus_email').val(),
            phone:$('#cus_phone').val(),
            message:$('#cus_msg').val(),
            contact_type:'guest',
        }

        socket.emit('sendContactMsg',data,function(res){
            console.log(res.status);
            if(res.status){
                Swal.fire({
                title: 'Successfully send your message. Thank You.',
				type: 'success',
				showConfirmButton: true,
				confirmButtonText: 'Ok'
			  }).then((result) => {
				if (result.value) {
					location.reload();
				}
			  })
            }
        });
    } 
</script>




<%- include('layouts/foot') %>