<%- include('layouts/head') %>

    <%- include('layouts/slider') %>
    

    
    <!--Car Search Form-->
    <section class="car-search-form">
    	<div class="auto-container">
        	<div class="inner-section">
            	
                <!--Product Info Tabs-->
                <div class="car-search-tab">
                
                    <!--Tabs Box-->
                    <div class="prod-tabs tabs-box">
                    
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#bikes" class="tab-btn active-btn">Bikes</li>
                            <li data-tab="#cars" class="tab-btn">Cars</li>
                        </ul>
                        
                        <!--Tabs Container-->
                        <div class="tabs-content">
                            
                            <!--Tab / Active Tab-->
                            <div class="tab" id="cars">
                                <div class="content">
                                    <!-- Car Search Form -->
                                    <div class="car-search-form">
                                        <h3>Coming soon...</h3>
                
                                    </div>
                                </div>
                            </div>
                            
                            <!--Tab-->
                            <div class="tab active-tab" id="bikes">
                                <div class="content">
                                    <!-- Car Search Form -->
                                    <div class="car-search-form">
                                        <form>
                                            <div class="row clearfix">
                                            	<div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                	<div class="row clearfix">
                                                    	
                                                        <!--Form Group-->
                                                        <div class="form-group col-md-2 col-sm-2 col-xs-12">
                                                            <select class="" id="filterCondition">
                                                                <option value="" selected="" >Bike Condition</option>
                                                                <option value="1">New</option>
                                                                <option value="2">Used</option>
                                                            </select>
                                                        </div>
                                                        
                                                        <!--Form Group-->
                                                        <div class="form-group col-md-2 col-sm-2 col-xs-12">
                                                            <select class="" id="filterBrand">
                                                                <option value="" selected="" >Select Brand</option>
                                                                <% _.each(allBrand,function(v,k){ if(v.status){ %> 

                                                                    <option value="<%= v.brand_id %>"><%= v.brand_name %></option>

                                                                <% } }) %>
                                                            </select>
                                                        </div>
                                                        
                                                        <!--Form Group-->
                                                        <div class="form-group col-md-2 col-sm-2 col-xs-12">
                                                            <select class="" id="filterPriceRange">
                                                                <option value="0-104000000" selected="" >Price Range </option>
                                                                <option value="0-200000"> 0 To 2 Lakhs</option>
                                                                <option value="200000-300000"> 2 To 3 Lakhs </option>
                                                                <option value="300000-400000"> 3 To 4 Lakhs </option>
                                                                <option value="400000-104000000"> 4 Lakhs And Above</option>
                                                            </select>
                                                        </div>

                                                        <!--Form Group-->
                                                        <div class="form-group col-md-2 col-sm-2 col-xs-12 underDivisionSrc">
                                                            <select  id="filterDivisions" onchange="filterDivision(this)" >
                                                                <option class="defalut" value="">Division</option>
                                                            </select>
                                                        </div>

                                                        <!--Form Group-->
                                                        <div class="form-group col-md-2 col-sm-2 col-xs-12 underDivisionSrc">
                                                            <select  id="filterZillas" onchange="filterZilla(this)">
                                                                <option class="default" value="">Zilla</option>
                                                            </select>
                                                        </div>
                                                        <!--Form Group-->
                                                        <div class="form-group col-md-2 col-sm-2 col-xs-12  underDivisionSrc">
                                                            <select class="" id="filterThanas">
                                                                <option class="default" value="">Thana</option>
                                                            </select>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                	<div class="row clearfix">
                                                        
                                                        <!--Form Group-->
                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="filterBikeName" class="from-control" placeholder="Bike Name">
                                                        </div>
                                                        
                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <button class="theme-btn search-btn" onclick="filterHome(event,this)"><span class="icon fa fa-search"> </span> Search</button>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                
                                            </div>
                                        </form>
                
                                    </div>
                                </div>
                            </div>
                            
                            <!--Tab-->
                            <div class="tab" id="parts">
                                <div class="content">
                                    <!-- Car Search Form -->
                                    <div class="car-search-form">
                                        <h3>Coming soon...</h3>
                
                                    </div>
                                </div>
                            </div>
                            
                            <!--Tab-->
                            <div class="tab" id="others">
                                <div class="content">
                                    <!-- Car Search Form -->
                                    <div class="car-search-form">
                                        <h3>Coming soon...</h3>
                
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <!--End Product Info Tabs-->
                
            </div>
        </div>
    </section>
    <!--End Car Search Form-->

    <section class="popular-cars-section" id="searchSection" style="display:none">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side pull-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="our-shops">
                        <div class="row clearfix" id="drawSearchDiv">
                            <!--Sec Title-->
                            <div class="sec-title col-md-12" >
                                <h2 class="col-md-10" style="padding-left:0px" id="searchCount">SEARCH ()</h2>
                                <h2 class="col-md-2" onclick="$('#searchSection').hide()"><i class="fa fa-times"></i></h2>
                            </div>

                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Popular Bike Section-->
    <section class="popular-cars-section">
    	<div class="auto-container">
        	<!--Sec Title-->
    		<div class="sec-title centered">
            	<h2>Popular Bikes</h2>
            </div>
    		<!--End Sec Title-->
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="filter-tab-area text-center">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a data-toggle="tab" href="#newbike" role="tab">Bikes</a>
                            </li>
                            <li onclick="showMoreProduct('bike','2','1')">
                                <a data-toggle="tab" href="#oldbike" role="tab">Used Bikes</a>
                            </li>
                            <li onclick="lazyCall()">
                                <a data-toggle="tab" href="#bikeparts" role="tab">Bikes parts</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="tab-content filter-tab-content">
                        <!--~~~~~ Start Tab Pane ~~~~~--> 
                        <div class="tab-pane fade in active" id="newbike" role="tabpanel">                            
                            <div class="row" id="newBikeRow">
                                <!--Car Block-->
                                <% var i = 0; _.each(bikes.docs,function(v,k){ if(v.bike_condition == 1){ i++; %>
                                    <%- include('templates/mini_bike_template', v) %>
                                <% } }); %>
                            </div>
                            <% if(bikes.pages > 1){ %>
                                <button class="theme-btn btn-style-one showMoreBtn" onclick="showMoreProduct('bike','1','2')" id="show_more_bike_1_2"> <span class="icon fa fa-plus"> </span> Show More</button>
                            <% } %>
                        </div>
                        
                        <!--~~~~~ Start Tab Pane ~~~~~--> 
                        <div class="tab-pane fade" id="oldbike" role="tabpanel"> 
                            <div class="row" id="usedBikeRow">


                            </div>
                        </div>
                        
                        <!--~~~~~ Start Tab Pane ~~~~~--> 
                        <div class="tab-pane fade" id="bikeparts" role="tabpanel">  
                                <h3>Coming soon...</h3>                                     <div class="row">
                                <!--Car Block-->
                                <div class="car-block col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display:none">
                                    <div class="inner-box">
                                        <div class="image">
                                            <a href="inventory-single.html"><img class="lazy" data-src="/frontend/images/bike/4.jpg" alt="" /></a>
                                            <div class="price">$42000</div>
                                        </div>
                                        <h3><a href="inventory-single.html">BMW F12 6 Convertible</a></h3>
                                        <p class="showroom">Ex-showroom, Dhaka</p>
                                        <div class="lower-box">
                                            <ul class="car-info">
                                                <li><span class="fa fa-road icon"></span>26000</li>
                                                <li><span class="icon fa fa-car"></span>Diesel</li>
                                                <li><span class="icon fa fa-clock-o"></span>2014</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Popular Bike Section-->
    
    <!--Counter Section-->
    <section class="counter-section lazy" data-src="/frontend/images/background/1.webp">
    	<div class="auto-container">
        		
            <div class="fact-counter">
                <div class="row clearfix">
                
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="count-outer count-box">
                                	<div class="icon-box"><i class="fa fa-cube"></i></div>
                                    <span class="count-text" data-speed="1500" data-stop="<%= countData.totalBrand %>">0</span>
                                </div>
                                <h4 class="counter-title">Total Brand</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="count-outer count-box">
                                	<div class="icon-box"><i class="fa fa-motorcycle"></i></div>
                                    <span class="count-text" data-speed="1500" data-stop="<%= countData.totalBike %>">0</span>
                                </div>
                                <h4 class="counter-title">Total Bikes</h4>
                            </div>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="count-outer count-box">
                                	<div class="icon-box"><i class="fa fa-car"></i></div>
                                    <span class="count-text" data-speed="1500" data-stop="0">0</span>
                                </div>
                                <h4 class="counter-title">Total Cars</h4>
                            </div>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="count-outer count-box">
                                	<div class="icon-box"><i class="fa fa-building"></i></div>
                                    <span class="count-text" data-speed="1500" data-stop="<%= countData.totalShop %>">0</span>
                                </div>
                                <h4 class="counter-title">Our Shops</h4>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            
        </div>
    </section>
    <!--End Counter Section-->
    
    <!--Popular Cars Section Two-->
    <section class="popular-cars-section-two" style="display: none">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Popular Used Bikes</h2>
            </div>
            
            <!--Popular Used Tabs-->
            <div class="popular-used-car">
            
                <!--Tabs Box-->
                <div class="prod-tabs tabs-box">
                	<div class="text-center">
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#prod-city" class="tab-btn active-btn"><span class="text">By City</span><span class="icon flaticon-planet-earth"></span></li>
                            <li data-tab="#prod-brand" class="tab-btn"><span class="text">By Brand</span><span class="icon flaticon-check-2"></span></li>
                            <li data-tab="#prod-price" class="tab-btn"><span class="text">By Price</span><span class="icon fa fa-credit-card"></span></li>
                        </ul>
                    </div>
                    
                    <!--Tabs Container-->
                    <div class="tabs-content">
                        
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="prod-city">
                            <div class="content">
                                <div class="row clearfix">
                                
                                	<!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-statue-of-liberty"></span>
                                            </div>
                                            <h3><a href="#">Dhaka</a></h3>
                                        </div>
                                    </div>
                                    
                                    <!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-capitol"></span>
                                            </div>
                                            <h3><a href="#">Chittagong</a></h3>
                                        </div>
                                    </div>
                                    
                                    <!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-golden-gate-bridge"></span>
                                            </div>
                                            <h3><a href="#">Comilla</a></h3>
                                        </div>
                                    </div>
                                    
                                    <!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-space-needle"></span>
                                            </div>
                                            <h3><a href="#">Feni</a></h3>
                                        </div>
                                    </div>
                                    
                                    <!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-university"></span>
                                            </div>
                                            <h3><a href="#">Noakhali</a></h3>
                                        </div>
                                    </div>
                                    
                                    <!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-statue-of-liberty"></span>
                                            </div>
                                            <h3><a href="#">Rajshahi</a></h3>
                                        </div>
                                    </div>
                                    
                                    <!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-capitol-1"></span>
                                            </div>
                                            <h3><a href="shop.html">Sylhet</a></h3>
                                        </div>
                                    </div>
                                    
                                    <!--City Block-->
                                    <div class="city-block col-md-3 col-sm-4 col-xs-12">
                                    	<div class="inner-box">
                                        	<div class="icon-box">
                                            	<span class="icon flaticon-holidays"></span>
                                            </div>
                                            <h3><a href="shop.html">Khulna</a></h3>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="prod-brand">
                            <div class="content">
                                
                                <div class="row clearfix">
                                    <% _.each(allBrand,function(v,k){ %> 
                                        <!--Brand Block-->
                                        <div class="brand-block col-md-3 col-sm-4 col-xs-12">
                                        	<div class="inner-box">
                                            	<figure class="image"><a href="#"><img class="lazy" data-src="<%= v.brand_logo %>" alt=""></a></figure>
                                            </div>
                                        </div>

                                    <% }); %>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        <!--Tab-->
                        <div class="tab" id="prod-price">
                            <div class="content">
                                <div class="row clearfix">
                                
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">Under 1 Lakh</a>
                                        </div>
                                    </div>
                                    
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">Tk. 1 to Tk. 2 Lakhs</a>
                                        </div>
                                    </div>
                                    
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">Tk. 3 to Tk. 4 Lakhs</a>
                                        </div>
                                    </div>
                                    
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">Tk. 5 to Tk. 6 Lakhs</a>
                                        </div>
                                    </div>
                                    
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">Tk. 7 to Tk. 8 Lakhs</a>
                                        </div>
                                    </div>
                                    
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">Tk. 8 to Tk. 12 Lakhs</a>
                                        </div>
                                    </div>
                                    
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">Tk. 12 to Tk. 20 Lakhs</a>
                                        </div>
                                    </div>
                                    
                                    <!--Price Block-->
                                    <div class="price-block col-md-3 col-sm-4 col-xs-12">
                                        <div class="inner-box">
                                            <a href="#" class="text">20 Lakhs and Above</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--End Product Info Tabs-->
            
        </div>
    </section>
    <!--End Popular Cars Section Two-->
    
    <!--Services Section-->
    <section class="services-section" data-src="/frontend/images/background/2.webp);"  style="display: none">
    	<div class="auto-container">
        	<div class="row clearfix">
                <!--Services Block-->
                <div class="services-block col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="upper-box lazy" data-src="/frontend/images/resource/service-1.jpg">
                        	<div class="upper-content">
                            	<div class="icon-box">
                                	<span class="icon flaticon-transport"></span>
                                </div>
                                <h2><a href="inventory-single.html">Do You Want to Sell a Bike?</a></h2>
                                <div class="text">If you want to sell your beautiful Bike quickly, We will help you. You got a100% Reasonable price for your Bike.</div>
                                <div class="sell-now-btn">
                                    <a href="rsv-member/register" class="theme-btn btn-style-one">Sell Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            	<!--Services Block-->
                <div class="services-block col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="upper-box lazy" data-src="/frontend/images/resource/service-1.jpg">
                        	<div class="upper-content">
                            	<div class="icon-box">
                                	<span class="icon flaticon-buy-a-car"></span>
                                </div>
                                <h2><a href="inventory-single.html">Do You Want to Sell a Car?</a></h2>
                                <div class="text">If you want to sell your beautiful car quickly, We will help you. You got a100% Reasonable price for your car.</div>
                                <div class="sell-now-btn">
                                    <a href="rsv-member/register" class="theme-btn btn-style-one">Sell Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
    <!--Comparison Section-->
    <section class="comparison-section"  style="display: none">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title clearfix">
            	<h2>Latest Comparisons</h2>
                <div class="pull-right btn-outer">
                	<a href="#" class="theme-btn btn-style-two">Compare More <span class="fa fa-caret-right"></span></a>
                </div>
            </div>
            <div class="row clearfix">
            
            	<!--Comparison Block-->
                <div class="comparison-block col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<a href="vehicle-compare-2.html" class="overlay-link"></a>
                    	<div class="vs">Vs</div>
                    	<div class="clearfix">
                        	<div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/resource/car-9.png" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">ACURA RDX 2015 SE</div>
                                        <div class="price">700000 Taka</div>
                                        <div class="overlay-text">ACURA RDX 2015 SE</div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/resource/car-10.png" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">TOYOTA CAMRY 2016</div>
                                        <div class="price">700000 Taka</div>
                                        <div class="overlay-text">TOYOTA CAMRY 2016</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Comparison Block-->
                <div class="comparison-block col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<a href="vehicle-compare-2.html" class="overlay-link"></a>
                    	<div class="vs">Vs</div>
                    	<div class="clearfix">
                        	<div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/bike/1.jpg" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">ACURA RDX 2015 SE</div>
                                        <div class="price">180000 Taka</div>
                                        <div class="overlay-text">ACURA RDX 2015 SE</div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/bike/2.jpg" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">TOYOTA CAMRY 2016</div>
                                        <div class="price">180000 Taka</div>
                                        <div class="overlay-text">TOYOTA CAMRY 2016</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Comparison Block-->
                <div class="comparison-block col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<a href="vehicle-compare-2.html" class="overlay-link"></a>
                    	<div class="vs">Vs</div>
                    	<div class="clearfix">
                        	<div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/bike/3.jpg" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">ACURA RDX 2015 SE</div>
                                        <div class="price">250000 Taka</div>
                                        <div class="overlay-text">ACURA RDX 2015 SE</div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/bike/4.jpg" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">TOYOTA CAMRY 2016</div>
                                        <div class="price">250000 Taka</div>
                                        <div class="overlay-text">TOYOTA CAMRY 2016</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Comparison Block-->
                <div class="comparison-block col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<a href="vehicle-compare-2.html" class="overlay-link"></a>
                    	<div class="vs">Vs</div>
                    	<div class="clearfix">
                        	<div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/resource/car-14.png" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">ACURA RDX 2015 SE</div>
                                        <div class="price">950000 Taka</div>
                                        <div class="overlay-text">ACURA RDX 2015 SE</div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-car-block col-md-6 col-sm-6 col-xs-12">
                            	<div class="inner">
                                	<div class="image">
                                    	<img class="lazy" data-src="/frontend/images/resource/car-15.png" alt="" />
                                    </div>
                                    <div class="lower-box">
                                    	<div class="car-name">TOYOTA CAMRY 2016</div>
                                        <div class="price">950000 Taka</div>
                                        <div class="overlay-text">TOYOTA CAMRY 2016</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Comparison Section-->
    
    <!--Offer Section-->
    <section class="offer-section"  style="display: none">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title light centered">
            	<h2>Special Offers</h2>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme">
            
            	<!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-16.png" alt="" /></a>
                            <div class="price">1.5 <span class="percent">% <br> APR</span></div>
                        </div>
                        <h3><a href="#">BMW F12 6 Series Midsized <br> Convertible</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">700000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>26000</li>
                                <li><span class="icon fa fa-car"></span>Diesel</li>
                                <li><span class="icon fa fa-clock-o"></span>2014</li>
                                <li><span class="icon fa fa-gear"></span>Automatic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-17.png" alt="" /></a>
                        </div>
                        <h3><a href="#">Volkswagen Touareg Personal Luxuary Car</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">700000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>41500</li>
                                <li><span class="icon fa fa-car"></span>petrol</li>
                                <li><span class="icon fa fa-clock-o"></span>2010</li>
                                <li><span class="icon fa fa-gear"></span>Manual</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-18.png" alt="" /></a>
                        </div>
                        <h3><a href="#">Renault Dauphine Campact car Sedan</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">700000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>15000</li>
                                <li><span class="icon fa fa-car"></span>Deisel</li>
                                <li><span class="icon fa fa-clock-o"></span>2015</li>
                                <li><span class="icon fa fa-gear"></span>Automatic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-16.png" alt="" /></a>
                            <div class="price">1.5 <span class="percent">% <br> APR</span></div>
                        </div>
                        <h3><a href="#">BMW F12 6 Series Midsized <br> Convertible</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">900000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>26000</li>
                                <li><span class="icon fa fa-car"></span>Diesel</li>
                                <li><span class="icon fa fa-clock-o"></span>2014</li>
                                <li><span class="icon fa fa-gear"></span>Automatic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-17.png" alt="" /></a>
                        </div>
                        <h3><a href="#">Volkswagen Touareg Personal Luxuary Car</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">900000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>41500</li>
                                <li><span class="icon fa fa-car"></span>petrol</li>
                                <li><span class="icon fa fa-clock-o"></span>2010</li>
                                <li><span class="icon fa fa-gear"></span>Manual</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-18.png" alt="" /></a>
                        </div>
                        <h3><a href="#">Renault Dauphine Campact car Sedan</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">900000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>15000</li>
                                <li><span class="icon fa fa-car"></span>Deisel</li>
                                <li><span class="icon fa fa-clock-o"></span>2015</li>
                                <li><span class="icon fa fa-gear"></span>Automatic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-16.png" alt="" /></a>
                            <div class="price">1.5 <span class="percent">% <br> APR</span></div>
                        </div>
                        <h3><a href="#">BMW F12 6 Series Midsized <br> Convertible</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">850000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>26000</li>
                                <li><span class="icon fa fa-car"></span>Diesel</li>
                                <li><span class="icon fa fa-clock-o"></span>2014</li>
                                <li><span class="icon fa fa-gear"></span>Automatic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-17.png" alt="" /></a>
                        </div>
                        <h3><a href="#">Volkswagen Touareg Personal Luxuary Car</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">850000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>41500</li>
                                <li><span class="icon fa fa-car"></span>petrol</li>
                                <li><span class="icon fa fa-clock-o"></span>2010</li>
                                <li><span class="icon fa fa-gear"></span>Manual</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Offer Block-->
                <div class="offer-block">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img class="lazy" data-src="/frontend/images/resource/car-18.png" alt="" /></a>
                        </div>
                        <h3><a href="#">Renault Dauphine Campact car Sedan</a></h3>
                        <div class="lower-box">
                        	<div class="plus-box">
                            	<span class="icon fa fa-plus"></span>
                                <ul class="tooltip-data">
                                	<li>5 Years Warranty</li>
                                    <li>Free Registration</li>
                                    <li>Free 2 Years Services</li>
                                </ul>
                            </div>
                        	<div class="lower-price">850000 Taka</div>
                            <ul>
                            	<li><span class="icon fa fa-road"></span>15000</li>
                                <li><span class="icon fa fa-car"></span>Deisel</li>
                                <li><span class="icon fa fa-clock-o"></span>2015</li>
                                <li><span class="icon fa fa-gear"></span>Automatic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Offer Section-->
    
    <!--Choose Section-->
    <section class="choose-section lazy" data-src="/frontend/images/background/3.webp" style="display: none;">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title style-two">
            	<h2>Why Choose Us</h2>
            </div>
            <div class="row clearfix">
            
            	<!--Services Block-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-car-washing"></span></div>
                    	<h3><a href="services.html">Auto Loan Facility</a></h3>
                        <div class="sub-title">Easy Finance</div>
                        <div class="text">How all this mistakens idea off ut denouncing pleasures and praisings ut pain.</div>
                        <ul>
                        	<li>Professional Finance</li>
                            <li>Affordable EMI</li>
                            <li>Less Interest Rate</li>
                        </ul>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-contract"></span></div>
                    	<h3><a href="services.html">Free Documentation</a></h3>
                        <div class="sub-title">No Hidden Charges</div>
                        <div class="text">Denouncing pleasures and ut praisings pains was born work will gives you.</div>
                        <ul>
                        	<li>Quick Documentation</li>
                            <li>Very Confidential</li>
                            <li>On Time Processing</li>
                        </ul>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-telemarketer"></span></div>
                    	<h3><a href="services.html">Customer Support</a></h3>
                        <div class="sub-title">24/7 Online Support</div>
                        <div class="text">Idea of denouncing pleasure ut and praisings pain born and system and expound.</div>
                        <ul>
                        	<li>Experienced Team</li>
                            <li>Humble Talk</li>
                            <li>Quick Response</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Choose Section-->


    <% if(blog.length > 0){ %>
        <!--News Section-->
        <section class="news-section">
            <div class="auto-container">
                <!--Sec Title-->
                <div class="sec-title centered">
                    <h2>Latest News</h2>
                </div>
                <div class="row clearfix">
                    <% _.each(blog,function(v,k){ %> 
                        <%- include('./templates/blog_post_mini', {data:v,k:k}); %>
                    <% }); %>
                    
                </div>
            </div>
        </section>
        <!--End News Section-->
        <% } %>


        <%- include('templates/trusted_com') %>

        <!--Testimonial Section-->
        <section class="testimonial-section">
                <div class="auto-container">
                    <!--Sec Title-->
                    <div class="sec-title centered">
                        <h2>Customer Feedback</h2>
                    </div>
                    <div class="testimonial-carousel owl-carousel owl-theme">
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/1.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">They have got my project time with the competition with a highly skilled, well organized and experienced team professional mates praising.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Sariful Islam</h3>
                                        <div class="location">Dhaka</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/2.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">How this mistaken idea denouncing pleasure and praising pain was born and will give you complete account  the system expound great.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Dalim Chy Jony</h3>
                                        <div class="location">Feni</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/3.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">There anyone who loves or pursues or desires obtain pain itself, because it  pain, but because occasionally occur  which toil and pain procure.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>A.H Nayeem</h3>
                                        <div class="location">Noakhali</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/4.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">They have got my project time with the competition with a highly skilled, well organized and experienced team professional mates praising.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Pohel  Shawdagar</h3>
                                        <div class="location">Feni</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/5.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">How this mistaken idea denouncing pleasure and praising pain was born and will give you complete account  the system expound great.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Imran Chy</h3>
                                        <div class="location">Noakhali</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/6.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">There anyone who loves or pursues or desires obtain pain itself, because it  pain, but because occasionally occur  which toil and pain procure.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Robi Ul Alam</h3>
                                        <div class="location">Comilla</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/7.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">They have got my project time with the competition with a highly skilled, well organized and experienced team professional mates praising.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Dipok Chakraborty</h3>
                                        <div class="location">Feni</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/8.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">How this mistaken idea denouncing pleasure and praising pain was born and will give you complete account  the system expound great.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Sojai Hossain</h3>
                                        <div class="location">Comilla</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Testimonial Block-->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img class="lazy" data-src="/frontend/images/resource/roadster/9.jpg" alt="" />
                                </div>
                                <div class="quote-icon"><span class="icon flaticon-double-quotes"></span></div>
                                <div class="text">There anyone who loves or pursues or desires obtain pain itself, because it  pain, but because occasionally occur  which toil and pain procure.</div>
                                <div class="lower-box clearfix">
                                    <div class="pull-left">
                                        <h3>Saiful Islam</h3>
                                        <div class="location">Comilla</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="light fa fa-star-half-o"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!--End Testimonial Section-->


<%- include('layouts/foot') %>