<%- include('layouts/head') %>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title lazy" data-src="/frontend/images/background/5.webp">
        <div class="auto-container">
            <h1>Offer</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="/">Home</a></li>
                <li class="current">Offer</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    <link rel="stylesheet" type="text/css" href="/frontend/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/frontend/css/component.css" />
    <script src="/frontend/js/modernizr.custom.js"></script>
        <!--Popular Bike Section-->
        <section class="popular-cars-section">
            <div class="auto-container">
                <!--End Sec Title-->
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <div class="filter-tab-area text-center">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a data-toggle="tab" href="#offerBike" role="tab">Bikes</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#offerCar" role="tab">Cars</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="tab-content filter-tab-content">
                            <!--~~~~~ Start Tab Pane ~~~~~--> 
                            <div class="tab-pane fade in active" id="offerBike" role="tabpanel">                            
                                <div class="row" id="offerBike_row">
                                    <!--Car Block-->
                                    <% var i = 0; _.each(bikes.docs,function(v,k){ if(v.bike_condition == 1){ i++; %>
                                        <%- include('templates/mini_bike_template', v) %>
                                    <% } }); %>
                                </div>
                                <% if(bikes.pages > 1){ %>
                                    <button class="theme-btn btn-style-one showMoreBtn" onclick="showMoreProduct('offerBike','1','2')" id="show_more_bike_1_2"> <span class="icon fa fa-plus"> </span> Show More</button>
                                <% } %>
                            </div>
                            
                            <!--~~~~~ Start Tab Pane ~~~~~--> 
                            <div class="tab-pane fade" id="offerCar" role="tabpanel"> 
                                <div class="row" id="offerCar_row">
                                    <h4>Comming soon ...</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Popular Bike Section-->
    
    <!--Main Footer-->
<%- include('layouts/foot') %>

<script src="/frontend/js/masonry.pkgd.min.js"></script>
<script src="/frontend/js/imagesloaded.js"></script>
<script src="/frontend/js/classie.js"></script>
<script src="/frontend/js/AnimOnScroll.js"></script>
<script>
    new AnimOnScroll( document.getElementById( 'offerGridContainer' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
    } );
</script>