<%- include('layouts/head') %>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title lazy" data-src="/frontend/images/background/5.webp">
        <div class="auto-container">
            <h1>Products</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="/">Home</a></li>
                <li class="current">Products</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <%- include('templates/products_sidebar') %>
                <!--Content Side-->
                <div class="content-side pull-right col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="our-shops">
                        <div class="row clearfix" id="filtrdProducts" style="display: none">
                            <!--Sec Title-->
                            <div class="sec-title centered">
                                <h2 id="searchResults"></h2>
                            </div>
                            
                        </div>
                        <!--End Sec Title-->
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <div class="filter-tab-area text-center">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active">
                                                <a data-toggle="tab" href="#newbike" role="tab">Bikes</a>
                                            </li>
                                            <li onclick="showMoreProduct('bike','2','1')">
                                                <a data-toggle="tab" href="#oldbike" role="tab">Used Bikes</a>
                                            </li>
                                            <li onclick="lazyCall()">
                                                <a data-toggle="tab" href="#bikeparts" role="tab">Bikes parts</a>
                                            </li>
                                        </ul>
                                </div>
                                
                                <div class="tab-content filter-tab-content">
                                        <!--~~~~~ Start Tab Pane ~~~~~--> 
                                        <div class="tab-pane fade in active" id="newbike" role="tabpanel">                            
                                            <div class="row" id="newBikeRow">
                                                <!--Car Block-->
                                                <% _.each(bikes.docs,function(v,k){ if(v.bike_condition == 1){ %>
                                                    <%- include('templates/mini_3_bike_template', v) %>
                                                <% } }); %>
                                                <% if(bikes.pages > 1){ %>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <button class="theme-btn btn-style-one showMoreBtn" onclick="showMoreProduct('bike','1','2')" id="show_more_bike_1_2"> <span class="icon fa fa-plus"> </span> Show More</button>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                        
                                        <!--~~~~~ Start Tab Pane ~~~~~--> 
                                        <div class="tab-pane fade" id="oldbike" role="tabpanel"> 
                                            <div class="row" id="usedBikeRow">

                                        </div>
                                    </div>
                                    
                                    <!--~~~~~ Start Tab Pane ~~~~~--> 
                                    <div class="tab-pane fade" id="bikeparts" role="tabpanel">  
                                            <h3>Coming soon...</h3>                                     <div class="row">
                                            <!--Car Block-->
                                            <div class="car-block col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display:none">
                                                <div class="inner-box">
                                                    <div class="image">
                                                        <a href="inventory-single.html"><img class="lazy" data-src="/frontend/images/bike/4.jpg" alt="" /></a>
                                                        <div class="price">$42000</div>
                                                    </div>
                                                    <h3><a href="inventory-single.html">BMW F12 6 Convertible</a></h3>
                                                    <p class="showroom">Ex-showroom, Dhaka</p>
                                                    <div class="lower-box">
                                                        <ul class="car-info">
                                                            <li><span class="fa fa-road icon"></span>26000</li>
                                                            <li><span class="icon fa fa-car"></span>Diesel</li>
                                                            <li><span class="icon fa fa-clock-o"></span>2014</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Main Footer-->
<%- include('layouts/foot') %>