<%- include('layouts/head') %>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title lazy" data-src="/frontend/images/background/5.webp">
        <div class="auto-container">
            <h1>Showrooms</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="/">Home</a></li>
                <li class="current">Showrooms</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <%- include('templates/t-shop_sidebar') %>
                <!--Content Side-->
                <div class="content-side pull-right col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="our-shops">
                        <div class="row clearfix" id="filterShop" style="display: none">
                            <!--Sec Title-->
                            <div class="sec-title centered">
                                <h2 id="searchResults"></h2>
                            </div>
                            
                        </div>

                        <div class="row clearfix" id="ourShop">
                            <!--Sec Title-->
                            <div class="sec-title centered">
                                <h2>Showrooms</h2>
                            </div>

                            <% _.each(allShop,function(v,k){ %>
                                <div class="car-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <a href="/showroom/<%= v.shop_url %>"><img class="lazy" data-src="/images/uploads/<%= v.shop_img %>" alt="" /></a>
                                        </div>
                                        <h3><a href="/showroom/<%= v.shop_url %>"><%= v.shop_name %></a></h3>
                                        <p class="showroom _location_<%= v.shop_id %>"></p>
                                        <p class="showroom _shopContact_<%= v.shop_id %>"></p>
                                    </div>
                                </div>
                            <% }); %>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Main Footer-->
<%- include('layouts/foot') %>