<%- include('layouts/head') %>
    <!--End Main Header -->
    <section class="page-title" style="padding: 0px;overflow-x: hidden;">
        <div class="row">
            <div class="banner_group" style="overflow: hidden;">
                <div class="col-md-12" style="padding-right:0;">
                    <% if(shopD.google_iframe != null && shopD.google_iframe != '' ){ %> 
                    <div class="shop_banner lazy halfWidth" data-src="/images/uploads/<%= shopD.shop_cover_img %>">
                    <% }else{ %> 
                    <div class="shop_banner lazy fullWidth" data-src="/images/uploads/<%= shopD.shop_cover_img %>">
                    <% } %>
                        <div class="shop_logo">
                            <img class="lazy" data-src="/images/uploads/<%= shopD.shop_img %>" style="max-height: 100%; max-width: 100%;">
                        </div>
                        <h3 class="shop_name"><%= shopD.shop_name %></h3>
                        <p class="shop_name _shopContact _shopContact_<%= shopD.shop_id %>"></p>
                        <p class="shop_name _shopEmail"><%= shopD.shop_email %></p>
                        <p class="shop_name _location _location_<%= shopD.shop_id %>"></p>
                        <div class="fb_like_btn">
                            <div class="fb-like" data-href="<%= shopD.facebook_page %>" data-width="200" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        </div>
                    </div>

                    <% if(shopD.google_iframe != null && shopD.google_iframe != ''){ %> 

                        <div id="google_iframHolder"><%- shopD.google_iframe %></div>
                    <% } %>

                </div>
                <div class="col-md-3" style="display:none;width:24.333%;padding-right:0;padding-left:0;background-color:darkcyan">
                    <h3 style="height: 70px;line-height: 70px;font-weight: 600;background-color:#ff5555;color: #FFF;padding-left: 0" class="text-center">Facilities</h3>
                    <div style="width: 100%;height:330px;background-color:#FFF">
                        <ul>
                            <% if(shopD.emi_facilities != null){ %> 
                            <li style="list-style: none;padding: 10px;display: flex;align-items: center;"><span style="display: block;width: 15px;height:15px;border-radius:50%;border:5px solid #ff5555;float: left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></span><span style="float: left;margin-left: 15px;text-transform: capitalize;font-weight: 600;">EMI Facilities: <%= shopD.emi_facilities %></span></li>

                            <% } %>

                            <% if(shopD.warranty != null){ %> 
                            <li style="list-style: none;padding: 10px;display: flex;align-items: center;"><span style="display: block;width: 15px;height:15px;border-radius:50%;border:5px solid #ff5555;float: left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></span><span style="float: left;margin-left: 15px;text-transform: capitalize;font-weight: 600;">Warranty: <%= shopD.warranty %></span></li>
                            <% } %>

                            <% if(shopD.installment_facilities != null){ %> 
                            <li style="list-style: none;padding: 10px;display: flex;align-items: center;"><span style="display: block;width: 15px;height:15px;border-radius:50%;border:5px solid #ff5555;float: left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></span><span style="float: left;margin-left: 15px;text-transform: capitalize;font-weight: 600;">Installment Facilities</span></li>
                             <% } %>
                        </ul>
                        <% if(shopD.google_location !== null){ %> 

                            <div class="google_lo_main google_location" onclick="window.open('<%= shopD.google_location %>')" style="display: none;">
                                <h1 class=" location_title shop_title"><%= shopD.shop_name %></h1>
                                <p class=" google_locationAdd shop_name _location _location_<%= shopD.shop_id %>"></p>
                            </div>
                        <% } %>
                        <% if(shopD.google_iframe !== null){ %> 

                            <div><%- shopD.google_iframe %></div>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <%- include('templates/shop_sidebar') %>
                <!--Content Side-->
                <div class="content-side pull-right col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="our-shops">
                        <div class="row clearfix" id="filtrdProducts" style="display: none">
                            <!--Sec Title-->
                            <div class="sec-title centered">
                                <h2 id="searchResults"></h2>
                            </div>
                        </div>
                        <!--End Sec Title-->
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <div class="filter-tab-area text-center">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active" onclick="changeBikeTab()">
                                            <a data-toggle="tab" href="#newbike" role="tab">Bikes</a>
                                        </li>
                                        <li onclick="lazyCall()">
                                            <a data-toggle="tab" href="#Offers" role="tab">Offers</a>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="tab-content filter-tab-content">
                                    <!--~~~~~ Start Tab Pane ~~~~~--> 
                                    <div class="tab-pane fade in active" id="newbike" role="tabpanel">                            
                                        <div class="row">
                                            <% _.each(allBike,function(v,k){ if(v.bike_offer == false){%>
                                                <%- include('templates/mini_3_bike_template', v) %>
                                            <% }}); %>  
                                        </div>
                                    </div>
                                    
                                    <!--~~~~~ Start Tab Pane ~~~~~--> 
                                    <div class="tab-pane fade" id="Offers" role="tabpanel">  
                                        <div class="row">
                                            <!--Car Block-->
                                            <% _.each(allBike,function(v,k){ if(v.bike_offer == true){%>
                                                <%- include('templates/mini_3_bike_template', v) %>
                                            <% }}); %>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Styled Pagination-->
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input type="hidden" value="<%= shopD.shop_id %>" id="product_owner_id">
    <input type="hidden" value="<%= shopD.shop_img %>" id="productShopImage">
    <!--End Sidebar Page Container-->
    
    <!--Main Footer-->
<%- include('layouts/foot') %>
