<%- include('layouts/head') %>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title lazy" data-src="/frontend/images/background/5.webp">
        <div class="auto-container">
            <h1><a href="/showroom/<%= shopD.shop_url %>"><%= shopD.shop_name%></a></h1>
        </div>
    </section>
    <!--End Page Title-->
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li class="current"><%= bike.bike_name%></li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side-->
                <div class="content-side col-lg-12 col-md-12 col-sm-12 col-xs-12">
                	<div class="shop-single">
                    	<div class="product-details">
                        	
                            <!--Basic Details-->
                            <div class="basic-details">
                                <div class="row clearfix">
                                    <div class="image-column col-md-5 col-sm-6 col-xs-12">
                                        <figure class="image-box">
                                            <div class="">
                                                <a href="/images/uploads/<%= bike.feature_img%>">
                                                    <img class="lazy" data-src="/images/uploads/<%= bike.feature_img%>" alt="" width="640" height="360" lt="bike gear by Markus Spiske" data-big="/images/uploads/<%= bike.feature_img%>"  id="gear"/>
                                                </a>
                                            </div>
                                        </figure>
                                        <ul class="thumbnails" style="display: flex; align-items: center; height: 110px;">
                                            <li style="width: 100px;float:left;height: 80px;margin-right:10px">
                                                <a data-standard="/images/uploads/<%= bike.feature_img%>">
                                                    <img onclick="previewPro(this)" style="height:100%;width:100%" src="/images/uploads/<%= bike.feature_img %>" alt="" />
                                                </a>
                                            </li>
                                            <% var f = bike.feature_img;  _.each(bike.img_gallery,function(v,k){if(v != f){ %> 
                                                <li style="width: 100px;float:left;height: 80px;margin-right:10px">
                                                    <a  data-standard="/images/uploads/<%= v %>">
                                                        <img onclick="previewPro(this)" style="height:100%;width:100%" src="/images/uploads/<%= v %>" alt="" />
                                                    </a>
                                                </li>
                                            <% } }); %>
                                        </ul>
                                    </div>
                                    
                                    <div class="info-column col-md-7 col-sm-6 col-xs-12">
                                        <div class="details-header">
                                            <h4><%= bike.bike_name%> <span class="name_lable"><% if(bike.bike_condition == 1){ %>New<% }else{ %>Used<% } %></span> <% if(bike.bike_offer){%> <span class="name_lable">Offer</span> <%}%></h4>
                                         
                                            <div class="item-price"> Standard Overview </div>
                                        </div>
                                        <div class="row">
                                        <% if(bike.bike_condition == 1){%>
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top:none">Engine Disp.(CC)</td>
                                                            <td style="border-top:none">: <%= bike.engine.displacement_cc %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Mileage (Kmpl)</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.engine.mileage_kmpl %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Fuel System</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.engine.fuel_system %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Fuel Type</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.engine.fuel_type %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Wheels Type</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.wheels_n_tires.wheels_type %></td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top:none">Max Power</td>
                                                            <td style="border-top:none">: <%= bike.engine.maximum_power %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Gear Box</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.transmission.no_of_gears %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">ABS</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.brakes.anti_lock_braking_system_ABS %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Standard Warranty </td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.bike_overview.standard_warranty_years %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Starter System</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.bike_overview.starting_method %></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% }else{ %> 
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top:none">Engine Disp.(CC)</td>
                                                            <td style="border-top:none">: <%= bike.engine.displacement_cc %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Mileage (Kmpl)</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.engine.mileage_kmpl %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Registration (Year)</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.bike_overview.registration_y %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Owner Type</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.bike_overview.owner_type %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Condition</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.bike_overview.condition %></td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top:none">Max Power</td>
                                                            <td style="border-top:none">: <%= bike.engine.maximum_power %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Gear Box</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.transmission.no_of_gears %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Fuel Type</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.engine.fuel_type %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Starter System</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.bike_overview.starting_method %></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top:1px solid #f2f2f2">Reg Number</td>
                                                            <td style="border-top:1px solid #f2f2f2">: <%= bike.bike_overview.reg_number %></td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% } %>
                                        </div>
										<div class="other-options clearfix">
                                            <div class="item-quantity" style="width:auto">
                                                <% if(bike.bike_offer){ %> 
                                                
                                                    <button type="button" class="theme-btn btn-style-one add-to-cart" style="text-decoration: line-through;color:#000;background:#fff;">Tk <%= bike.bike_price %>.00</button>
                                                    <button type="button" class="theme-btn btn-style-one add-to-cart" >Tk <%= bike.discount_price %>.00</button>
                                                <% }else{ %> 
                                                    <button type="button" class="theme-btn btn-style-one add-to-cart">Tk <%= bike.bike_price %>.00</button>
                                                <% } %>
                                            </div>
                                            <button type="button" onclick="showBooking()" class="theme-btn btn-style-one add-to-cart">Book Now</button>
                                        </div>
									</div>
                                </div>
                            </div>
                            <!--Basic Details-->
                            <h4 style="margin-bottom: 20px !important;font-size: 24px;font-weight: 600;margin: -5px 0px 5px;line-height: 1.4em;color: #232527;"><%= bike.bike_name%> Specifications & Features</h4>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0px 0px; background-color:#FF5555">
                                                        <h4 class="panel-title" coll_type="minus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display: block; color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;padding-left: 24px;" href="#collapse1" aria-expanded="true">Bikes Overview</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse in" style="padding: 0 15px" aria-expanded="true">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Brand Name</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.brand_name %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Starting Method</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.starting_method %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Cooling System</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.cooling_system %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Engine Oil Recommendtion</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.engine_oil_recommendtion %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Top Speed</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.top_speed %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Standard Warranty (Years)</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.standard_warranty_years %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Standard Warranty (Km)</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.standard_warranty_km %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Model Year</td>
                                                                    <td class="col-md-6"><%= bike.bike_overview.model_year %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">                                    
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse2">Engine</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Engine Description</td>
                                                                    <td class="col-md-6"><%= bike.engine.engine_desc %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Maximum Power</td>
                                                                    <td class="col-md-6"><%= bike.engine.maximum_power %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Minimum Torque</td>
                                                                    <td class="col-md-6"><%= bike.engine.minimum_torque %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Bore</td>
                                                                    <td class="col-md-6"><%= bike.engine.bore %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Stroke</td>
                                                                    <td class="col-md-6"><%= bike.engine.stroke %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Compression Ratio</td>
                                                                    <td class="col-md-6"><%= bike.engine.compression_ratio %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Displacement CC</td>
                                                                    <td class="col-md-6"><%= bike.engine.displacement_cc %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Ignition</td>
                                                                    <td class="col-md-6"><%= bike.engine.ignition %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">No of Cylinders</td>
                                                                    <td class="col-md-6"><%= bike.engine.no_of_cylinders %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Fuel System</td>
                                                                    <td class="col-md-6"><%= bike.engine.fuel_system %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Fuel Type</td>
                                                                    <td class="col-md-6"><%= bike.engine.fuel_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Valves Per Cylinder</td>
                                                                    <td class="col-md-6"><%= bike.engine.valves_percylinder %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">                                    
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse3">Transmission</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Transmission Type</td>
                                                                    <td class="col-md-6"><%= bike.transmission.transmission_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">No of Gears</td>
                                                                    <td class="col-md-6"><%= bike.transmission.no_of_gears %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Clutch Type</td>
                                                                    <td class="col-md-6"><%= bike.transmission.clutch_type %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">                    
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse4">Chassis & Suspension</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse4" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Chassis Type</td>
                                                                    <td class="col-md-6"><%= bike.chassis_n_suspension.chassis_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Suspension Front</td>
                                                                    <td class="col-md-6"><%= bike.chassis_n_suspension.suspension_front %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Suspension Rear</td>
                                                                    <td class="col-md-6"><%= bike.chassis_n_suspension.suspension_rear %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">                                
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse5">Brakes</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse5" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Front Brake Type</td>
                                                                    <td class="col-md-6"><%= bike.brakes.front_brake_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Rear Brake Type</td>
                                                                    <td class="col-md-6"><%= bike.brakes.rear_brake_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Front Brake Diameter</td>
                                                                    <td class="col-md-6"><%= bike.brakes.front_brake_diameter %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Rear Brake Diameter</td>
                                                                    <td class="col-md-6"><%= bike.brakes.rear_brake_diameter %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Anti Lock Braking System (ABS)</td>
                                                                    <td class="col-md-6"><%= bike.brakes.anti_lock_braking_system_ABS %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse6">Wheels & Tires</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse6" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Tire Size Front</td>
                                                                    <td class="col-md-6"><%= bike.wheels_n_tires.tire_size_front %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Tire Size Rear</td>
                                                                    <td class="col-md-6"><%= bike.wheels_n_tires.tire_size_rear %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Tire Type</td>
                                                                    <td class="col-md-6"><%= bike.wheels_n_tires.tire_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Wheels Size Front</td>
                                                                    <td class="col-md-6"><%= bike.wheels_n_tires.wheels_size_front %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Wheels Size Rear</td>
                                                                    <td class="col-md-6"><%= bike.wheels_n_tires.wheels_size_rear %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Wheels Type</td>
                                                                    <td class="col-md-6"><%= bike.wheels_n_tires.wheels_type %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">            
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse7">Dimensions</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse7" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Overall Length</td>
                                                                    <td class="col-md-6"><%= bike.wheels_n_tires.overall_length %>                                                  </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Overall Width</td>
                                                                    <td class="col-md-6"><%= bike.dimensions.overall_width %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Overall Height</td>
                                                                    <td class="col-md-6"><%= bike.dimensions.overall_height %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Ground Clearance</td>
                                                                    <td class="col-md-6"><%= bike.dimensions.ground_clearance %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Weight</td>
                                                                    <td class="col-md-6"><%= bike.dimensions.weight %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Fuel Tank Capacity</td>
                                                                    <td class="col-md-6"><%= bike.dimensions.fuel_tank_capacity %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Wheelbase (mm)</td>
                                                                    <td class="col-md-6"><%= bike.dimensions.wheelbase_mm %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Seat Height (mm)</td>
                                                                    <td class="col-md-6"><%= bike.dimensions.seat_height_mm %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-group" style="margin-bottom: 5px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse8">Electricals</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse8" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Battery Type</td>
                                                                    <td class="col-md-6"><%= bike.electricals.battery_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Battery Voltage</td>
                                                                    <td class="col-md-6"><%= bike.electricals.battery_voltage %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Head Light</td>
                                                                    <td class="col-md-6"><%= bike.electricals.head_light %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Tail Light</td>
                                                                    <td class="col-md-6"><%= bike.electricals.tail_light %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Indicators</td>
                                                                    <td class="col-md-6"><%= bike.electricals.indicators %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Pilot Lamps</td>
                                                                    <td class="col-md-6"><%= bike.electricals.pilot_lamps %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-group" style="margin-bottom: 20px;box-shadow: 0px 0px 12px 0px rgba(240,240,240,1);">
                                                <div class="panel panel-default panel_custom" style="border-radius:1px !important">
                                                    <div class="panel-heading" style="border-radius: 1px 1px 0 0;background-color:#fff;">
                                                        <h4 class="panel-title" coll_type="plus">
                                                            <img class="plus_panel" src="/images/plusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <img class="minus_panel" src="/images/minusS.svg" alt="" style="width: 17px;height:17px;position:absolute;top: 2px;left: 1px;">
                                                            <a data-toggle="collapse" onclick="exp_panel(this)" style="display:block;color:#FF5555;font-weight:700;text-transform:uppercase;padding-left: 24px;" href="#collapse9">Features</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse9" class="panel-collapse collapse" style="padding: 0 15px">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-6">Speedometer</td>
                                                                    <td class="col-md-6"><%= bike.features.speedometer %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Odometer</td>
                                                                    <td class="col-md-6"><%= bike.features.odometer %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">RPM Meter</td>
                                                                    <td class="col-md-6"><%= bike.features.rpm_meter %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Handle Type</td>
                                                                    <td class="col-md-6"><%= bike.features.handle_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Seat Type</td>
                                                                    <td class="col-md-6"><%= bike.features.seat_type %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Passenger Grab Rail</td>
                                                                    <td class="col-md-6"><%= bike.features.passenger_grab_rail %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Engine Kill Switch</td>
                                                                    <td class="col-md-6"><%= bike.features.engine_kill_switch %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Digital Fuel Indicators</td>
                                                                    <td class="col-md-6"><%= bike.features.digital_fuel_indicators %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Low Fuel Warning Lamp</td>
                                                                    <td class="col-md-6"><%= bike.features.low_fuel_warning_lamp %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Pass Switch</td>
                                                                    <td class="col-md-6"><%= bike.features.pass_switch %></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-6">Tachometer</td>
                                                                    <td class="col-md-6"><%= bike.features.tachometer %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" style="">
                                    <% var alltube= 0; if(tubeLink.length > 0){ _.each(tubeLink,function(v,k){ if(v.link != ""){ alltube++; %> 

                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe data-loader="youtube" data-src="<%= v.link %>"  width="100%" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <% }}); if(alltube == 0){%> 

                                    <%} %> 

                                    <% }else{ %> 

                                    <% } %>
                                </div>
                            </div>
                            
                            <!--Product Info Tabs-->
                            <div class="product-info-tabs" style="display: none">
                                <!--Product Tabs-->
                                <div class="prod-tabs tabs-box">
                                
                                    <!--Tab Btns-->
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li data-tab="#prod-details" class="tab-btn active-btn">Description</li>
                                        <li data-tab="#prod-reviews" class="tab-btn">Reviews (2)</li>
                                    </ul>
                                    
                                    <!--Tabs Container-->
                                    <div class="tabs-content">
                                        
                                        <!--Tab / Active Tab-->
                                        <div class="tab active-tab" id="prod-details">
                                            <div class="content">
                                                <p><%= bike.long_desc %></p>
                                            </div>
                                        </div>
                                        
                                        <!--Tab-->
                                        <div class="tab" id="prod-reviews">
                                        	<h2 class="title">2 Reviews For win Your Friends</h2>
                                            <!--Reviews Container-->
                                            <div class="comments-area">
                                                <!--Comment Box-->
                                                <div class="comment-box">
                                                    <div class="comment">
                                                        <div class="author-thumb"><img class="lazy" data-src="/frontend/images/resource/roadster/6.jpg" alt=""></div>
                                                        <div class="comment-inner">
                                                            <div class="comment-info clearfix"> Robi Ul Alam – Jan 17, 2011:</div>
                                                            <div class="rating">
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star light"></span>
                                                            </div>
                                                            <div class="text">How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Comment Box-->
                                                <div class="comment-box reply-comment">
                                                    <div class="comment">
                                                        <div class="author-thumb"><img class="lazy" data-src="/frontend/images/resource/roadster/2.jpg" alt=""></div>
                                                        <div class="comment-inner">
                                                            <div class="comment-info clearfix">Dalim Chy – June 21, 2019:</div>
                                                            <div class="rating">
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star-half-empty"></span>
                                                            </div>
                                                            <div class="text">There anyone who loves or pursues or desires to obtain pain itself, because it is pain sed, because occasionally circumstances occur some great pleasure.</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Comment Box-->
                                                <div class="comment-box reply-comment">
                                                    <div class="comment">
                                                        <div class="author-thumb"><img class="lazy" data-src="/frontend/images/resource/roadster/3.jpg" alt=""></div>
                                                        <div class="comment-inner">
                                                            <div class="comment-info clearfix">Nayeem Islam – June 21, 2019:</div>
                                                            <div class="rating">
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star-half-empty"></span>
                                                            </div>
                                                            <div class="text">There anyone who loves or pursues or desires to obtain pain itself, because it is pain sed, because occasionally circumstances occur some great pleasure.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                            <!-- Comment Form -->
                                            <div class="shop-comment-form">	
                                                <h2>Add Your Review</h2>
                                                <div class="rating-box">
                                                    <div class="text"> Your Rating:</div>
                                                    <div class="rating">
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                    </div>
                                                    <div class="rating">
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                    </div>
                                                    <div class="rating">
                                                        <a href="#"><span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                    </div>
                                                    <div class="rating">
                                                        <a href="#"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                    </div>
                                                    <div class="rating">
                                                        <a href="#"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                    </div>
                                                    <div class="rating">
                                                        <a href="#"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                    </div>
                                                </div>
                                                <form method="post" action="http://t.commonsupport.com/carworld/contact.html">
                                                    <div class="row clearfix">
                                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                        	<label>First Name *</label>
                                                            <input type="text" name="username" placeholder="" required>
                                                        </div>
                                                        
                                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                        	<label>Last Name*</label>
                                                            <input type="email" name="email" placeholder="" required>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        	<label>Email*</label>
                                                            <input type="text" name="number" placeholder="" required>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                        	<label>Your Comments*</label>
                                                            <textarea name="message" placeholder=""></textarea>
                                                        </div>
                                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit now</button>
                                                        </div>
                                                        
                                                    </div>
                                                </form>
                                                    
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <!--End Product Info Tabs-->
                            
                        </div>
                        
                        <!--Related Products-->
                        <% if(otherBike.length > 0){ %> 
                        
                            <div class="related-products" style="display: block">
                                <div class="sec-title">
                                    <h2>Others Bike</h2>
                                </div>
                                <div class="row clearfix">
                                        <% _.each(otherBike,function(v,k){ if(k < 15){ %>
                                            <%- include('templates/mini_bike_template', v) %>
                                        <% } }); %>
                                    
                                </div>
                            </div>
                        <% } %>
                        
                    </div>
                </div>
                
                <!--Sidebar Side-->
      
                
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
    <!--Main Footer-->
<%- include('layouts/foot') %>

<div class="backwrap" id="backwrapPopup">
    <div id="bookMark_popup">
        <div class="pop_header">
            <h3>Book Now</h3>
            <span class="close_popup" onclick="$('.backwrap').hide()"><span class="fa fa-close"></span></span>
        </div>
        <div class="pop_body">
            <div class="form-box">
                <!--Cars Form-->
                <div class="cars-form">
                    <form onsubmit="booknow(event)">
                        <div class="row clearfix">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label>Name</label>
                                <div class="field-inner">
                                    <input type="text" id="bookName" name="field-name" value="" required placeholder="Your Name">
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label>Email</label>
                                <div class="field-inner">
                                    <input type="email" id="bookEmail" name="field-name" value="" required placeholder="Your Email Address">
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label>Phone</label>
                                <div class="field-inner">
                                    <input type="text" id="bookPhone" name="field-name" value="" required placeholder="Your Phone Number">
                                </div>
                            </div>
                            <input type="hidden" value="<%= product_cate %>" id="productCate">
                            <input type="hidden" value="<%= shopD.shop_id %>" id="shopIdVal">
                            <input type="hidden" value="<%= product_id %>" id="proidVal">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button class="theme-btn btn-style-one">Request Now</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="<%= product_id %>" id="porduct_id_per_page">
<input type="hidden" value="<%= product_cate %>" id="product_category_per_page">
<input type="hidden" value="<%= shopD.shop_id %>" id="product_owner_id">
<input type="hidden" value="<%= shopD.shop_img %>" id="productShopImage">




<!-- <script>

</script> -->