<%- include('layouts/head') %>
    <script src="/javascripts/moment.js"></script>
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/frontend/images/background/5.webp);">
        <div class="auto-container">
            <h1><%= title %></h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li class="current"><%= title %></li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="blog-single">
                    	
                        <!--News Block-->
                        <div class="news-block-two">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/images/uploads/<%= blog.feature_img%>" alt="" />
                                </div>
                                <div class="lower-box">
                                    <div class="post-date"><%= moment(blog.created_at).format('DD') %><br><%= moment(blog.created_at).format('MMM YYYY') %></div>
                                    <div class="content">
                                        <ul class="post-meta">
                                        	<li><span class="icon fa fa-user"></span>Admin</li>
                                            <li><span class="icon fa fa-eye"></span><%= blog.views %> Views</li>
                                            <li><span class="icon fa fa-comment"></span><%= comments.length %> Comments</li>
                                            <!-- <li><span class="icon fa fa-tag"></span>Best Dealer, Maintanence</li> -->
                                        </ul>
                                        <h3><%= title %></h3>
                                        <div class="text"><%- blog.blog_long_desc %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!--Author Box-->
                    
                    <!--Comments Area-->
                    <div class="comments-area" id="comment_area">
                        <% if(comments !== null){%> 
                          <div class="group-title" id="comentsCount" data-le="<%= comments.length %>" ><h2>Comments (<%= comments.length %>)</h2></div>
                            <% _.each(comments,function(v,k){ _.each(customer_data,function(vc,kc){ if(v.customer_id == vc.customer_id){ %> 

                                <%- include('./templates/comments', {data:v,customer:vc}); %>

                            <% }}) %> 

                            <% }); %>
                        <%}else{%> 
                            <div class="group-title" id="comentsCount" data-le="0"><h2>Comments (0)</h2></div>
                        <% }%>
                        <!--Comment Box-->
                        
                    </div>
                    
                    <!-- Comment Form -->
                    <div class="comment-form">	
                        <div class="group-title"><h2>Leave a Reply</h2></div>
                        <form method="post" action="#" onsubmit="postNewComment(event)">
                            <div class="row clearfix" id="post_comment_box" style="display: none;" >
                               	
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                	<label>Your Comments*</label>
                                    <textarea name="comments" placeholder="" required="" ></textarea>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">Post Comment</button>
                                </div>
                                
                            </div>
                            <div class="row clearfix" id="login_msg_for_comment">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label>Please login your account first.  </label>
                                     <button class="theme-btn btn-style-one" type="button" onclick="$('#loginRegister_backwrap').css('display','flex')">login</button>
                                </div>
                                
                            </div>

                        </form>
                            
                    </div>
                    
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar sidebar-padding with-border">
						
                       
                        
                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>Recent Post</h2></div>
                            <% _.each(recent_blog.docs,function(v,k){ %> 
                                <%- include('./templates/recent_post', {data:v,k:k}); %>
                            <% }); %>
                            
						</div>
                        
                        
                        
                    </aside>
                </div>
                
            </div>
        </div>
    </div>
    <input type="hidden" id="blog_id" value="<%= blog.blog_id %>">
    
<%- include('layouts/foot') %>