<%- include('frontend/layouts/head') %>
    <!--Error Section-->
    <section class="error-section" style="background-image:url(images/background/5.jpg);">
    	<div class="auto-container">
        	<div class="inner-section">
            	<h1><%= message %></h1>
                <h2><%= error %></h2>
                <div class="text">Try the search below to find matching pages:</div>
                
                <!-- Search -->
                <div class="error-search-form">
                    <form method="post" action="#">
                        <div class="form-group">
                            <input type="search" name="search-field" value="" placeholder="Search..." required>
                            <button type="submit"><span class="icon fa fa-search"></span></button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Error Section-->

<%- include('frontend/layouts/foot') %>