<style type="text/css">
    .backwrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1000;
    }
    #termsAndconditions .loginRegister_popup {
        width: calc(100% - 600px);
        text-align: center;
        margin: 0px auto;
        top: 50px;
        position: relative;
    }
    .loginRegister_popup, #bookMark_popup {
        width: 500px;
        height: auto;
        background-color: #ffffff;
        border-radius: 4px 4px 0 0;
        transition: all 1000ms ease-out;
    }
    .loginRegister_popup .pop_header, #bookMark_popup .pop_header {
        width: 100%;
        height: 50px;
        background-color: #FF5555;
        position: relative;
        border-radius: 4px 4px 0 0;
    }
    .loginRegister_popup .pop_header h3, #bookMark_popup .pop_header h3 {
        color: #ffffff;
        line-height: 50px;
        padding-left: 20px;
        font-weight: 600;
    }
    .loginRegister_popup .pop_header .close_popup, #bookMark_popup .pop_header .close_popup {
        color: #ffffff;
        position: absolute;
        height: 17px;
        width: 17px;
        top: 15px;
        right: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
    }
    #termsAndconditions .pop_body {
        height: calc(100vh - 150px);
    }
  .terms_condition{
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    color:#182c4a;
  } 
.terms_condition h3{
    padding:12px;
    box-sizing: border-box;
    padding-left: 0px;
  }  
  .terms_condition p{
    padding-left: 14px;
    box-sizing: border-box;
    text-align: justify;
    margin: 12px 0px;
  }  
  .terms_condition p.list_item{
    padding-left: 40px;
    font-style: italic;
    font-weight:600;
  }  
</style>
<div class="backwrap" id="termsAndconditions" style="display: none">
        <div  class="loginRegister_popup">
            <div class="pop_header">
                <h3 class="popupTitle">Terms And Conditions</h3>
                <span class="close_popup" onclick="$('.backwrap').hide()"><span class="fa fa-close"></span></span>
            </div>
            <div class="pop_body text-left terms_condition">
                <p class="text-center font-weight-bolder" style="font-size: 16px;padding-left:0px">You are welcome at AutoBazarBD.com for doing your bike & car search. Thank You for using our services. We hope you have a great experience using out site and find it meaningful use of your precious time. By using the website you agree to following terms and conditions in the agreement. Please note that in event of change in this agreement we will publish it online at the website. We encourage you to review the site periodically for such changes. This is a legal and binding document between you and AutoBazarBD team. This document is an electronic record in terms of Information Technology Act. This electronic record is generated by a computer system and does not require any physical or digital signatures.</p>
                <h3 class="font-weight-bold">IMPORTANT</h3>
                <p>The information provided on this web site includes, but is not limited to, the services provided by AutoBazarBD team ("autobazarbd.com"), and does not render any advice, certifications, guarantees or warranties on the Content (as defined below) relating to the services, which autobazarbd.com makes available on this Site. AutoBazarBD team will be referred to as autobazarbd.com in the rest of the document.</p>
                <h3 class="font-weight-bold">TERMS OF USE</h3>
                <p>The use of this Site and the Content contained herein are governed by these Terms of Use ("Agreement"). When you use this Site you acknowledge that you have read this Agreement and that you accept and will be bound by the terms hereof as such terms may be modified from time to time.</p>
                <h3 class="font-weight-bold">1. Purpose</h3>
                <p>❆ As stated above, the contents provided on or through this Site are solely for information purposes and do not substitute for specific advice whether investment, legal, taxation or otherwise and are not intended to provide you with any nature of certification, guarantee or warranty. By accessing, browsing and using this Site, you agree and acknowledge that you understand this limited and restricted use and agree that you would not rely on the information and materials contained in this Site for any purposes except as autobazarbd.com intended or specified under this Agreement. You further agree that in all actual matters, you are ultimately responsible for determining your specific requirements and consequences thereof. Autobazarbd.com disclaims all liability for damages caused by use of Content on the Site. You agree that you are providing autobazarbd.com with personal details regarding your name, mobile phone no., e-mail, address. You also agree that autobazarbd.com may use the information for automated analysis. You further agree that autobazarbd.com, to increase the value and benefit of this service to you, may provide your personal details to third parties namely bike & car dealers, potential buyers, sellers, as the case may be in the ordinary course of business or providing services to you.</p>

                <p>❆ autobazarbd.com will provide services to research bike/cars, prices, technical specifications and other bike/car attributes. The services can include listing of your used bike/cars online or browsing through the list of used bike/cars listed by users of autobazarbd.com. Autobazarbd.com makes no claims that the data is accurate or applicability of the information to any specific situation.</p>
                <h3 class="font-weight-bold">2. Definitions</h3>
                <p>❆ "Contents" or "Content" shall mean any and all information, data, text, software, music, sound, photographs, graphics, video, messages, materials, news, notices, articles, contracts, forms, documents or other materials and information which may be viewed or downloaded on or through this Site. Contents shall also include any e-mail, messages, e-cards or any other information furnished by a user to be displayed on the Site by autobazarbd.com.</p>
                <p> ❆ "Feature" or "Features": A "Feature" may include any interactive, value addition service or other additional feature, introduced on the Site.</p>

                <p> ❆ "Site" shall mean the internet site identified generally by the URL www.autobazarbd.com and all pages linked to that URL which pages are posted and operated by autobazarbd.com or its agents.</p>

                <h3 class="font-weight-bold">3. Representation And Warranties</h3>
                <p>❆ Autobazarbd.com or any of its affiliates or associates or employees shall not be in any way responsible for any loss or damage that may arise to any person from any inadvertent error in the information contained in this Site. The information from or through this Site is provided "as is" and all warranties express or implied of any kind, regarding any matter pertaining to the Site or the Content including, without limitation, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement are disclaimed.</p>
                <p> ❆ Autobazarbd.com and its affiliates and associates shall not be liable, at any time, for any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communications line failure, theft or destruction or unauthorized access to, alteration of, or use of information contained on the Site. No representations, warranties or guarantees whatsoever are made as to the accuracy, adequacy, reliability, completeness, suitability or applicability of the information to a particular situation</p>
                <h3 class="font-weight-bold">4. Your Conduct</h3>
                <p>❆ You may post your reviews or comments; and submit suggestions, ideas, questions, or other information, so long as the Contents are not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and do not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam". You shall not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of the Contents. However, you acknowledge that autobazarbd.com does not pre-screen the Content, but that autobazarbd.com and its designees shall have the right (but not the obligation) in their sole discretion to accept, refuse, move, or remove any Contents that are available via the Site.</p>

                <p> ❆ You understand that all Contents, whether publicly posted or privately transmitted, are the sole responsibility of the person from which such Content originated. This means that you, and not autobazarbd.com, are entirely responsible for all Content that you have provided autobazarbd.com with in order to upload, post, transmit or otherwise make available via the Site.</p>

                <p> ❆ You expressly agree not to use the Site to: </p>

                <p class="list_item">(i) Harm any user in any manner either directly or indirectly;</p> 
                <p class="list_item">(ii) Forge headers or otherwise manipulate identifiers in order to disguise the origin of any Contents transmitted through the Site;</p>

                <p class="list_item"> (iii) Disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Site are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges or "stalk" or in any other manner harass another user;</p>

                <p class="list_item"> (iv) Interfere with or disrupt the Site or servers or networks connected to the Site, or disobey any requirements, procedures, policies or regulations of networks connected to the Site;</p>

                <p class="list_item"> (v) Upload or transmit any material that is deemed derogatory with respect to the name, services or Contents relating to or provided by autobazarbd.com;</p>

                <p class="list_item"> (vi) Intentionally or unintentionally violate any applicable local, state, national or international laws.</p>

                <p> ❆ You expressly represent and warrant that: </p> 
                <p class="list_item">(i) You are capable to use this Site in accordance with all terms and conditions herein in relation and use of this Site and the services provided therein; and (ii) All information supplied by you in any correspondences or any other documentation to autobazarbd.com is true, current complete and accurate. You expressly agree that this clause shall survive any termination of this Agreement.
                </p>
                <h3 class="font-weight-bold">5. Links to Other Websites</h3>
                <p>This Site may contain hyperlinks to websites operated by parties other than autobazarbd.com. The inclusion of hyperlinks to such websites does not imply autobazarbd.com certification or endorsement of such websites nor any association with their operators. Autobazarbd.com or its affiliates or associates or its employees do not provide any judgment or warranty in respect of the authenticity or correctness of the content of such other services or sites to which links are provided. A link to another service or site is not an endorsement of any products or services on such site or the Site. You shall be solely responsible for any or all the consequences that arise out of your use of such hyperlinks to websites.</p>
                <h3 class="font-weight-bold">6. Websites Intellectual Property</h3>
                <p>All text, graphics, audio, design and other works on the Site are the copyrighted works of autobazarbd.com unless otherwise indicated. Content on the Site is for personal use only. Any alteration of the material or use of the material contained in the Site for any commercial purpose is a violation of the copyright of autobazarbd.com and/or its affiliates or associates or of its third-party information providers. The Content available on the Site shall not be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way without obtaining the prior permission from autobazarbd.com. All responsibility and liability for any damages caused by downloading of any data is disclaimed.</p>

                <h3 class="font-weight-bold">7. License and Site Access</h3>
                <p>❆ Autobazarbd.com grants you a "limited non-exclusive license" to access and make personal (non commercial) use of this Site for informational purposes and not to modify either the whole or any portion of the Site.</p>

                <p> ❆ The license shall not include: </p> 
                <p class="list_item">(i) any resale or commercial use of this Site or its Contents  or (ii) any derivative use of this Site or its Contents.</p>

                <p> ❆ You, your partners, your employees, your agents or any other person associated with you personally or professionally, may not, with or without compensation, prepare any derivative works from, or sell, lease, license, e-mail, reproduce, duplicate, copy, resell, republish, transmit or distribute or otherwise exploit for any commercial purpose via any media, now known or unknown, any Contents from this Site to any other entity or individual. No Contents or information on the Site may be reproduced in any form or incorporated into any internet web-site or any other information retrieval system, either electronic or mechanical. It is a condition of your use of this Site that you do not restrict or inhibit any other user from using this Site.</p>

                <p> ❆ You shall not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of autobazarbd.com and/or our affiliates without the express written consent of autobazarbd.com. You may not use any meta tags or any other "hidden text" utilizing autobazarbd.com name or trademarks without the express written consent of autobazarbd.com. Any unauthorized use terminates the permission and the license granted by autobazarbd.com under this Agreement to you.</p>
                <h3 class="font-weight-bold">8. Modifications on the Site</h3>
                <p>❆ Autobazarbd.com reserves the right to modify, suspend/cancel, or discontinue any or all sections, or service at any time without notice. Autobazarbd.com reserves the right to make modifications and alterations in the information contained on the Site without notice. You agree that Autobazarbd.com shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Site.</p>

                <p> ❆ You expressly agree that any information provided on the Site shall be used by you at your risk. You are advised to hereby make proper enquiries and use the information provided on the Site.</p>

                <p> ❆ From time to time autobazarbd.com may supplement its terms of use with additional terms pertaining to specific content (additional terms). Such additional terms are hereby incorporated by reference into these Terms of Use.</p>

                <h3 class="font-weight-bold">9. Buying</h3>
                <p>Autobazarbd.com strongly advises you not to test the site with false purchases request, as it will put you at substantial personal legal risk. It is a crime to use a false name, other false personal information to buy. Willfully entering erroneous or fictitious purchase request may result in prosecution by autobazarbd.com. Please be aware that even if you do not give autobazarbd.com your real name, your Web browser transmits a unique address to us, which can be used by law enforcement officials to identify you. As a seller you certify that all information provided by you against your listed car is true. Individual seller can list one car at a time and needs to make autobazarbd.com aware of its timely status.</p>

                <h3 class="font-weight-bold">10. Selling</h3>
                <p>As a registered member, you may list bikw & car for sale on the Site. You must be legally able to sell the bike & car(s) you list for sale on our Site. Listings may only include text descriptions, graphics and pictures that describe your bike & car for sale. All listed bike & cars must be listed in an appropriate category on the Site. Soliciting business offline or outside of the Site, by indicating your contact details (e.g. contact phone number, address or e-mail ID) in the bike & car listing or elsewhere on the Site other than in the Sell Car Form is expressly prohibited and would be considered as a breach of the User Agreement. All listed cars must be kept in stock for successful fulfillment of sales.</p>

                <p> The listing description of the bike & car must not be misleading and must describe actual condition of the product. If the car description does not match the actual condition of the car, you agree to refund any amounts that you may have received from the buyer.</p>

                <h3 class="font-weight-bold">11. Login Options</h3>
                <p>The autobazarbd.com Members login (if any) is for the reference of only registered autobazarbd.com's Member. Autobazarbd.com reserves the right to discontinue the member Login on account of violation of this Agreement or any "Code of Conduct" set by autobazarbd.com. Aigwheels.com reserves the right to take all measures necessary to prevent access to any Content or portion of the Site or terminate access to the site if the terms of use are not complied with or are contravened or there is any violation of copyright, trademark or other proprietary right.</p>

                <h3 class="font-weight-bold">12. Disclaimer</h3>
                <p>Autobazarbd.com makes no warranties or representations as to the contents of this site and Autobazarbd.com assumes no liability or responsibility for any errors or omissions in the content on the site. The contents are provided "as is" and without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement. Autobazarbd.com further makes no representation or warranty that any files, links or pointers available through this site will be free of viruses or other codes that contain contaminating or destructive properties. To the fullest extent permissible pursuant to the applicable law, autobazarbd.com disclaims all warranties, express or implied. Autobazarbd.com makes no warranty that.</p>
                <p class="list_item"> (i) The information will meet your requirements</p>

                <p class="list_item"> (ii) The site will be uninterrupted, timely, secure, or error-free,</p>
                <p class="list_item"> (iii) The results that may be obtained from the use of the site will be accurate or reliable</p>
                <p class="list_item"> (iv) The quality of any information obtained by you through the site will meet your expectations</p>
                <p class="list_item"> (v) Any errors in the software will be corrected.</p>

                <p> Any material, contents or information downloaded or otherwise obtained from the site is subject to this agreement and done at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.</p> 

                <p> Autobazarbd.com is not liable on the authenticity of such data. Without limiting the foregoing, under no circumstances shall Aigwheels.com be held liable for any delay or failure in performance resulting directly or indirectly from acts of nature, forces, or causes beyond its reasonable control, including, without limitation, Internet failures, computer equipment failures, telecommunication equipment failures, other equipment failures, electrical power failures, strikes, labor disputes, riots, insurrections, civil disturbances, shortages of labor or materials, fires, floods, storms, explosions, acts of God, war, governmental actions, orders of domestic or foreign courts or tribunals, non-performance of third parties, or loss of or fluctuations in heat, light, or air conditioning.</p>

                <h3 class="font-weight-bold">13. Limitation of Liability</h3>
                <p>Neither autobazarbd.com nor its affiliates, employees, agents or consultants shall in any event be liable for any indirect, incidental or consequential damages such as, but not limited to, loss of business information, loss of goodwill, business interruption or loss of anticipated profits or benefits resulting from use of the site or any part or whole of the content or arising out of any breach of warranty even if autobazarbd.com or its affiliates, employees, agents or consultants have been advised of the possibility of such damages.</p>

                <p> Such limitation of liability shall apply whether the damages arise from use or misuse of or reliance on autobazarbd.com information, from inability to use autobazarbd.com information, or from the interruption, suspension, or termination of access to the content or site . This limitation shall also apply, without limitation, to the costs of procurement of substitute content, loss of goodwill, loss of profits, or loss of data. Such limitation shall further apply with respect to the performance or non-performance of autobazarbd.com or any information that appears on, or is linked or related in any way to, the site provided there under. Such limitation shall apply notwithstanding any failure of essential purpose of any limited remedy and to the fullest extent permitted by law.</p>

                <p> ❆ Autobazarbd.com website provides a platform where one can execute his/her transactions. The website does not control in any manner the transactions between the users.</p>
                <p> ❆ Autobazarbd.com exercises extreme care in providing data on its website under latest technological environment. Some words used like 'Verified', 'Trustmark' have its own relevance.</p>
                <p> ❆ Autobazarbd.com is not responsible for any non-performance or breach of contract entered into between users. Autobazarbd.com does not attempt to prove / guarantee / warranty such as quality, durability, condition, and worth of the cars or services proposed to be sold or purchased on the site by the third parties. Autobazarbd.com accept no liability for any omissions or errors whether on behalf of itself or third parties.</p>
                <p> ❆ Users are advised to make best use of information provided on the autobazarbd.com by verifying independently the bona fides of any particular User that you choose to deal with on the website.</p>

                <h3 class="font-weight-bold">14. Indemnity</h3>
                <p>You agree to indemnify and hold autobazarbd.com and its subsidiaries, affiliates, officers, agents, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of the Contents you submit, e-mail, transmit or make available through the Site, your use of the Site, your connection to the Site, your violation of this Agreement, or your violation of any rights of another user of this Site.</p>

                <h3 class="font-weight-bold">15. Acknowledgment</h3>
                <p>The disclaimer and limited liability of autobazarbd.com as set out in this Agreement are fundamental elements of the basis of the bargain for the Content and access to the Site. You agree that autobazarbd.com would not otherwise be able to offer the Content or the Site on its present basis without such limitations. This clause shall survive any termination of this Agreement.
                </p>

                <h3 class="font-weight-bold">16. Special Admonitions For International Use</h3>
                <p>Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the country in which you reside.</p>

                <h3 class="font-weight-bold">17. Severability</h3>
                <p>Any provision of this Agreement which is invalid, prohibited or unenforceable in any jurisdiction shall: </p> 
                <p class="list_item">     (i) be ineffective in that jurisdiction to the extent of the invalidity, prohibition or unenforceability.</p>
                <p class="list_item">     (ii) be ineffective in that jurisdiction to the extent of the invalidity, prohibition or unenforceability.</p>
                <p class="list_item">     (iii) not affect the validity of that provision in any other jurisdiction.</p>

                <h3 class="font-weight-bold">18. Relationship</h3>
                <p>This Agreement or your use of this Site does not constitute any joint venture, partnership, employment or agency relationship between you and autobazarbd.com.</p>

            </div>
        </div>
</div>
