<% if(shopData.web_site != null){ %> 
    <li style="list-style: none;padding: 10px;display: flex;align-items: center;"><span style="display: block;width: 15px;height:15px;border-radius:50%;border:5px solid #ff5555;float: left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></span><a href="<%= shopData.web_site %>" target="_blank" style="float: left;margin-left: 15px;font-weight: 600;">Web: <%= shopData.web_site %></a></li>
 <% } %>

 <% if(shopData.facebook_page != null){ %> 
    <li style="list-style: none;padding: 10px;display: flex;align-items: center;"><span style="display: block;width: 15px;height:15px;border-radius:50%;border:5px solid #ff5555;float: left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></span><a href="<%= shopData.facebook_page %>" target="_blank" style="float: left;margin-left: 15px;font-weight: 600;">FaceBook: <%= shopData.facebook_page %></a></li>
 <% } %>

 <% if(shopData.youtube_link != null){ %> 
    <li style="list-style: none;padding: 10px;display: flex;align-items: center;"><span style="display: block;width: 15px;height:15px;border-radius:50%;border:5px solid #ff5555;float: left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></span><a href="<%= shopData.youtube_link %>" target="_blank"  style="float: left;margin-left: 15px;font-weight: 600;">YouTube: <%= shopData.youtube_link %></a></li>
 <% } %>