<!--News Block-->
<div class="news-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="inner-box">
        <div class="image">
            <% if(data.feature_img !== null){%> 
                <img class="lazy" data-src="/images/uploads/<%= data.feature_img %>" alt="" />
            <%}else{%> 
                <img class="lazy" data-src="/images/loader.gif" alt="" />
            <%}%>
            <a class="overlay-link" href="/blog/<%= (data.uniq_url == null ? data.blog_id:data.uniq_url) %>"><span class="icon fa fa-link"></span></a>
        </div>
        <div class="lower-box">
            <div class="post-date"><%= moment(data.created_at).format('DD') %><br><%= moment(data.created_at).format('MMM YYYY') %></div>
            <div class="content">
                <div class="author">By Admin</div>
                <h3><a href="/blog/<%= (data.uniq_url == null ? data.blog_id:data.uniq_url) %>"><%= data.blog_title%></a></h3>
                <div class="text" id="short_desc<%= k+1 %>"><%= data.blog_short_desc %></div>
                <script> var txt = '<%= data.blog_short_desc %>'; document.getElementById('short_desc<%= k+1 %>').innerText = txt.substring(0, 70) + '...'; </script>
            </div>
        </div>
    </div>
</div> 