<!--Comment Box-->
<div class="comment-box">
    <div class="comment">
        <div class="author-thumb"><img src="/images/demo_user.png" alt=""></div>
        <div class="comment-inner">
            <div class="comment-info clearfix"><%= customer.customer_name %> – <%= moment(data.created_at).format('MMM DD , YYYY')%>:</div>
            <div class="text"><%= data.comments%></div>
        </div>
    </div>
</div>