<div class="car-block col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="inner-box">
        <div class="image">
            <a href="/product/bike/<%= (uniq_url == null ? bike_id:uniq_url) %>">
                <img class="lazy" data-src="/images/uploads/<%= feature_img %>" alt="" /></a>
            <% if(bike_offer){ %> 
                
                <div class="status_lable discount">OFFER</div>
                <div class="price">TK. <%= discount_price %></div>
                <div class="price discount">TK. <%= bike_price %></div>
            <% }else if(bike_condition == 2){%> 
                <div class="status_lable">Used</div>
                <div class="price">TK. <%= bike_price %></div>
            <% }else{ %>
                <div class="price">TK. <%= bike_price %></div>
            <% } %>
        </div>
        <h3><a href="/product/bike/<%= (uniq_url == null ? bike_id:uniq_url) %>"><%= bike_name %></a></h3>
        <p class="showroom _shopName_<%= shop_id %>"></p>
        <p class="showroom _location_<%= shop_id %>"></p>
    </div>
</div>