
<article class="post">
    <figure class="post-thumb">
        <img class="lazy" src="/images/uploads/<%= data.feature_img %>" alt=""><a class="overlay" href="/blog/<%= (data.uniq_url == null ? data.blog_id:data.uniq_url) %>"><span class="icon flaticon-unlink"></span></a>
    </figure>
    <div class="text">
        <a href="/blog/<%=(data.uniq_url == null ? data.blog_id:data.uniq_url) %>" id="short_desc<%= k+1 %>"><%= data.blog_short_desc %></a>
        <script> var txt = '<%= data.blog_short_desc %>'; document.getElementById('short_desc<%= k+1 %>').innerText = txt.substring(0, 40) + '...'; </script>
    </div>
    <ul class="post-meta">
        <li><span class="icon fa fa-user"></span>admin</li>
        <li><span class="icon fa fa-eye"></span><%= data.views %> Views</li>
    </ul>
</article>