<!--Sidebar Side-->
<div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <aside class="sidebar with-border" style="padding: 0 15px;">
        <% if(shopD.service == 'bike'){ %> 
        <!-- Search -->
        <div class="sidebar-widget search-box">
            <!-- <form> -->
                <div class="form-group">
                    <input type="search" id="productsSearchField" onkeyup="searchProductByName(event)" name="search-field" value="" placeholder="Enter Keyword..." required>
                    <button type="submit" id="productsSearchBtn" onclick="searchProductByBtn(this)"><span class="icon fa fa-search"></span></button>
                </div>
            <!-- </form> -->
        </div>

        <!--Select Car Tabs-->
        <div class="select-cars-tabs">
            <!--Tabs Box-->
            <div class="prod-tabs tabs-box">

                <!--Tabs Container-->
                <div class="tabs-content">

                    <!--Tab / Active Tab-->
                    <div class="tab active-tab" id="prod-new-cars">
                        <div class="content">

                            <!--Cars Form-->
                            <div class="cars-form">
                                <form method="post" action="#">

                                    <div class="form-group">
                                        <label>Bike Condition:</label>
                                        <select class="custom-select-box" id="selectCondition">
                                            <option selected disabled>Select Condition</option>
                                            <option value="1">New</option>
                                            <option value="2">Used</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Brand:</label>
                                        <select class="custom-select-box" id="selectBrand">
                                            <option selected disabled>Select Brand</option>
                                            <% _.each(allBrand,function(v,k){ %>
                                            <option value="<%= v.brand_id %>"><%= v.brand_name %></option>
                                            <% }); %>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Price Range:</label>
                                        <select class="custom-select-box" id="selectPriceRange">
                                            <option value="0-104000000" selected>Any Range </option>
                                            <option value="0-200000"> 0 To 2 Lakhs</option>
                                            <option value="200000-300000"> 2 To 3 Lakhs </option>
                                            <option value="300000-400000"> 3 To 4 Lakhs </option>
                                            <option value="400000-104000000"> 4 Lakhs And Above</option>
                                        </select>
                                    </div>
                                    <input type="hidden" value="<%= shopD.shop_id %>" id="shop_id_for_filter">
                                    <div class="form-group">
                                        <button type="button" class="theme-btn btn-style-one" onclick="findAbike()">Find a Bike</button>
                                    </div>

                                    <div class="form-group">
                                        <button type="reset" class="reset-all"><span class="fa fa-refresh"></span>Reset
                                            all</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <% } %>
        <% if(shopD.about_us != null && shopD.about_us != '' ){ %> 
        
            <!--Select Car Tabs-->
            <div class="select-cars-tabs">
                <!--Tabs Box-->
                <div class="prod-tabs tabs-box">
    
                    <!--Tabs Container-->
                    <div class="tabs-content">
    
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="prod-new-cars">
                            <div class="content">
                                <div class="img_area">
                                    <img class="lazy" data-src="/images/uploads/<%= shopD.shop_img %>" alt="">
                                </div>
                                <div class="shop_bio">
                                    <p style="text-align: center;padding: 0 10px;"><%= shopD.about_us %></p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            <!--End Select Car Tabs-->
        <% }%>
        

    </aside>
</div>