<!--Sidebar Side-->
<div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <aside class="sidebar with-border" style="padding: 0 15px;">

        <!-- Search -->
        <div class="sidebar-widget search-box">
            <!-- <form> -->
                <div class="form-group">
                    <input type="search" id="shopkeywordsearch" onkeyup="" name="search-field" value="" placeholder="Enter Keyword..." required>
                    <button type="submit" id="productsSearchBtn" onclick="$('#filterBtn').trigger('click');"><span class="icon fa fa-search"></span></button>
                </div>
            <!-- </form> -->
        </div>

        <!--Select Car Tabs-->
        <div class="select-cars-tabs">
            <!--Tabs Box-->
            <div class="prod-tabs tabs-box">
                <!--Tab Btns-->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#prod-new-cars" style="width: 100%;" class="tab-btn active-btn">Filter Showrooms</li>
                </ul>
                <!--Tabs Container-->
                <div class="tabs-content">
                    <!--Tab / Active Tab-->
                    <div class="tab active-tab" id="prod-new-cars">
                        <div class="content">
                            <!--Cars Form-->
                            <div class="cars-form">
                                <form method="post">

                                    <div class="form-group">
                                        <label>Division</label>
                                        <select id="filterDivisions" class="cusselect2"  onchange="filterDivision(this)">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Zilla</label>
                                        <select id="filterZillas" class="cusselect2" onchange="filterZilla(this)">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Thana</label>
                                        <select id="filterThanas" class="cusselect2">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Type of Showroom</label>
                                        <select id="shopService" class="cusselect2" value="bike">
                                            <option value="" selected>Select Type</option>
                                            <option value="bike">Bike</option>
                                            <option value="car">Car</option>
                                            <option value="parts">Parts</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button style="cursor: pointer;" id="filterBtn" class="theme-btn btn-style-one" onclick="filterShopPage(event)" > <span class="icon fa fa-search"></span>  Find Shop</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="reset" class="reset-all"><span class="fa fa-refresh"></span>Reset
                                            all</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!--End Select Car Tabs-->

    </aside>
</div>

<script>
    function filterShopPage(e){
        e.preventDefault();
        var data = {
            division_id:$('#filterDivisions').val(),
            zilla_id:$('#filterZillas').val(),
            thana_id:$('#filterThanas').val(),
            service:$('#shopService').val(),
            keyword:$('#shopkeywordsearch').val()
        }
        if(data.service.length < 3){
            data.service = 'bike';
        }
        socket.emit('filterShopPage',data,function(res){
            if(res.status){
                if(res.data.length > 0){
                    $('#filterShop').show();
                    $('.filterShopsCon').remove();
                    $('#searchResults').text('Search Results ('+res.data.length+')');
                    $.each(res.data,function(k,v){

                        var design = '<div class="filterShopsCon car-block col-lg-4 col-md-4 col-sm-6 col-xs-12">'
                                        +'<div class="inner-box">'
                                            +'<div class="image">'
                                                +'<a href="/showroom/'+v.shop_url+'"><img class="lazy" alt="" src="/images/uploads/'+v.shop_img+'" no_bg="1" style=""></a>'
                                            +'</div>'
                                            +'<h3><a href="/showroom/'+v.shop_url+'">'+v.shop_name+'</a></h3>'
                                            +'<p class="showroom _location_'+v.shop_id+'"></p>'
                                            +'<p class="showroom _shopContact_'+v.shop_id+'"></p>'
                                        +'</div>'
                                    +'</div>';
                        $('#filterShop').append(design);

                        
                    });
                    changeLocation();
                    lazyCall();


                }else{
                    $('#filterShop').hide();
                    Swal.fire({
                        type: 'warning',
                        title: 'Sorry!! No Shop Found.',
                        showConfirmButton: true
                    });
                }
            }
        });
    }
</script>