
    <!--Client Section-->
    <section class="client-section lazy" data-src="/frontend/images/background/1.webp">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title Column-->
            	<div class="title-column col-md-4 col-sm-12 col-xs-12">
                	<div class="sec-title light no-border">
                    	<h2>Who Trust us</h2>
                    </div>
                    <div class="style-text">Here are some of the brands that have trusted us for Bike performance.</div>
                    <div class="text">Great explorer of the truth, the master-builder of human happiness one rejects, dislikes, or avoids sed pleasure because it is pleasure.</div>
                </div>
                <!--Client Column-->
                <div class="client-column col-md-8 col-sm-12 col-xs-12">
                	<div class="clients-box">
                    	<div class="clearfix">
                        
                        	<!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/1.png" alt="" /></a>
                                </div>
                            </div>
                            
                            <!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/2.png" alt="" /></a>
                                </div>
                            </div>
                            
                            <!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/3.png" alt="" /></a>
                                </div>
                            </div>
                            
                            <!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/4.png" alt="" /></a>
                                </div>
                            </div>
                            
                            <!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/5.png" alt="" /></a>
                                </div>
                            </div>
                            
                            <!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/6.png" alt="" /></a>
                                </div>
                            </div>
                            
                            <!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/7.png" alt="" /></a>
                                </div>
                            </div>
                            
                            <!--Client Box-->
                        	<div class="client-box col-md-3 col-sm-6 col-xs-12">
                            	<div class="image">
                                	<a href="#"><img class="lazy" data-src="/frontend/images/clients/roadster/8.png" alt="" /></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Client Section-->