<div class="footer">
    <div class="float-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2018
    </div>
</div>

</div>

</div>
<input type="hidden" name="" id="user_role" value="<%= user_data.user_role %>">
<input type="hidden" name="" id="user_id" value="<%= user_data.user_id %>">
<!-- Mainly scripts -->
<script src="/backend/js/jquery-3.1.1.min.js"></script>
<script src="/backend/js/popper.min.js"></script>
<script src="/backend/js/bootstrap.js"></script>
<script src="/backend/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/backend/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/backend/js/plugins/flot/jquery.flot.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.symbol.js"></script>
<script src="/backend/js/plugins/flot/curvedLines.js"></script>
<script src="/javascripts/moment.js"></script>
<!-- Peity -->
<script src="/backend/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/backend/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/backend/js/inspinia.js"></script>
<script src="/backend/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/backend/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Jvectormap -->
<script src="/backend/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/backend/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- Sparkline -->
<script src="/backend/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/backend/js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/backend/js/plugins/chartJs/Chart.min.js"></script>

<!-- iCheck -->
<script src="/backend/js/plugins/iCheck/icheck.min.js"></script>
<script src="/javascripts/super_admin.js"></script>

<!-- Chosen -->
<script src="/backend/js/plugins/chosen/chosen.jquery.js"></script>

<!-- Select2 -->
<script src="/backend/js/plugins/select2/select2.full.min.js"></script>
<script src="/backend/js/plugins/jsTree/jstree.min.js"></script>
<!-- Toastr script -->
<script src="/backend/js/plugins/toastr/toastr.min.js"></script>
<!-- Sweet alert -->
<script src="/backend/js/plugins/sweetalert/sweetalert.min.js"></script>

<style>
    .jstree-open > .jstree-anchor > .fa-folder:before {
        content: "\f07c";
    }

    .jstree-default .jstree-icon.none {
        width: 0;
    }
</style>
<script>

$(document).ready(function () {
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $('#jstree1').jstree({
        'core' : {
            'check_callback' : true
        },
        'plugins' : [ 'types', 'dnd' ],
        'types' : {
            'default' : {
                'icon' : 'fa fa-folder'
            },
            'html' : {
                'icon' : 'fa fa-file-code-o'
            },
            'svg' : {
                'icon' : 'fa fa-file-picture-o'
            },
            'css' : {
                'icon' : 'fa fa-file-code-o'
            },
            'img' : {
                'icon' : 'fa fa-file-image-o'
            },
            'js' : {
                'icon' : 'fa fa-file-text-o'
            }

        }
    });
});
$('.country-select').select2({width: "100%"});
// $('.country-select').chosen({width: "100%"});
$(document).ready(function() {

    var lineData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "Example dataset",
                backgroundColor: "rgba(26,179,148,0.5)",
                borderColor: "rgba(26,179,148,0.7)",
                pointBackgroundColor: "rgba(26,179,148,1)",
                pointBorderColor: "#fff",
                data: [28, 48, 40, 19, 86, 27, 90]
            },
            {
                label: "Example dataset",
                backgroundColor: "rgba(220,220,220,0.5)",
                borderColor: "rgba(220,220,220,1)",
                pointBackgroundColor: "rgba(220,220,220,1)",
                pointBorderColor: "#fff",
                data: [65, 59, 80, 81, 56, 55, 40]
            }
        ]
    };

    var lineOptions = {
        responsive: true
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});

});
</script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket-client-side.js"></script>
<script src="/javascripts/custom_socket.js"></script>
</body>
</html>
