<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link href="/backend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/backend/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/backend/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/backend/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="/backend/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="/backend/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <!-- Toastr style -->   
    <link href="/backend/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/backend/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/backend/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/backend/css/animate.css" rel="stylesheet">
    <link href="/backend/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet">
    <link href="/backend/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
    <link href="/backend/css/style.css" rel="stylesheet">
    <script>
        var user_id = '<%= user_data.user_id %>';
        var user_role = '<%= user_data.user_role %>';
    </script>

</head>

<body class="fixed-navigation">
    <div id="wrapper">
        <%- include('../layouts/navbar') %>
        <%- include('../layouts/right-sidebar') %>

        <div id="page-wrapper" class="gray-bg <% if(page == 'dashboard'){ %> sidebar-content <% } %>">
        <%- include('../layouts/top-bar') %>
