<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="/images/users/<%= user_data.user_img %>"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/backend/#">
                        <span class="block m-t-xs font-bold"><%= user_data.user_name %></span>
                        <span class="text-muted text-xs block"><%= user_data.user_role %> <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="/backend/profile.html">Profile</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ab-admin/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    RSV
                </div>
            </li>
            <li class="<% if(page == 'dashboard'){ %> active <% } %>" >
                <a href="/ab-admin/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>
            </li>
            <li class="<% if(page == 'slider'){ %> active <% } %>" >
                <a href="/ab-admin/slider"><i class="fa fa-slideshare"></i> <span class="nav-label">Slider</span></a>
            </li>
            <li class="<% if(page == 'brand'){ %> active <% } %>" >
                <a href="/ab-admin/brand"><i class="fa fa-tags"></i></i> <span class="nav-label">Brand</span></a>
            </li>
            <li class="<% if(page == 'banner'){ %> active <% } %>" >
                <a href="/ab-admin/banner"><i class="fa fa-tags"></i></i> <span class="nav-label">Banner</span></a>
            </li>
            <li class="<% if(page == 'manage_user'){ %> active <% } %>" >
                <a href="/ab-admin/manage_user"><i class="fa fa-users"></i> <span class="nav-label">Manage Users</span></a>
            </li>
            <li class="<% if(page == 'manage_shop'){ %> active <% } %>" >
                <a href="/ab-admin/manage-shop"><i class="fa fa-bank"></i> <span class="nav-label">Manage Shop</span></a>
            </li>
            <li class="<% if(page == 'location'){ %> active <% } %>" >
                <a href="/ab-admin/location"><i class="fa fa-map-marker"></i> <span class="nav-label">Location</span></a>
            </li>
            <li>
                <a href=""><i class="fa fa-envelope"></i> <span class="nav-label">Blog Post </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="<% if(page == 'create_post'){ %> active <% } %>"><a href="/ab-admin/create_post">Create Post</a></li>
                    <li class="<% if(page == 'post_list'){ %> active <% } %>"><a href="/ab-admin/post_list">Post List</a></li>
                </ul>
            </li>
            <li class="<% if(page == 'settings'){ %> active <% } %>" >
                <a href="/ab-admin/settings"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
            </li>
           
            <li>
                <a href="/backend/layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/graph_flot.html">Flot Charts</a></li>
                    <li><a href="/backend/graph_morris.html">Morris.js Charts</a></li>
                    <li><a href="/backend/graph_rickshaw.html">Rickshaw Charts</a></li>
                    <li><a href="/backend/graph_chartjs.html">Chart.js</a></li>
                    <li><a href="/backend/graph_chartist.html">Chartist</a></li>
                    <li><a href="/backend/c3.html">c3 charts</a></li>
                    <li><a href="/backend/graph_peity.html">Peity Charts</a></li>
                    <li><a href="/backend/graph_sparkline.html">Sparkline Charts</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/mailbox.html">Inbox</a></li>
                    <li><a href="/backend/mail_detail.html">Email view</a></li>
                    <li><a href="/backend/mail_compose.html">Compose email</a></li>
                    <li><a href="/backend/email_template.html">Email templates</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>
            </li>
            <li>
                <a href="/backend/widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span></a>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/form_basic.html">Basic form</a></li>
                    <li><a href="/backend/form_advanced.html">Advanced Plugins</a></li>
                    <li><a href="/backend/form_wizard.html">Wizard</a></li>
                    <li><a href="/backend/form_file_upload.html">File Upload</a></li>
                    <li><a href="/backend/form_editors.html">Text Editor</a></li>
                    <li><a href="/backend/form_autocomplete.html">Autocomplete</a></li>
                    <li><a href="/backend/form_markdown.html">Markdown</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="float-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/contacts.html">Contacts</a></li>
                    <li><a href="/backend/profile.html">Profile</a></li>
                    <li><a href="/backend/profile_2.html">Profile v.2</a></li>
                    <li><a href="/backend/contacts_2.html">Contacts v.2</a></li>
                    <li><a href="/backend/projects.html">Projects</a></li>
                    <li><a href="/backend/project_detail.html">Project detail</a></li>
                    <li><a href="/backend/activity_stream.html">Activity stream</a></li>
                    <li><a href="/backend/teams_board.html">Teams board</a></li>
                    <li><a href="/backend/social_feed.html">Social feed</a></li>
                    <li><a href="/backend/clients.html">Clients</a></li>
                    <li><a href="/backend/full_height.html">Outlook view</a></li>
                    <li><a href="/backend/vote_list.html">Vote list</a></li>
                    <li><a href="/backend/file_manager.html">File manager</a></li>
                    <li><a href="/backend/calendar.html">Calendar</a></li>
                    <li><a href="/backend/issue_tracker.html">Issue tracker</a></li>
                    <li><a href="/backend/blog.html">Blog</a></li>
                    <li><a href="/backend/article.html">Article</a></li>
                    <li><a href="/backend/faq.html">FAQ</a></li>
                    <li><a href="/backend/timeline.html">Timeline</a></li>
                    <li><a href="/backend/pin_board.html">Pin board</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/search_results.html">Search results</a></li>
                    <li><a href="/backend/lockscreen.html">Lockscreen</a></li>
                    <li><a href="/backend/invoice.html">Invoice</a></li>
                    <li><a href="/backend/login.html">Login</a></li>
                    <li><a href="/backend/login_two_columns.html">Login v.2</a></li>
                    <li><a href="/backend/forgot_password.html">Forget password</a></li>
                    <li><a href="/backend/register.html">Register</a></li>
                    <li><a href="/backend/404.html">404 Page</a></li>
                    <li><a href="/backend/500.html">500 Page</a></li>
                    <li><a href="/backend/empty_page.html">Empty page</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info float-right">NEW</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/toastr_notifications.html">Notification</a></li>
                    <li><a href="/backend/nestable_list.html">Nestable list</a></li>
                    <li><a href="/backend/agile_board.html">Agile board</a></li>
                    <li><a href="/backend/timeline_2.html">Timeline v.2</a></li>
                    <li><a href="/backend/diff.html">Diff</a></li>
                    <li><a href="/backend/pdf_viewer.html">PDF viewer</a></li>
                    <li><a href="/backend/i18support.html">i18 support</a></li>
                    <li><a href="/backend/sweetalert.html">Sweet alert</a></li>
                    <li><a href="/backend/idle_timer.html">Idle timer</a></li>
                    <li><a href="/backend/truncate.html">Truncate</a></li>
                    <li><a href="/backend/password_meter.html">Password meter</a></li>
                    <li><a href="/backend/spinners.html">Spinners</a></li>
                    <li><a href="/backend/spinners_usage.html">Spinners usage</a></li>
                    <li><a href="/backend/tinycon.html">Live favicon</a></li>
                    <li><a href="/backend/google_maps.html">Google maps</a></li>
                    <li><a href="/backend/datamaps.html">Datamaps</a></li>
                    <li><a href="/backend/social_buttons.html">Social buttons</a></li>
                    <li><a href="/backend/code_editor.html">Code editor</a></li>
                    <li><a href="/backend/modal_window.html">Modal window</a></li>
                    <li><a href="/backend/clipboard.html">Clipboard</a></li>
                    <li><a href="/backend/text_spinners.html">Text spinners</a></li>
                    <li><a href="/backend/forum_main.html">Forum view</a></li>
                    <li><a href="/backend/validation.html">Validation</a></li>
                    <li><a href="/backend/tree_view.html">Tree view</a></li>
                    <li><a href="/backend/loading_buttons.html">Loading buttons</a></li>
                    <li><a href="/backend/chat_view.html">Chat view</a></li>
                    <li><a href="/backend/masonry.html">Masonry</a></li>
                    <li><a href="/backend/tour.html">Tour</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/typography.html">Typography</a></li>
                    <li><a href="/backend/icons.html">Icons</a></li>
                    <li><a href="/backend/draggable_panels.html">Draggable Panels</a></li> <li><a href="/backend/resizeable_panels.html">Resizeable Panels</a></li>
                    <li><a href="/backend/buttons.html">Buttons</a></li>
                    <li><a href="/backend/video.html">Video</a></li>
                    <li><a href="/backend/tabs_panels.html">Panels</a></li>
                    <li><a href="/backend/tabs.html">Tabs</a></li>
                    <li><a href="/backend/notifications.html">Notifications & Tooltips</a></li>
                    <li><a href="/backend/helper_classes.html">Helper css classes</a></li>
                    <li><a href="/backend/badges_labels.html">Badges, Labels, Progress</a></li>
                </ul>
            </li>

            <li>
                <a href="/backend/grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/table_basic.html">Static Tables</a></li>
                    <li><a href="/backend/table_data_tables.html">Data Tables</a></li>
                    <li><a href="/backend/table_foo_table.html">Foo Tables</a></li>
                    <li><a href="/backend/jq_grid.html">jqGrid</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/ecommerce_products_grid.html">Products grid</a></li>
                    <li><a href="/backend/ecommerce_product_list.html">Products list</a></li>
                    <li><a href="/backend/ecommerce_product.html">Product edit</a></li>
                    <li><a href="/backend/ecommerce_product_detail.html">Product detail</a></li>
                    <li><a href="/backend/ecommerce-cart.html">Cart</a></li>
                    <li><a href="/backend/ecommerce-orders.html">Orders</a></li>
                    <li><a href="/backend/ecommerce_payments.html">Credit Card form</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/backend/basic_gallery.html">Lightbox Gallery</a></li>
                    <li><a href="/backend/slick_carousel.html">Slick Carousel</a></li>
                    <li><a href="/backend/carousel.html">Bootstrap Carousel</a></li>

                </ul>
            </li>
            <li>
                <a href="/backend/#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/backend/#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/backend/#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="/backend/#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="/backend/#">Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="/backend/#">Second Level Item</a></li>
                    <li>
                        <a href="/backend/#">Second Level Item</a></li>
                    <li>
                        <a href="/backend/#">Second Level Item</a></li>
                </ul>
            </li>
            <li>
                <a href="/backend/css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info float-right">62</span></a>
            </li>
            <li class="landing_link">
                <a target="_blank" href="/backend/landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning float-right">NEW</span></a>
            </li>
            <li class="special_link">
                <a href="/backend/package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
            </li>
        </ul>

    </div>
</nav>