<%- include('../layouts2/head') %>

<div class="wrapper wrapper-content animated fadeInRight custom_wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Booking Information </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th># </th>
                                    <th>Name </th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Product Name</th>
                                    <th>Type</th>
                                    <th>Qty</th>
                                    <th>Product Status</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(allBooking,function(v,k){ %> 
                                    <tr class="userTR">
                                        <td><%= k+1 %></td>
                                        <td><%= v.customer_name %></td>
                                        <td><%= v.customer_phone %></td>
                                        <td><%= v.customer_email %></td>
                                        <td product-id="<%= v.product_id %>" product-type="<%= v.product_type %>" class="_product_name_<%= v.product_id %>" ></td>
                                        <td><%= v.product_type %></td>
                                        <td class="_qty_<%= v.product_id %>"><%= v.product_type %></td>
                                        <td class="_product_status_<%= v.product_id %>"><%= v.product_type %></td>
                                        <td class="_product_price_<%= v.product_id %>" ><%= v.product_type %></td>
                                        <td><%= moment(v.created_at).format('llll') %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        
        </div>

    </div>
</div>
<input id="shopid" type="hidden" value="<%= shopDetails.shop_id %>" name="">
<%- include('../layouts2/foot') %>

<script type="text/javascript">
    
    $(function(){
        socket.emit('getProductbyShop',{shop_id:$('#shopid').val()},function(res){
            if(res.status){
                $.each(res.data,function(k,v){
                    $('._product_name_'+v.bike_id).text(v.bike_name);
                    $('._qty_'+v.bike_id).text(v.quantity);
                    if(v.product_status == 1){

                    $('._product_status_'+v.bike_id).text('Active');

                    }else{

                    $('._product_status_'+v.bike_id).text('Inactive');
                        
                    }

                    $('._product_price_'+v.bike_id).text('Tk.'+v.bike_price);

                });
            }
        });
    });
</script>