<%- include('../layouts2/head') %>

<div class="wrapper wrapper-content animated fadeInRight custom_wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox chat-view">

                <div class="ibox-title">
                    <small class="float-right text-muted">Last message: Mon Jan 26 2015 - 18:39:23</small>
                    Chat room panel
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-9 ">
                            <div class="chat-discussion" id="chat_container">

                                

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="chat-users">
                                <div class="users-list" id="shopConvList">
                                    <% var customer_id = '';  _.each(conversations,function(v,k){ _.each(v.participants,function(vv,kk){if(vv !== shopDetails.shop_id){ customer_id = vv; }}) %> 
                                        <div class="chat-user" id="convId<%= v.conversation_id %>" onclick="startConv(this)" data-cov="<%= v.conversation_id %>" data-cus="<%= customer_id %>">
                                            <img class="chat-avatar" src="/images/demo_user.png" alt="">
                                            <div class="chat-user-name">
                                                <a href="#" class="customer_name_<%= customer_id %>"></a>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form">

                                <div class="form-group">

                                    <textarea class="form-control message-input" name="message" onkeyup="sendMsg(event)" placeholder="Enter message text"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<input id="shopid" type="hidden" value="<%= shopDetails.shop_id %>" name="">
<%- include('../layouts2/foot') %>
