<%- include('../layouts2/head') %>
    <div class="wrapper wrapper-content">
        <div class="row">
            <% if(shopDetails.service == 'bike'){ %> 
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-motorcycle fa-5x"></i>
                            </div>
                            <div class="col-8 text-right">
                                <span> Bike </span>
                                <h2 class="font-bold"><%= productBike.length %></h2>
                            </div>
                        </div>
                    </div>
                </div>
            <% }else if(shopDetails.service == 'car'){ %> 
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-car fa-5x"></i>
                            </div>
                            <div class="col-8 text-right">
                                <span> Cars </span>
                                <h2 class="font-bold">0</h2>
                            </div>
                        </div>
                    </div>
                </div>
            <% }else if(shopDetails.service == 'parts'){ %> 
                
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-cogs fa-5x"></i>
                            </div>
                            <div class="col-8 text-right">
                                <span>Parts</span>
                                <h2 class="font-bold">0</h2>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="col-lg-3" onclick="window.location.replace('/ab-member/booking-request')">
                <div class="widget style1  yellow-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> Booking Request </span>
                            <h2 class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <% if(shopDetails.service == 'bike'){ %> 
                <% _.each(productBike,function(v,k){ %>
                    <div class="col-md-3">
                        <div class="ibox">
                            <div class="ibox-content product-box">
    
                                <div class="product-imitation" style="background-image: url('/images/uploads/<%= v.feature_img %>'); background-repeat: no-repeat; background-size: 100%;">
                                </div>
                                <div class="product-desc">
                                    <span class="product-price">
                                        Tk. <%= v.bike_price %>
                                    </span>
                                    <small class="text-muted">Bike</small>
                                    <a href="/product/bike/<%= (v.uniq_url == null ? v.bike_id:v.uniq_url) %>" class="product-name"> <%= v.bike_name %></a>
    
    
    
                                    <div class="small m-t-xs">
                                        <%= v.short_desc %>
                                    </div>
                                    <div class="m-t text-righ">
    
                                        <a href="/product/bike/<%= (v.uniq_url == null ? v.bike_id:v.uniq_url) %>" class="btn btn-xs btn-outline btn-primary">View Bike <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% }%> 
        </div>

    </div>
<%- include('../layouts2/foot') %>