<%- include('../layouts2/head') %>
<% if(productBike.bike_condition == 2){ %> 
 <style type="text/css">
        .ofob{
            display: block;
        }
    </style>
<% } %>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5>Edit Product</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="col-lg-12">
            <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li><a class="nav-link active" onclick="productTab(this,'bike')"> <i class="fa fa-laptop"></i></a></li>

              </ul>
              <div class="tab-content">
                <div id="bikeTab" class="tab-pane active">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                      <h3 style="text-align: center;"><%= productBike.bike_name %></h3>
                        <div class="ibox ">
                          <div class="ibox-title">
                            <h5>Bike Specification</h5>
                          </div>
                          <div class="ibox-content">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="row" style="position: relative;">
                                  <form id="bikeForm" action="#" class="wizard-big" enctype="multipart/form-data" method="POST">
                                    <h1>Bikes Overview</h1>
                                    <fieldset>
                                      <h2>Bikes Overview</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Bike Name</label>
                                              <input id="" type="text" value="<%= productBike.bike_name %>" name="bike_name" placeholder="Bike Name" class="form-control" >
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Bike Model*</label>
                                              <input id="" type="text" value="<%= productBike.bike_model %>" name="bike_model" placeholder="Bike Model" class="form-control" required>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Model Year</label>
                                              <input id="" type="number" value="<%= productBike.bike_overview.model_year %>" name="model_year" placeholder="Model Year" class="form-control" >
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Bike Brand</label>
                                            <select class="form-control" name="brand_id">
                                                <% _.each(allBrand,function(v,k){ %> 
                                                  <option value="<%= v.brand_id %>"  <% if(productBike.bike_overview.brand_id == v.brand_id){%> selected <%}%> > <%= v.brand_name %> </option>
                                                <% }) %>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Bike Type</label>
                                            <input id="" type="text" value="<%= productBike.bike_overview.type %>" placeholder="Bike Type" class="form-control" name="type" >
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Bike Price</label>
                                            <input id="" type="Number" value="<%= productBike.bike_price %>" placeholder="Bike Price" class="form-control" name="bike_price" value="0">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Short Descriptions</label>
                                            <textarea name="short_desc" value="<%= productBike.bike_overview.short_desc %>" class="form-control" placeholder="Write Short Descriptions here ..."></textarea>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Long Descriptions</label>
                                            <textarea name="long_desc" class="form-control" value="<%= productBike.bike_overview.long_desc %>" placeholder="Write Long Descriptions here ..."></textarea>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Discount Price</label>
                                            <input id="" type="Number" value="<%= productBike.discount_price %>" placeholder="Discount Price" class="form-control" name="discount_price" value="0" >
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Engine Oil Recommendation</label>
                                              <input id="" type="text" value="<%= productBike.bike_overview.engine_oil_recommendtion %>" placeholder="Engine Oil Recommendation" class="form-control" name="engine_oil_recommendtion">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Top Speed (Company Claim)</label>
                                              <input id="" type="text" value="<%= productBike.bike_overview.top_speed %>" placeholder="Top Speed (Company Claim)" class="form-control" name="top_speed" >
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Standard Warranty (Years) </label>
                                              <input id="" type="text" value="<%= productBike.bike_overview.standard_warranty_years %>" placeholder="Standard Warranty (Years) " class="form-control" name="standard_warranty_years" >
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Standard Warranty (kilometers) </label>
                                              <input id="" type="text" value="<%= productBike.bike_overview.standard_warranty_km %>" placeholder="Standard Warranty (kilometers) " class="form-control" name="standard_warranty_km" >
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Condition (new or used)</label>
                                            <select onchange="changeBikeCondition(this)" class="form-control" name="bike_condition">
                                              <option  value="1" <% if(productBike.bike_condition == '1'){%> selected <%}%> >New </option>
                                              <option  value="2" <% if(productBike.bike_condition == '2'){%> selected <%}%> >Used </option>
                                            </select>
                                          </div>
                                        </div>

                                        <!-- for old bike -->
                                        <div class="col-md-4 ofob">
                                          <div class="form-group">
                                            <label>Registration (Year) --OFOB--</label>
                                            <input id="" type="text" placeholder="Registration (Year)" class="form-control" name="registration_y" value="<%= productBike.bike_overview.registration_y %>" >
                                          </div>
                                        </div>

                                        <div class="col-md-4 ofob">
                                          <div class="form-group">
                                            <label>Owner Type --OFOB--</label>
                                            <input id="" type="text" placeholder="Owner Type" class="form-control" name="owner_type" value="<%= productBike.bike_overview.owner_type %>">
                                          </div>
                                        </div>

                                        <div class="col-md-4 ofob">
                                          <div class="form-group">
                                            <label>Condition --OFOB--</label>
                                            <input id="" type="text" placeholder="Condition" class="form-control" name="condition" value="<%= productBike.bike_overview.condition %>">
                                          </div>
                                        </div>

                                        <div class="col-md-4 ofob">
                                          <div class="form-group">
                                            <label>Reg Number --OFOB--</label>
                                            <input id="" type="text" placeholder="Reg Number" class="form-control" name="reg_number" value="<%= productBike.bike_overview.reg_number %>">
                                          </div>
                                        </div>

                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Currency</label>
                                            <select class="form-control" name="currency">
                                              <option value="1" selected>BDT</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="Number" value="<%= productBike.quantity %>" value="1" placeholder="Quantity" class="form-control" name="quantity">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control" name="status">
                                              <option value="1"  <% if(productBike.product_status == '1'){%> selected <%}%> >Active</option>
                                              <option value="2"  <% if(productBike.product_status == '2'){%> selected <%}%> >InActive</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Is Feature</label>
                                            <select class="form-control" name="is_feature">
                                              <option value="2"  <% if(productBike.bike_overview.is_feature == '2'){%> selected <%}%> >Yes</option>
                                              <option value="0"  <% if(productBike.bike_overview.is_feature == '0'){%> selected <%}%> >No</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Cooling System</label>
                                              <input id="" type="text" value="<%= productBike.bike_overview.cooling_system %>" placeholder="Cooling System" name="cooling_system" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Starting Method</label>
                                              <input id="" type="text" value="<%= productBike.bike_overview.starting_method %>" placeholder="Starting Method" name="starting_method" class="form-control" >
                                          </div>
                                        </div>

                                        <% _.each(tubeLink,function(v,k){ %> 
                                          <div class="col-md-4">
                                            <div class="form-group">
                                                <label>YouTube link</label>
                                                <input id="" type="text" value="<%= v.link %>" data-id="<%= v.link_id %>" placeholder="YouTube link" name="youtube_link<%= k+1 %>" class="form-control" >
                                            </div>
                                          </div>
                                        <% }); %>
                                      </div>
                                    </fieldset>

                                    <h1>Upload Images</h1>
                                    <fieldset>
                                      <h2>Upload Images</h2>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                              <label for="fileInput" class="upload_Input"><i class="fa fa-cloud-upload" style="position: absolute;top: 40px;font-size: 42px;"></i> <br> <span style="position: absolute;bottom: 60px;"> Upload Photos (Image Dimensions 700 x 585)</span></label>
                                              <input id="fileInput" type="file" name="imageUpload" placeholder="Bike Name" class="form-control" onchange="uploadAttachFileServer(this.files)" hidden multiple accept="image/*">
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                          <div class="preview_image" id="bikeImagePreview">
                                            <% _.each(productBike.img_gallery, function(v,k){%> 
                                              <div class="UploadableImage" id="image_1558250498">
                                                <span class="close_preview" onclick="unlinkthisFile(this)" data-value="<%= v %>">+</span>
                                                <div class="img_file"> 
                                                  <img src="/images/uploads/<%= v %>" alt="" data-filetype="image/jpeg" data-name="<%= v %>"> 
                                                </div>
                                                <div class="img_foot" onclick="makeFeatureImage(this)" data-value="<%= v %>">Make Feature</div>
                                              </div>
                                            <%})%>
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>

                                    <h1>Engine</h1>
                                    <fieldset>
                                      <h2>Engine</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Mileage (kmpl)</label>
                                              <input id="" type="text" value="<%= productBike.engine.mileage_kmpl %>" name="mileage_kmpl" placeholder="Mileage" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Engine Description</label>
                                              <input id="" type="text" value="<%= productBike.engine.engine_desc %>" name="engine_desc" placeholder="Engine Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Maximum Power</label>
                                              <input id="" type="text" value="<%= productBike.engine.maximum_power %>"  name="maximum_power" placeholder="Maximum Power" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Maximum Torque</label>
                                            <input id="" type="text" value="<%= productBike.engine.minimum_torque %>"  name="minimum_torque" placeholder="Maximum Torque" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Bore</label>
                                              <input id="" type="text" value="<%= productBike.engine.bore %>"  name="bore" placeholder="Bore" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Stroke</label>
                                              <input id="" type="text" value="<%= productBike.engine.stroke %>"  name="stroke" placeholder="Stroke" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Compression Ratio</label>
                                              <input id="" type="text" value="<%= productBike.engine.compression_ratio %>"  name="compression_ratio" placeholder="Compression Ratio" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Displacement(CC)</label>
                                              <input id="" type="text" value="<%= productBike.engine.displacement_cc %>"  name="displacement_cc" placeholder="Displacement(CC)" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Ignition</label>
                                              <input id="" type="text" value="<%= productBike.engine.ignition %>" name="ignition"  placeholder="Ignition" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>No of Cylinders</label>
                                              <input id="" type="text" value="<%= productBike.engine.no_of_cylinders %>"  name="no_of_cylinders" placeholder="No of Cylinders" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Fuel System</label>
                                              <input id="" type="text" value="<%= productBike.engine.fuel_system %>"  name="fuel_system"  placeholder="Fuel System" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Fuel Type</label>
                                              <input id="" type="text" value="<%= productBike.engine.fuel_type %>"  name="fuel_type" placeholder="Fuel Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Valves (per cylinder)</label>
                                              <input id="" type="text" value="<%= productBike.engine.valves_percylinder %>"  name="valves_percylinder" placeholder="Valves (per cylinder)" class="form-control">
                                          </div>
                                        </div>
                                    </fieldset>
                
                                    <h1>Transmission</h1>
                                    <fieldset>
                                      <h2>Transmission</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Transmission Type</label>
                                            <input id="" type="text" value="<%= productBike.transmission.transmission_type %>" name="transmission_type"  placeholder="Transmission Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>No of Gears</label>
                                            <input id="" type="text" value="<%= productBike.transmission.no_of_gears %>" name="no_of_gears"  placeholder="No of Gears" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Clutch Type</label>
                                            <input id="" type="text" value="<%= productBike.transmission.clutch_type %>"  name="clutch_type" placeholder="Clutch Type" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                
                                    <h1>Chassis & Suspension</h1>
                                    <fieldset>
                                      <h2>Chassis & Suspension</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Chassis Type</label>
                                            <input id="" type="text" value="<%= productBike.chassis_n_suspension.chassis_type %>"  name="chassis_type" placeholder="Chassis Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Suspension-Front</label>
                                            <input id="" type="text" value="<%= productBike.chassis_n_suspension.suspension_front %>" name="suspension_front"  placeholder="Front Suspension" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Suspension-Rear</label>
                                            <input id="" type="text" value="<%= productBike.chassis_n_suspension.suspension_rear %>" name="suspension_rear"  placeholder="Rear Suspension" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                
                                    <h1>Brakes</h1>
                                    <fieldset>
                                      <h2>Brakes</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Front Brake Type</label>
                                            <input id="" type="text" value="<%= productBike.brakes.front_brake_type %>" name="front_brake_type"  placeholder="Front Brake Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Rear Brake Type</label>
                                            <input id="" type="text" value="<%= productBike.brakes.rear_brake_type %>" name="rear_brake_type"  placeholder="Rear Brake Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Front Brake Diameter</label>
                                            <input id="" type="text" value="<%= productBike.brakes.front_brake_diameter %>"  name="front_brake_diameter" placeholder="Front Brake Diameter" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Rear Brake Diameter</label>
                                            <input id="" type="text" value="<%= productBike.brakes.rear_brake_diameter %>" name="rear_brake_diameter" placeholder="Rear Brake Diameter" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Anti-Lock Braking System (ABS)</label>
                                            <input id="" type="text" value="<%= productBike.brakes.anti_lock_braking_system_ABS %>" name="anti_lock_braking_system_ABS" placeholder="Anti-Lock Braking System (ABS)" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                
                                    <h1>Wheels & Tires</h1>
                                    <fieldset>
                                      <h2>Wheels & Tires</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Tire Size (Front)</label>
                                            <input id="" type="text" value="<%= productBike.wheels_n_tires.tire_size_front %>" name="tire_size_front" placeholder="Front Tire Size" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Tire Size (Rear)</label>
                                            <input id="" type="text" value="<%= productBike.wheels_n_tires.tire_size_rear %>" name="tire_size_rear" placeholder="Rear Tire Size" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Tires Type</label>
                                            <input id="" type="text" value="<%= productBike.wheels_n_tires.tire_type %>" name="tire_type" placeholder="Tires type" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Wheels size (Front) </label>
                                            <input id="" type="text" value="<%= productBike.wheels_n_tires.wheels_size_front %>" name="wheels_size_front" placeholder="Wheels size (Front)" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Wheels size (Rear) </label>
                                            <input id="" type="text" value="<%= productBike.wheels_n_tires.wheels_size_rear %>" name="wheels_size_rear" placeholder="Wheels size (Rear)" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Wheels Type (Pressed Steel/ Alloy) </label>
                                            <input id="" type="text" value="<%= productBike.wheels_n_tires.wheels_type %>" name="wheels_type" placeholder="(Pressed Steel/ Alloy)" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                
                                    <h1>Dimensions</h1>
                                    <fieldset>
                                      <h2>Dimensions</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Overall Length</label>
                                              <input id="" type="text" value="<%= productBike.dimensions.overall_length %>" name="overall_length" placeholder="Overall Length" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Overall Width</label>
                                              <input id="" type="text" value="<%= productBike.dimensions.overall_width %>" name="overall_width" placeholder="Overall Width" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Overall Height</label>
                                            <input id="" type="text" value="<%= productBike.dimensions.overall_height %>" name="overall_height" placeholder="Overall Height" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Ground Clearance(mm)</label>
                                              <input id="" type="text" value="<%= productBike.dimensions.ground_clearance %>" name="ground_clearance" placeholder="Ground Clearance" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Weight</label>
                                              <input id="" type="text" value="<%= productBike.dimensions.weight %>" name="weight" placeholder="Weight" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Fuel Tank Capacity</label>
                                              <input id="" type="text" value="<%= productBike.dimensions.fuel_tank_capacity %>" name="fuel_tank_capacity" placeholder="Fuel Tank Capacity" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Wheelbase(mm)</label>
                                              <input id="" type="text" value="<%= productBike.dimensions.wheelbase_mm %>" name="wheelbase_mm" placeholder="Wheelbase" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Seat Height(mm)</label>
                                              <input id="" type="text" value="<%= productBike.dimensions.seat_height_mm %>" name="seat_height_mm" placeholder="Seat Height(mm)" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                
                                    <h1>Electricals</h1>
                                    <fieldset>
                                      <h2>Electricals</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Battery Type</label>
                                              <input id="" type="text" value="<%= productBike.electricals.battery_type %>" name="battery_type" placeholder="Battery Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Battery Voltage</label>
                                              <input id="" type="text" value="<%= productBike.electricals.battery_voltage %>" name="battery_voltage" placeholder="Battery Voltage" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Head Light</label>
                                              <input id="" type="text" value="<%= productBike.electricals.head_light %>" name="head_light" placeholder="Head Light" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Tail Light</label>
                                              <input id="" type="text" value="<%= productBike.electricals.tail_light %>" name="tail_light" placeholder="Tail Light" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Indicators</label>
                                              <input id="" type="text" value="<%= productBike.electricals.indicators %>" name="indicators" placeholder="Indicators" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Pilot Lamps</label>
                                              <input id="" type="text" value="<%= productBike.electricals.pilot_lamps %>" name="pilot_lamps" placeholder="Pilot Lamps" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                
                                    <h1>Features</h1>
                                    <fieldset>
                                      <h2>Features</h2>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Speedometer</label>
                                              <input id="" type="text" value="<%= productBike.features.speedometer %>" name="speedometer" placeholder="Speedometer" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Odometer</label>
                                              <input id="" type="text" value="<%= productBike.features.odometer %>" name="odometer" placeholder="Odometer" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>RPM Meter</label>
                                              <input id="" type="text" value="<%= productBike.features.rpm_meter %>" name="rpm_meter" placeholder="RPM Meter" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Handle Type</label>
                                              <input id="" type="text" value="<%= productBike.features.handle_type %>" name="handle_type" placeholder="Handle Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Seat Type</label>
                                            <input id="" type="text" value="<%= productBike.features.seat_type %>" name="seat_type" placeholder="Seat Type" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Passenger Grab Rail</label>
                                            <input id="" type="text" value="<%= productBike.features.passenger_grab_rail %>" name="passenger_grab_rail" placeholder="Passenger Grab Rail" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                              <label>Engine Kill Switch</label>
                                              <input id="" type="text" value="<%= productBike.features.engine_kill_switch %>" name="engine_kill_switch" placeholder="Engine Kill Switch" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Digital Fuel Indicator</label>
                                            <input id="" type="text" value="<%= productBike.features.digital_fuel_indicators %>" name="digital_fuel_indicators" placeholder="Digital Fuel Indicator" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Low Fuel Warning Lamp</label>
                                            <input id="" type="text" value="<%= productBike.features.low_fuel_warning_lamp %>" name="low_fuel_warning_lamp" placeholder="Low Fuel Warning Lamp" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4"> 
                                          <div class="form-group">
                                            <label>Pass Switch</label>
                                            <input id="" type="text" value="<%= productBike.features.pass_switch %>" name="pass_switch" placeholder="Pass Switch" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-4"> 
                                          <div class="form-group">
                                            <label>Tachometer</label>
                                            <input id="" type="text" value="<%= productBike.features.tachometer %>" name="tachometer" placeholder="Tachometer" class="form-control">
                                          </div>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </form>
                                  <button style="position: absolute;bottom: 4px;left: 4px;" class="btn btn-primary" onclick="submitBikeForm(this)">Update</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var freatureImg = '<%= productBike.feature_img %>';
  var imgGallery = <%- JSON.stringify(productBike.img_gallery) %> ;
  var pageTitle = '<%=  page %>';
  var bikeID = '<%=  productBike.bike_id %>';
</script>
<%- include('../layouts2/foot') %>

<script type="text/javascript">
  bikeFeatureImg = freatureImg;
  bikeImgGallery = imgGallery;

</script>
