<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link href="/backend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/backend/font-awesome/css/font-awesome.css" rel="stylesheet">
     <link href="/backend/css/plugins/toastr/toastr.min.css" rel="stylesheet">


    <link href="/backend/css/animate.css" rel="stylesheet">
    <link href="/backend/css/style.css" rel="stylesheet">
    <script src="/frontend/js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/frontend/css/sweetalert2.min.css" >

    <style>
        html, body{
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        .loginColumns{
            position: absolute;
        }
        canvas{
            background-color: #f3f3f3;
        }
        .ibox-title{
            min-height: 160px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-right: 15px;
            background-image: url(/images/logo.webp);
            background-position: 50% 20%;
            background-repeat: no-repeat;
            background-size: 220px;
            background-color: transparent;
            border-top: none;
        }
    </style>

</head>

<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-title">
                    <h2 class="font-bold" style="text-align: center;">Welcome to AutoBazarBD</h2>
                </div>
                <div class="ibox-content">
                    <form class="m-t" role="form" id="loginForm" action="/ab-member/login" method="POST">
                        <% if(ses_msg !== null){ %> 
                            <div class=" text-center">
                                <div class="alert alert-warning alert-dismissable alertMsg"><%= ses_msg %></div>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <input type="email" id="rsv_loginEmail" name="login_email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" id="rsv_loginPass" name="login_password" class="form-control" placeholder="Password" required="">
                        </div>
                        <span data-toggle="modal" data-target="#forgetPassword" style="cursor: pointer">Forget Password ?</span><br><br>
                        <button type="submit" style="background-color: #FF5555; border: 1px solid #FF5555;" class="btn btn-primary block full-width m-b">Login</button>



                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="/ab-member/register">Create an account</a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center;">Copyrights © 2019 All Rights Reserved by <a href="/">www.autobazarbd.com</a></p>
            </div>
        </div>
    </div>


    <div class="modal inmodal " id="forgetPassword" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-lock modal-icon"></i>
                    <h4 class="modal-title">Forget Password</h4>
                    
                </div>
                <div class="modal-body">
                    <div class="form-group"><label>Enter Your Email</label> <input id="forgotEmail" type="email" placeholder="Enter your email" class="form-control"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" id="closeModal1">Close</button>
                    <button type="button" class="btn btn-primary" onclick="sendVerificationCode()">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal " id="verification_code" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-lock modal-icon"></i>
                    <h4 class="modal-title" id="verifiacitonWarn">Submit Verification</h4>
                    <small id="verificationMsg">We send a verification code in your email.</small>
                </div>
                <div class="modal-body" id="verificationBody">
                    <div class="form-group"><label>Enter Verification Code</label> <input id="verification_codeVal" type="text" placeholder="Enter Verification Code" class="form-control"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" id="closeModal2">Close</button>
                    <button type="button" class="btn btn-primary"  id="verificationSubmit" onclick="submitVerification()">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal " id="password_change" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-lock modal-icon"></i>
                    <h4 class="modal-title" >Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group"><label>New Password</label> <input id="newPassword" type="text" placeholder="Enter your new password" class="form-control"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" id="changePasswordPop">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitNewPassword()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <button type="hidden" data-toggle="modal" data-target="#verification_code" id="triggerVerification" style="display: none"></button>
    <button type="hidden" data-toggle="modal" data-target="#password_change" id="triggerChangePassword" style="display: none" ></button>

    <canvas id="nokey"> </canvas>
</body>

</html>
<script src="/backend/js/jquery-3.1.1.min.js"></script>
<script src="/backend/js/popper.min.js"></script>
<script src="/backend/js/bootstrap.js"></script>
<script src="/backend/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/backend/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/backend/js/inspinia.js"></script>
<script src="/backend/js/plugins/pace/pace.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket-client-side.js"></script>
<script src="/javascripts/custom_socket.js"></script>
<script src="/backend/js/plugins/toastr/toastr.min.js"></script>


<script type="text/javascript">
    function sendVerificationCode(){
        var email = $('#forgotEmail').val().trim();
        if(email.length > 0){

            socket.emit('findEmail_sendVerification',email,function(res){
                $('#closeModal1').trigger('click');
                $('#triggerVerification').trigger('click');
                $('#verification_codeVal').val('');
                if(res.status){
                    $('#verifiacitonWarn').text('Submit Verification');
                    $('#verificationMsg').text(res.msg);
                    $('#verificationBody').show();
                    $('#verificationSubmit').show();
                }else{
                    $('#verifiacitonWarn').text('Warnning!!!');
                    $('#verificationMsg').text(res.msg);
                    $('#verificationBody').hide();
                    $('#verificationSubmit').hide();
                }
            });
        }
    }

    function submitVerification(){
        var email = $('#forgotEmail').val().trim();
        var verification_code = $('#verification_codeVal').val().trim();

        socket.emit('checkVerificationCode',{email:email,verification_code:verification_code},function(res){
            if(res.status){
                $('#closeModal2').trigger('click');
                $('#triggerChangePassword').trigger('click');
            }else{
                $('#verifiacitonWarn').text('Warnning!!!');
                $('#verificationMsg').text(res.msg);
            }
        })
    }

    function submitNewPassword(){
        var data = {
            email:$('#forgotEmail').val().trim(),
            verification_code:$('#verification_codeVal').val().trim(),
            newPassword:$('#newPassword').val().trim()
        }
        if(data.newPassword.length < 6){
            toastr.warning("Password minimum 6 length.");
            return false;
        }
        socket.emit('changePassword',data,function(res){
            console.log(res);
            $('#changePasswordPop').trigger('click');
            if(res.status){
                toastr.success(res.msg);

            }else{
                toastr.warning(res.msg);
            }
        })

    }
</script>

<script type="text/javascript">
    var w = window.innerWidth;
    var h = window.innerHeight;
    $('canvas').attr('width',w);
    $('canvas').attr('height',h);
    
        var canvas = document.getElementById('nokey'),
       can_w = parseInt(canvas.getAttribute('width')),
       can_h = parseInt(canvas.getAttribute('height')),
       ctx = canvas.getContext('2d');
    
        // console.log(typeof can_w);
    
        var ball = {
            x: 0,
            y: 0,
            vx: 0,
            vy: 0,
            r: 0,
            alpha: 1,
            phase: 0
        },
        ball_color = {
            r: 255,
            g: 85,
            b: 85
        },
        R = 5,
        balls = [],
        alpha_f = 0.03,
        alpha_phase = 0,
            
        // Line
        link_line_width = 0.8,
        dis_limit = 300,
        add_mouse_point = true,
        mouse_in = false,
        mouse_ball = {
            x: 0,
            y: 0,
            vx: 0,
            vy: 0,
            r: 3,
            type: 'mouse'
        };
    
        // Random speed
        function getRandomSpeed(pos){
            var  min = -1,
            max = 1;
            switch(pos){
                case 'top':
                    return [randomNumFrom(min, max), randomNumFrom(0.1, max)];
                    break;
                case 'right':
                    return [randomNumFrom(min, -0.1), randomNumFrom(min, max)];
                    break;
                case 'bottom':
                    return [randomNumFrom(min, max), randomNumFrom(min, -0.1)];
                    break;
                case 'left':
                    return [randomNumFrom(0.1, max), randomNumFrom(min, max)];
                    break;
                default:
                    return;
                    break;
            }
        }
        function randomArrayItem(arr){
            return arr[Math.floor(Math.random() * arr.length)];
        }
        function randomNumFrom(min, max){
            return Math.random()*(max - min) + min;
        }
        console.log(randomNumFrom(0, 10));
        // Random Ball
        function getRandomBall(){
            var pos = randomArrayItem(['top', 'right', 'bottom', 'left']);
            switch(pos){
                case 'top':
                    return {
                        x: randomSidePos(can_w),
                        y: -R,
                        vx: getRandomSpeed('top')[0],
                        vy: getRandomSpeed('top')[1],
                        r: R,
                        alpha: 1,
                        phase: randomNumFrom(0, 10)
                    }
                    break;
                case 'right':
                    return {
                        x: can_w + R,
                        y: randomSidePos(can_h),
                        vx: getRandomSpeed('right')[0],
                        vy: getRandomSpeed('right')[1],
                        r: R,
                        alpha: 1,
                        phase: randomNumFrom(0, 10)
                    }
                    break;
                case 'bottom':
                    return {
                        x: randomSidePos(can_w),
                        y: can_h + R,
                        vx: getRandomSpeed('bottom')[0],
                        vy: getRandomSpeed('bottom')[1],
                        r: R,
                        alpha: 1,
                        phase: randomNumFrom(0, 10)
                    }
                    break;
                case 'left':
                    return {
                        x: -R,
                        y: randomSidePos(can_h),
                        vx: getRandomSpeed('left')[0],
                        vy: getRandomSpeed('left')[1],
                        r: R,
                        alpha: 1,
                        phase: randomNumFrom(0, 10)
                    }
                    break;
            }
        }
        function randomSidePos(length){
            return Math.ceil(Math.random() * length);
        }
    
        // Draw Ball
        function renderBalls(){
            Array.prototype.forEach.call(balls, function(b){
            if(!b.hasOwnProperty('type')){
                ctx.fillStyle = 'rgba('+ball_color.r+','+ball_color.g+','+ball_color.b+','+b.alpha+')';
                ctx.beginPath();
                ctx.arc(b.x, b.y, R, 0, Math.PI*2, true);
                ctx.closePath();
                ctx.fill();
            }
            });
        }
    
        // Update balls
        function updateBalls(){
            var new_balls = [];
            Array.prototype.forEach.call(balls, function(b){
                b.x += b.vx;
                b.y += b.vy;
                
                if(b.x > -(50) && b.x < (can_w+50) && b.y > -(50) && b.y < (can_h+50)){
                new_balls.push(b);
                }
                
                // alpha change
                b.phase += alpha_f;
                b.alpha = Math.abs(Math.cos(b.phase));
                // console.log(b.alpha);
            });
            
            balls = new_balls.slice(0);
        }
    
        // loop alpha
        function loopAlphaInf(){
            
        }
    
        // Draw lines
        function renderLines(){
            var fraction, alpha;
            for (var i = 0; i < balls.length; i++) {
                for (var j = i + 1; j < balls.length; j++) {
                
                fraction = getDisOf(balls[i], balls[j]) / dis_limit;
                    
                if(fraction < 1){
                    alpha = (1 - fraction).toString();
    
                    ctx.strokeStyle = 'rgba(255,85,85,'+alpha+')';
                    ctx.lineWidth = link_line_width;
                    
                    ctx.beginPath();
                    ctx.moveTo(balls[i].x, balls[i].y);
                    ctx.lineTo(balls[j].x, balls[j].y);
                    ctx.stroke();
                    ctx.closePath();
                }
                }
            }
        }
    
        // calculate distance between two points
        function getDisOf(b1, b2){
            var  delta_x = Math.abs(b1.x - b2.x),
            delta_y = Math.abs(b1.y - b2.y);
            
            return Math.sqrt(delta_x*delta_x + delta_y*delta_y);
        }
    
        // add balls if there a little balls
        function addBallIfy(){
            if(balls.length < 20){
                balls.push(getRandomBall());
            }
        }
    
        // Render
        function render(){
            ctx.clearRect(0, 0, can_w, can_h);
            
            renderBalls();
            
            renderLines();
            
            updateBalls();
            
            addBallIfy();
            
            window.requestAnimationFrame(render);
        }
    
        // Init Balls
        function initBalls(num){
            for(var i = 1; i <= num; i++){
                balls.push({
                    x: randomSidePos(can_w),
                    y: randomSidePos(can_h),
                    vx: getRandomSpeed('top')[0],
                    vy: getRandomSpeed('top')[1],
                    r: R,
                    alpha: 1,
                    phase: randomNumFrom(0, 10)
                });
            }
        }
        // Init Canvas
        function initCanvas(){
            canvas.setAttribute('width', window.innerWidth);
            canvas.setAttribute('height', window.innerHeight);
            
            can_w = parseInt(canvas.getAttribute('width'));
            can_h = parseInt(canvas.getAttribute('height'));
        }
        window.addEventListener('resize', function(e){
            console.log('Window Resize...');
            initCanvas();
        });
    
        function goMovie(){
            initCanvas();
            initBalls(30);
            window.requestAnimationFrame(render);
        }
        goMovie();
    
        // Mouse effect
        canvas.addEventListener('mouseenter', function(){
            console.log('mouseenter');
            mouse_in = true;
            balls.push(mouse_ball);
        });
        canvas.addEventListener('mouseleave', function(){
            console.log('mouseleave');
            mouse_in = false;
            var new_balls = [];
            Array.prototype.forEach.call(balls, function(b){
                if(!b.hasOwnProperty('type')){
                    new_balls.push(b);
                }
            });
            balls = new_balls.slice(0);
        });
        canvas.addEventListener('mousemove', function(e){
            var e = e || window.event;
            mouse_ball.x = e.pageX;
            mouse_ball.y = e.pageY;
            // console.log(mouse_ball);
        });
    
    </script>