
<%- include('../layouts2/head') %>

    <div class="wrapper wrapper-content animated fadeInRight custom_wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Users table </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th># </th>
                                        <th>Name </th>
                                        <th>Image</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Role </th>
                                        <th>Email Status</th>
                                        <!-- <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(allSM,function(v,k){ %> 
                                        <tr class="userTR">
                                            <td><%= k+1 %></td>
                                            <td><%= v.member_name %></td>
                                            <td><img alt="image" class="rounded-circle message-avatar" src="/images/users/<%= v.member_img %>"></td>
                                            <td><%= v.member_phone %></td>
                                            <td><%= v.member_email%></td>
                                            <td><% if(v.member_role == 1){ %> Admin <%}else if(v.member_role == 2){ %> Co-Admin <% }else{ %> User <% } %></td>
                                            <td>
                                                <% if(v.email_status){ %> 
                                                    <button type="button" class="btn btn-outline btn-primary btn-xs active"  data-id="<%= v.member_id %>" >Active</button>
                                                <% }else{ %> 
                                                    <button type="button" class="btn btn-outline btn-danger btn-xs inactive" data-id="<%= v.member_id %>" >Inactive</button>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            
            </div>

        </div>
    </div>
<%- include('../layouts2/foot') %>
