<%- include('../layouts2/head') %>
<link href="/backend/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>View All Products</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Bike Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Offer</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% _.each(productBike, function(v,k){ %>

                            <tr class="gradeU">
                                <td><%= v.bike_name %></td>
                                <td><%= v.quantity %></td>
                                <td><%= v.bike_price %> .Tk</td>
                                <td class="center">
                                    <span id="<% if(v.bike_offer == false){%>bike_id_<%= v.bike_id %><%}%>"   class="btn <% if(v.bike_offer == true){%> btn-primary <%}else{%> btn-danger <%}%>" onclick="productBikesomeUpdate(this,'offer','<%= v.bike_id %>')"> <% if(v.bike_offer == true){%> Active <%}else{%> Inactive <%}%> </span>
                                </td>
                                <td class="center">
                                    <span class="btn <% if(v.product_status == 1){%> btn-primary <%}else{%> btn-danger <%}%>" onclick="productBikesomeUpdate(this,'status','<%= v.bike_id %>')"> <% if(v.product_status == 1){%> Active <%}else{%> Inactive <%}%> </span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a href="/ab-member/edit_product/<%= v.bike_id %>" data_bike_id="<%= v.bike_id %>" class="btn-white btn btn-xs">Edit</a>
                                        <button onclick="deleteBike(this)" data_bike_id="<%= v.bike_id %>" class="btn-white btn btn-xs">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Bike Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Offer</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

<div class="modal inmodal fade" id="Offer_modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px 15px">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="font-size: 20px">Discount Percentage</h4>
            </div>
            <div class="modal-body">
                <Input type="text" placeholder="Enter Discount %" class="form-control"></Input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts2/foot') %>

<script>
$(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        });

</script>

<script src="/backend/js/plugins/dataTables/datatables.min.js"></script>
<script src="/backend/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>