<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link href="/backend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/backend/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/backend/css/animate.css" rel="stylesheet">
    <link href="/backend/css/style.css" rel="stylesheet">
    <link href="/backend/css/plugins/select2/select2.min.css" rel="stylesheet">
    <script src="/frontend/js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/frontend/css/sweetalert2.min.css" >

    <style>

        html, body{
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        .loginColumns{
            position: absolute;
        }
        canvas{
            background-color: #f3f3f3;
        }
        .ibox-title{
            min-height: 160px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-right: 15px;
            background-image: url(/images/logo.webp);
            background-position: 50% 20%;
            background-repeat: no-repeat;
            background-size: 220px;
            background-color: transparent;
            border-top: none;
        }
        .backwrap{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.4);
            z-index: 1000;
        }
        .sellerPopupBody{
            width: 720px;
            margin-bottom: 30px;
            box-sizing: border-box;
            background: #ffffff;
            position: relative;
        }
        .front_login_title {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            position: relative;
            bottom: -22px;
        }
        .filedContainer{
            width: 100%;
            display: flow-root;
        }
        .sekectOpt{
            /* width: 150px ; */
            height: 200px;
            /* background-color: #f3f3f3; */
            border-radius: 3px;
            float: left;
            cursor: pointer;
            padding-top: 15px; 
            padding-bottom: 15px; 
        }
        .underCntnr{
            width: 100%;
            height: 100%;
            background-color: #f3f3f3;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .underCntnr img{
            max-height: 100%;
        }
        .underCntnr.bike::before{
            content: 'Bike';
        }
        .underCntnr.car::before{
            content: 'Car';
        }
        .underCntnr.parts::before{
            content: 'Parts';
        }
        .underCntnr::before{
            position: absolute;
            width: 100%;
            height: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 300ms ease-out;
            background-color: #ff5555e0;
            border-radius: 3px;
            color: #ffffff;
            font-weight: bold;
            font-size: 20px;
            top: 0px;
            overflow: hidden;
        }
        .underCntnr:hover:before{
            height: 100%;
        }
        .popup_title{
            margin-bottom: 30px;
            color: #FF5555;
            font-size: 25px;
        }

        @media (min-width: 320px) and (max-width: 480px) {
            
            .sellerPopupBody{
                width: auto;
            }
            .filedContainer{
                overflow-y: auto;
                max-height: calc(100vh - 400px);
            }
            .popup_title{
                text-align: center;
            }
            #registerPop{
                overflow-y: auto;
                max-height: calc(100vh - 290px);
            }

        }
    </style>

</head>

<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox" style="margin-bottom: 0">
                    <div class="ibox-title">
                        <h2 class="font-bold" style="text-align: center;">Welcome to AutoBazarBD</h2>
                    </div>
                    <div class="ibox-content">
                        <% if(ses_msg !== null){ %> 
                            <div class=" text-center" style="width: 100%;">
                                <div class="alert alert-warning alert-dismissable alertMsg"><%= ses_msg %></div>
                            </div>
                        <% } %>
                        <div class="row" id="servicePop">
                            <div class="col-md-12">
                                <div class="sellerPopupBody">
                                    <h2 class="popup_title">What do you want to sell ?</h2>
                                    <div class="filedContainer">
                                        <div class="col-md-4 selectBike sekectOpt" onclick="serviceType('bike')">
                                            <div class="underCntnr bike">
                                                <img src="/images/bike.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 selectCar sekectOpt" onclick="serviceType('car')">
                                            <div class="underCntnr car">
                                                <img src="/images/car.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 selectParts sekectOpt" onclick="serviceType('parts')">
                                            <div class="underCntnr parts">
                                                <img style="height: 70%" src="/images/wheel.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="front_login_title" href="/ab-member/login">Already have an account?</a>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: none" id="registerPop">
                            
                            <form class="m-t" style="width: 100%" role="form" id="registerForm" novalidate="novalidate" method="POST" action="/ab-member/register">
                                <div class="col-sm-6 b-r" style="float: left;">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Your Name" required="" aria-required="true" aria-invalid="false">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email"  class="form-control" placeholder="Email" required="" aria-required="true" aria-invalid="false">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="shopname" class="form-control" placeholder="Shop Name" required="" aria-required="true" aria-invalid="false">
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="number" name="number"  class="form-control" placeholder="Phone Number" required="" aria-required="true" aria-invalid="false">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password"  class="form-control" placeholder="Password" required="" aria-required="true" aria-invalid="true">
                                    </div>
                                    <input type="hidden" name="service"  id="serviceType" class="form-control" value="bike" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="col-sm-6" style="float: left;">
                                    <div class="form-group">
                                        <select name="country" class="form-control select2" onchange="filterCountry(this)" required="" aria-required="true" aria-invalid="false">
                                            <option value="">Select Country</option>
                                            <% _.each(allCountry,function(v,k){ %>
                                                <option value="<%= v.country_id %>"><%= v.country_name %></option>
                                            <% })%>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="division" id="selectDivision" class="form-control select2" onchange="filterDivision(this)" required="" aria-required="true" aria-invalid="false">
                                            <option value="">Select Division</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="zilla" id="selectZilla" class="form-control select2" onchange="filterZilla(this)" required="" aria-required="true" aria-invalid="false">
                                            <option value="">Select Zilla</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="thana" id="selectThana" class="form-control select2" required="" aria-required="true" aria-invalid="false">
                                            <option value="">Select Thana</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="shoplocation"  class="form-control" placeholder="Shop Location" required="" aria-required="true" aria-invalid="false">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="float: left">
                                    <div class="form-group">
                                        <div class="text-muted text-center"><label>  <small>Already have an account?</small> </label></div>
                                    </div>
                                    <a class="btn btn-white block full-width m-b" href="/ab-member/login">Login</a>
                                </div>
                                <div class="col-sm-6" style="float: left">
                                    <div class="form-group">
                                        <div class="checkbox i-checks"><label> <input type="checkbox" name="terms_conditions"  re
                                            ><i></i> Agree the </label><a onclick="$('#termsAndconditions').show()" style="color:#FF5555; text-decoration:underline; margin-left: 4px">Terms And Conditions.</a></div>
                                    </div>
                                    <button type="submit"style="background-color: #FF5555; border: 1px solid #FF5555;" class="btn btn-primary block full-width m-b">Register</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
              <p style="text-align: center;">Copyrights © 2019 All Rights Reserved by <a href="/" target="_blank">www.autobazarbd.com</a> </p>  
            </div>
        </div>
    </div>
    <canvas id="nokey"> </canvas>
    <%- include('../../terms_conditions') %>

</body>

</html>
<script src="/backend/js/jquery-3.1.1.min.js"></script>
<script src="/backend/js/plugins/validate/jquery.validate.min.js"></script>

<!-- Select2 -->
<script src="/backend/js/plugins/select2/select2.full.min.js"></script>

<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket-client-side.js"></script>
<script src="/javascripts/custom_socket.js"></script>


<script type="text/javascript">

$('.select2').select2({width: "100%"});
$("#registerForm").validate({
    rules: {
        name: {
            required: true,
            minlength: 4
        },
        shopname: {
            required: true
        },
        country: {
            required: true
        },
        division: {
            required: true
        },
        zilla: {
            required: true
        },
        thana: {
            required: true
        },
        email: {
            required: true,
            email: true
        },
        password: {
            required: true,
            minlength: 6
        },
        number: {
            required: true,
            number: true
        },
    }
});

var submitRegister = 0; 
var submitedUserId = '';



function filterCountry(elm){
	var value = $(elm).val();
	$('#selectDivision').find('option').remove();
	$('#selectDivision').append('<option value="">Select Division</option>');
    $('#selectDivision').val('');

	$('#selectZilla').find('option').remove();
	$('#selectZilla').append('<option value="">Select Zilla</option>');
    $('#selectZilla').val('');

	$('#selectThana').find('option').remove();
	$('#selectThana').append('<option value="">Select Thana</option>');
    $('#selectThana').val('');

		if(value !== ''){
			socket.emit('getDivisionFilter',{country_id:value},function(res){
				if(res.data == null){
                    Swal.fire({
                        type: 'warning',
                        title: 'Sorry !! No division found.',
                        showConfirmButton: true
                    });
				}else{
					$.each(res.data,function(k,v){
						$('#selectDivision').append('<option value="'+v.division_id+'">'+v.division_name+'</option>');
					})
				}
			})
		}
}


function filterDivision(elm){
    var value = $(elm).val();
    $('#selectZilla').find('option').remove();
	$('#selectZilla').append('<option value="">Select Zilla</option>');
    $('#selectZilla').val('');

	$('#selectThana').find('option').remove();
	$('#selectThana').append('<option value="">Select Thana</option>');
    $('#selectThana').val('');

    if(value !== ''){
        socket.emit('getZillaFilter',{division_id:value},function(res){
            if(res.data == null){
                Swal.fire({
					type: 'warning',
					title: 'Sorry !! No zilla found.',
					showConfirmButton: true
				});
            }else{
                $.each(res.data,function(k,v){
                    $('#selectZilla').append('<option value="'+v.zilla_id+'">'+v.zilla_name+'</option>');
                })
            }
        })
    }

}



function filterZilla(elm){
    var value = $(elm).val();
    
	$('#selectThana').find('option').remove();
	$('#selectThana').append('<option value="">Select Thana</option>');
    $('#selectThana').val('');

    if(value !== ''){
        socket.emit('getThanaFilter',{zilla_id:value},function(res){
            if(res.data == null){
                Swal.fire({
					type: 'warning',
					title: 'No thana found.',
					showConfirmButton: true
				});
            }else{
                $.each(res.data,function(k,v){
                    $('#selectThana').append('<option value="'+v.thana_id+'">'+v.thana_name+'</option>');
                })
            }
        })
    }
}

function serviceType(type){
    $('#serviceType').val(type);
    $('#servicePop').slideUp();
    $('#registerPop').slideDown();
}

</script>

<script type="text/javascript">
var w = window.innerWidth;
var h = window.innerHeight;
$('canvas').attr('width',w);
$('canvas').attr('height',h);

    var canvas = document.getElementById('nokey'),
   can_w = parseInt(canvas.getAttribute('width')),
   can_h = parseInt(canvas.getAttribute('height')),
   ctx = canvas.getContext('2d');

    // console.log(typeof can_w);

    var ball = {
        x: 0,
        y: 0,
        vx: 0,
        vy: 0,
        r: 0,
        alpha: 1,
        phase: 0
    },
    ball_color = {
        r: 255,
        g: 85,
        b: 85
    },
    R = 5,
    balls = [],
    alpha_f = 0.03,
    alpha_phase = 0,
        
    // Line
    link_line_width = 0.8,
    dis_limit = 300,
    add_mouse_point = true,
    mouse_in = false,
    mouse_ball = {
        x: 0,
        y: 0,
        vx: 0,
        vy: 0,
        r: 3,
        type: 'mouse'
    };

    // Random speed
    function getRandomSpeed(pos){
        var  min = -1,
        max = 1;
        switch(pos){
            case 'top':
                return [randomNumFrom(min, max), randomNumFrom(0.1, max)];
                break;
            case 'right':
                return [randomNumFrom(min, -0.1), randomNumFrom(min, max)];
                break;
            case 'bottom':
                return [randomNumFrom(min, max), randomNumFrom(min, -0.1)];
                break;
            case 'left':
                return [randomNumFrom(0.1, max), randomNumFrom(min, max)];
                break;
            default:
                return;
                break;
        }
    }
    function randomArrayItem(arr){
        return arr[Math.floor(Math.random() * arr.length)];
    }
    function randomNumFrom(min, max){
        return Math.random()*(max - min) + min;
    }
    console.log(randomNumFrom(0, 10));
    // Random Ball
    function getRandomBall(){
        var pos = randomArrayItem(['top', 'right', 'bottom', 'left']);
        switch(pos){
            case 'top':
                return {
                    x: randomSidePos(can_w),
                    y: -R,
                    vx: getRandomSpeed('top')[0],
                    vy: getRandomSpeed('top')[1],
                    r: R,
                    alpha: 1,
                    phase: randomNumFrom(0, 10)
                }
                break;
            case 'right':
                return {
                    x: can_w + R,
                    y: randomSidePos(can_h),
                    vx: getRandomSpeed('right')[0],
                    vy: getRandomSpeed('right')[1],
                    r: R,
                    alpha: 1,
                    phase: randomNumFrom(0, 10)
                }
                break;
            case 'bottom':
                return {
                    x: randomSidePos(can_w),
                    y: can_h + R,
                    vx: getRandomSpeed('bottom')[0],
                    vy: getRandomSpeed('bottom')[1],
                    r: R,
                    alpha: 1,
                    phase: randomNumFrom(0, 10)
                }
                break;
            case 'left':
                return {
                    x: -R,
                    y: randomSidePos(can_h),
                    vx: getRandomSpeed('left')[0],
                    vy: getRandomSpeed('left')[1],
                    r: R,
                    alpha: 1,
                    phase: randomNumFrom(0, 10)
                }
                break;
        }
    }
    function randomSidePos(length){
        return Math.ceil(Math.random() * length);
    }

    // Draw Ball
    function renderBalls(){
        Array.prototype.forEach.call(balls, function(b){
        if(!b.hasOwnProperty('type')){
            ctx.fillStyle = 'rgba('+ball_color.r+','+ball_color.g+','+ball_color.b+','+b.alpha+')';
            ctx.beginPath();
            ctx.arc(b.x, b.y, R, 0, Math.PI*2, true);
            ctx.closePath();
            ctx.fill();
        }
        });
    }

    // Update balls
    function updateBalls(){
        var new_balls = [];
        Array.prototype.forEach.call(balls, function(b){
            b.x += b.vx;
            b.y += b.vy;
            
            if(b.x > -(50) && b.x < (can_w+50) && b.y > -(50) && b.y < (can_h+50)){
            new_balls.push(b);
            }
            
            // alpha change
            b.phase += alpha_f;
            b.alpha = Math.abs(Math.cos(b.phase));
            // console.log(b.alpha);
        });
        
        balls = new_balls.slice(0);
    }

    // loop alpha
    function loopAlphaInf(){
        
    }

    // Draw lines
    function renderLines(){
        var fraction, alpha;
        for (var i = 0; i < balls.length; i++) {
            for (var j = i + 1; j < balls.length; j++) {
            
            fraction = getDisOf(balls[i], balls[j]) / dis_limit;
                
            if(fraction < 1){
                alpha = (1 - fraction).toString();

                ctx.strokeStyle = 'rgba(255,85,85,'+alpha+')';
                ctx.lineWidth = link_line_width;
                
                ctx.beginPath();
                ctx.moveTo(balls[i].x, balls[i].y);
                ctx.lineTo(balls[j].x, balls[j].y);
                ctx.stroke();
                ctx.closePath();
            }
            }
        }
    }

    // calculate distance between two points
    function getDisOf(b1, b2){
        var  delta_x = Math.abs(b1.x - b2.x),
        delta_y = Math.abs(b1.y - b2.y);
        
        return Math.sqrt(delta_x*delta_x + delta_y*delta_y);
    }

    // add balls if there a little balls
    function addBallIfy(){
        if(balls.length < 20){
            balls.push(getRandomBall());
        }
    }

    // Render
    function render(){
        ctx.clearRect(0, 0, can_w, can_h);
        
        renderBalls();
        
        renderLines();
        
        updateBalls();
        
        addBallIfy();
        
        window.requestAnimationFrame(render);
    }

    // Init Balls
    function initBalls(num){
        for(var i = 1; i <= num; i++){
            balls.push({
                x: randomSidePos(can_w),
                y: randomSidePos(can_h),
                vx: getRandomSpeed('top')[0],
                vy: getRandomSpeed('top')[1],
                r: R,
                alpha: 1,
                phase: randomNumFrom(0, 10)
            });
        }
    }
    // Init Canvas
    function initCanvas(){
        canvas.setAttribute('width', window.innerWidth);
        canvas.setAttribute('height', window.innerHeight);
        
        can_w = parseInt(canvas.getAttribute('width'));
        can_h = parseInt(canvas.getAttribute('height'));
    }
    window.addEventListener('resize', function(e){
        console.log('Window Resize...');
        initCanvas();
    });

    function goMovie(){
        initCanvas();
        initBalls(30);
        window.requestAnimationFrame(render);
    }
    goMovie();

    // Mouse effect
    canvas.addEventListener('mouseenter', function(){
        console.log('mouseenter');
        mouse_in = true;
        balls.push(mouse_ball);
    });
    canvas.addEventListener('mouseleave', function(){
        console.log('mouseleave');
        mouse_in = false;
        var new_balls = [];
        Array.prototype.forEach.call(balls, function(b){
            if(!b.hasOwnProperty('type')){
                new_balls.push(b);
            }
        });
        balls = new_balls.slice(0);
    });
    canvas.addEventListener('mousemove', function(e){
        var e = e || window.event;
        mouse_ball.x = e.pageX;
        mouse_ball.y = e.pageY;
        // console.log(mouse_ball);
    });

</script>