
    <!--Main Footer-->
    <footer class="main-footer lazy" data-src="/frontend/images/background/4.webp">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                    <!--big column-->
                    <div class="big-column col-md-12 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                                <div class="footer-widget about-widget">
									<h2 class="foot_title">Newsletter</h2>
                                    <div class="subscribe-form">
                                        <!--Subscribe Form-->
                                        <form method="post" action="#" onsubmit="submitNewsletter(event,this)">
                                            <div class="row clearfix">
                                                <div class="column col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row clearfix">
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <input type="text" name="name" value="" placeholder="Your Name">
                                                        </div>
                                                        
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <input type="email" name="email" value="" placeholder="Email Address *" required>
                                                        </div>
                                                        <div class="column col-md-12 col-sm-12 col-xs-12">
                                                           <div class="form-group">
                                                               <button type="submit" class="theme-btn btn-style-three">Subscribe</button>
                                                           </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </form>
                                        <!--End Subscribe Form-->
                                        
                                    </div>
                                </div>
                            </div>
                                    
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <h2 class="foot_title">Contact Details</h2>
                                    <div class="widget-content">
                                        <ul class="list-style-one">
                                            <li><span class="icon flaticon-maps-and-flags"></span>180/6/B/1, East Rampura , Titas Road </li>
                                            <li><span class="icon flaticon-telephone"></span> <a target="_blank" href="tel:+8801829268780">Phone: +88 01829268780</a></li>
                                            <li><span class="icon flaticon-web"></span> <a target="_blank" href="mailto:info.autobazarbd@gmail.com">info.autobazarbd@gmail.com</a></li>
                                            <li><span class="icon fa fa-facebook-f"></span><a target="_blank" href="https://www.facebook.com/autobazarbd2019">Facebook</a></li>
                                            <li><span class="icon fa fa-youtube-square"></span><a target="_blank" href="https://www.youtube.com/channel/UCIA70eU1YUofohYSv1mD3LQ">YouTube</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-4 col-xs-12 useful_link">
                                <div class="footer-widget links-widget">
                                    <h2 class="foot_title">Usefull Links</h2>
                                    <div class="widget-content">
                                        <div class="row clearfix">
                                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                                <ul class="footer-links">
                                                    <li><a onclick="$('#termsAndconditions').show()">Terms And Conditions</a></li>
                                                    <li><a href="/about-us">About Us</a></li>
                                                    <li><a href="/contact">Contact</a></li>
                                                    <li><a href="/ab-member/register">Register</a></li>
                                                    <li><a href="/ab-member/login">Login</a></li>
                                                    
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                                <ul class="footer-links">
                                                    <li><a href="/">Home</a></li>
                                                    <li><a href="/blog">Blog</a></li>
                                                    <li><a href="/products">Products</a></li>
                                                    <li><a href="/showrooms">Showrooms</a></li>
                                                    <li><a href="/offer">Offer</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-sm-6 col-xs-12">
                    	<div class="copyright">Copyrights © 2019 All Rights Reserved by <a href="/">autobazarbd.com</a></div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    	<ul class="footer-nav">
                            <li><a href="/">Home</a></li>
                        	<li><a href="/blog">Blog</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/showrooms">Showrooms</a></li>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Main Footer-->
    
</div>
<!--End pagewrapper-->

<!-- Popup Section -->

<div class="backwrap" id="loginRegister_backwrap">
        <div class="loginRegister_popup" id="loginRegister_popup">
            <div class="pop_header">
                <h3 class="popupTitle">Login Now</h3>
                <span class="close_popup" onclick="$('.backwrap').hide()"><span class="fa fa-close"></span></span>
            </div>
            <div class="pop_body">
                <div class="form-box">
                    <!--Cars Form-->
                    <!-- Login Form -->
                    <div class="styled-form login-form">
                        <form method="post" action="" id="customerLogin" onsubmit="loginCustomer(event)">
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                                <input type="email" name="customer_email" placeholder="Email Address*" required>
                            </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                                <input type="password" name="password"  placeholder="Enter Password*" required>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input type="checkbox" id="remember-me"><label class="remember-me" for="remember-me">&nbsp; Remember Me</label>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="form-group pull-left">
                                    <button type="submit" class="theme-btn btn-style-one">login</button>
                                </div>
                                <!-- <div class="form-group social-links-two pull-right">
                                    Or login with <a href="#" class="img-circle facebook"><span class="fa fa-facebook-f"></span></a> <a href="#" class="img-circle twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="img-circle google-plus"><span class="fa fa-google-plus"></span></a>
                                </div> -->
                            </div>
                            
                            <div class="clearfix">
                                <div class="pull-left">
                                    <label class="remember-me" style="line-height: 48px;">&nbsp; Don't you have an account? </label>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="button" onclick="swapLoginRegister('register')" class="theme-btn btn-style-one">Register Here</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                
                    <!-- Register Form -->

                    <div class="styled-form register-form" style="display:none">
                        <form id="registerCustomer" onsubmit="registerCustomer(event)" method="post" action="">
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-user"></span></span>
                                <input type="text" name="customer_name" placeholder="Your Name *" required>
                            </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                                <input type="email" name="customer_email"  placeholder="Email Address*" required>
                            </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                                <input type="number" name="customer_phone"  placeholder="Phone Number*" required>
                            </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                                <input type="password" name="password"  placeholder="Enter Password*" required>
                            </div>
                            <div class="clearfix">
                                <div class="form-group pull-left">
                                    <button type="submit" style="cursor: pointer;" class="theme-btn btn-style-one" >Register</button>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="pull-left">
                                    <label class="remember-me" style="line-height: 48px;">&nbsp; Already have an account? </label>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="button" class="theme-btn btn-style-one" onclick="swapLoginRegister('login')">Login here</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<%- include('../../terms_conditions') %>
<!-- End Popup Section -->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
<% if(page == 'single_product' || page == 'shop_single'){ %> 
    <div class="chatBtn" onclick="viewChatBox(this)"><img src="/images/msg.svg" alt=""></div>
    <div class="chatIcon" id="msgContainerFull">
        <div class="chat_box">
            <div class="chat_box_head">
                <div class="chat_box_logo">
                    <img class="lazy" data-src="/images/uploads/<%= shopD.shop_img %>" alt="">
                </div>
                <div class="chat_box_title">
                    <h3 style="font-size: 18px;font-weight: bold;"><%= shopD.shop_name %></h3>
                </div>
                <span class="fa fa-close close_chat" onclick="$('.chatBtn.active').trigger('click');"></span>
            </div>
            <div class="chat_container" id="msgContainer" style="display: none" shop-id="<%= shopD.shop_id %>">
                
                <div class="single_msg" msg_type="from_customer">
                    <div class="usr_img">
                        <img src="/images/logo.webp" alt="">
                    </div>
                    <div class="msg_body">
                        <p class="main_msg_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="msg_date_time">Date Time</p>
                    </div>
                </div>
                <div class="single_msg" msg_type="from_admin">
                    <div class="usr_img">
                        <img src="/images/logo.webp" alt="">
                    </div>
                    <div class="msg_body">
                        <p class="main_msg_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="msg_date_time">Date Time</p>
                    </div>
                </div>
                <div class="single_msg" msg_type="from_customer">
                    <div class="usr_img">
                        <img src="/images/logo.webp" alt="">
                    </div>
                    <div class="msg_body">
                        <p class="main_msg_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="msg_date_time">Date Time</p>
                    </div>
                </div>
                <div class="single_msg" msg_type="from_admin">
                    <div class="usr_img">
                        <img src="/images/logo.webp" alt="">
                    </div>
                    <div class="msg_body">
                        <p class="main_msg_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="msg_date_time">Date Time</p>
                    </div>
                </div>
                <div class="single_msg" msg_type="from_customer">
                    <div class="usr_img">
                        <img src="/images/logo.webp" alt="">
                    </div>
                    <div class="msg_body">
                        <p class="main_msg_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="msg_date_time">Date Time</p>
                    </div>
                </div>
                <div class="single_msg" msg_type="from_admin">
                    <div class="usr_img">
                        <img src="/images/logo.webp" alt="">
                    </div>
                    <div class="msg_body">
                        <p class="main_msg_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="msg_date_time">Date Time</p>
                    </div>
                </div>
                <div class="single_msg" msg_type="from_customer">
                    <div class="usr_img">
                        <img src="/images/logo.webp" alt="">
                    </div>
                    <div class="msg_body">
                        <p class="main_msg_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="msg_date_time">Date Time</p>
                    </div>
                </div>
            </div>
            <div class="chat_container" id="loginMsgContainer" style="display: none">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                    <label>Please login your account first.  </label>
                    <div class="msg_send_btn" style="float: unset" onclick="$('#loginRegister_backwrap').css('display','flex')">login</div>
                </div>
            </div>
            <div class="chat_box_foot">
                <div id="msgContent" class="msg_txt" contenteditable="true" placeholder="Write a message.." onkeyup="enterTosend(event)"></div>
                <div class="msg_send_btn" onclick="msg_submit()">Send</div>
            </div>
        </div>
    </div>

<% } %>

<script src="/frontend/js/bootstrap.min.js"></script>
<!--Revolution Slider-->
<script src="/frontend/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/frontend/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/frontend/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/frontend/js/main-slider-script.js"></script>
<!--End Revolution Slider-->
<script src="/frontend/js/jquery-ui.js"></script>
<script src="/frontend/js/jquery.fancybox.pack.js"></script>
<script src="/frontend/js/jquery.fancybox-media.js"></script>
<script src="/frontend/js/owl.js"></script>
<script src="/frontend/js/appear.js"></script>
<script src="/frontend/js/wow.js"></script>
<script src="/frontend/js/main-slider-script.js"></script>
<script src="/frontend/js/jquery.bootstrap-touchspin.js"></script>


<% if(page == 'contact'){ %> 
    <script src="/frontend/js/validate.js"></script>
    <!--Google Map APi Key-->
    <script src="/frontend/js/gmaps.js"></script>
    <script src="/frontend/js/map-script.js"></script>
    <!--End Google Map APi-->
<% } %>
<script src="/frontend/js/script.js"></script>

<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket-client-side.js"></script>
<script src="/javascripts/jquery.lazy.min.js"></script>
<script src="/javascripts/jquery.lazy.plugins.min.js"></script>
<script src="/javascripts/frontend.js"></script>
<!-- code for facebook like button -->

</body>

<script>

    function swapLoginRegister(type) {
        if (!$('.register-form').is(':visible')) {
            $('#loginRegister_popup .popupTitle').text('Register Now');
            $('.styled-form.login-form').hide();
            $('.styled-form.register-form').fadeIn();
        } else {
            $('#loginRegister_popup .popupTitle').text('Login Now');
            $('.styled-form.register-form').hide();
            $('.styled-form.login-form').fadeIn();
        }
    }

    function viewChatBox(elm) {
        if($(elm).hasClass('active')){
            $('#msgContainerFull').removeClass('chat_visible');
            $(elm).removeClass('active');
        }else{
            $('#msgContainerFull').addClass('chat_visible');
            checkHaslogin();
            $(elm).addClass('active');
        }
    }

    $('#filterCondition').select2();
    $('#filterBrand').select2();
    $('#filterPriceRange').select2();
    $('#filterDivisions').select2();
    $('#filterZillas').select2();
    $('#filterThanas').select2();
    $('.cusselect2').select2();

    
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X1YTSXZY28"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X1YTSXZY28');
</script>


</html>
