<!DOCTYPE html>
<html>

<head>
<!-- <meta charset="utf-8"> -->
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge;text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="Find  new bike, new car, used car, bike parts, car parts. AutoBazarbd has many special features to help you find exactly what you're looking for.">

<!-- Google / Search Engine Tags -->
<!-- AutoBazarbd biggest market place for buy new/old bike and car. -->
<meta itemprop="name" content="AutoBazarbd">
<meta itemprop="description" content="Find  new bike, new car, used bike, used car, bike parts, car parts. AutoBazarbd has many special features to help you find exactly what you're looking for.">
<meta itemprop="image" content="/images/logo.webp">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="www.autobazarbd.com">
<meta property="og:type" content="website">
<meta property="og:title" content="AutoBazarbd">
<meta property="og:description" content="Find  new bike, new car, used bike, used car, bike parts, car parts. AutoBazarbd has many special features to help you find exactly what you're looking for.">
<meta property="og:image" content="/images/logo.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="AutoBazarbd">
<meta name="twitter:description" content="Find  new bike, new car, used bike, used car, bike parts, car parts. AutoBazarbd has many special features to help you find exactly what you're looking for.">
<meta name="twitter:image" content="/images/logo.webp">

<title><%= title %></title>
<!--Favicon-->
<link rel="shortcut icon" href="/frontend/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/frontend/images/favicon.png" type="image/x-icon">
<!-- Stylesheets -->
<link href="/frontend/css/bootstrap.css" rel="stylesheet">
<link href="/frontend/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="/frontend/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="/frontend/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="/frontend/css/responsive.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script type="text/javascript" src="/javascripts/jquery.mlens-1.7.js"></script>
<link href="/frontend/css/select2.css" rel="stylesheet">
<script type="text/javascript" src="/frontend/js/select2.min.js"></script>
<link href="/frontend/css/style.css" rel="stylesheet">

<script src="/frontend/js/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/frontend/css/sweetalert2.min.css" >

</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
        
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
            	<div class="clearfix">
                	<!--Top Left-->
                    <div class="top-left">
                    	<ul class="info-block">
                            <li><span class="icon flaticon-web"></span>Phone: +88 01829268780</li> <li><span class="icon fa fa-at"></span>Email: info.autobazarbd@gmail.com</li>
                        </ul>
                        <div class="social-links">
                        	<a href="https://www.facebook.com/autobazarbd.info" target="_blank"><span class="fa fa-facebook-f"></span></a>
                            <a href="https://www.twitter.com/autobazarbd2019" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a href="https://www.linkedin.com/autobazarbd2019" target="_blank"><span class="fa fa-linkedin"></span></a>
                           <a href="https://www.youtube.com/channel/UCIA70eU1YUofohYSv1mD3LQ" target="_blank"><span class="fa fa-youtube-square"></span></a>
                        </div>
                    </div>
                    <!--Top Right-->
                    <div class="top-right">
                    	<ul class="dropdown-option clearfix">
                        	<li class="account dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="icon flaticon-user"></span>&ensp;<span id="accountHasLogin">My Account</span> &nbsp;<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                    <li><a id="customerLoginbtn" onclick="$('#loginRegister_backwrap').css('display','flex')">login</a></li>
                                    <li><a id="customersingoutbtn" onclick="customerLogout()">Sing Out</a></li>
                                </ul>
                            </li>
                            <li><a class="sell-car" href="/ab-member/register">What do you sell ?</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="upper-inner clearfix">

                    <div class="logo-outer" style="padding: 10px 0px;">
                        <div class="logo">
                            <a href="/"><span style="font-size: 25px;"><img src="/images/logo.webp" alt="AutoBazarbd" style="max-width: 200px;"></span></a>
                        </div>
                    </div>
  
                    <div class="upper-right clearfix">
                    	
                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->    	
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="<% if(page == 'home'){ %> current <% } %>"><a href="/">Home</a></li>
                                        <li class="<% if(page == 'blog'){ %> current <% } %>"><a href="/blog">Blog</a></li>
                                        <li class="<% if(page == 'products'){ %> current <% } %>"><a href="/products">Products</a></li>
                                        <li class="<% if(page == 'shop'){ %> current <% } %>"><a href="/showrooms">Showrooms</a></li>
                                        <li class="<% if(page == 'offer'){ %> current <% } %>">
                                            <a href="/offer" class="<% if(page !== 'offer'){ %> blinking <% } %>">OFFER
                                               
                                            </a>
                                        </li>
                                        <li class="<% if(page == 'about_us'){ %> current <% } %>"><a href="/about-us">About Us</a></li>
                                        <li class="<% if(page == 'contact'){ %> current <% } %>"><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        <% if(page == 'single_product') { %>
            <%- include('shop_location') %>
        <% } %>
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">

                <div class="logo pull-left" style="padding:5px 0px;">
                    <a href="/" class="img-responsive" title="Car World">
                         <a href="/"><span style="font-size: 25px;"><img src="/images/logo.webp" alt="AutoBazarbd" style="max-width: 132px;"></span></a>
                    </a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="<% if(page == 'home'){ %> current <% } %>"><a href="/">Home</a></li>
                                <li class="<% if(page == 'blog'){ %> current <% } %>"><a href="/blog">Blog</a></li>
                                <li class="<% if(page == 'products'){ %> current <% } %>" ><a href="/products">Products</a></li>
                                <li class="<% if(page == 'shop'){ %> current <% } %>" ><a href="/showroom">Showrooms</a></li>
                                <li class="<% if(page == 'offer'){ %> current <% } %>"><a href="/offer" class="<% if(page !== 'offer'){ %> blinking <% } %>">Offer</a></li>
                                <li class="<% if(page == 'about_us'){ %> current <% } %>"><a href="/about-us">About Us</a></li>
                                <li class="<% if(page == 'contact'){ %> current <% } %>"><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->