    <div class="header-lower">
        <div class="auto-container">
            <div class="lower-inner">
                <ul class="info-block" style="padding:15px 0">
                    <li><span class="icon flaticon-maps-and-flags"></span><span class="_location_<%= shopD.shop_id %>"></span> </li>
                    <li><span class="icon flaticon-telephone"></span><span class="_shopContact_<%= shopD.shop_id %> "></span> </li>
                </ul>
                <!-- Search -->
            </div>
        </div>
    </div>
