<%- include('../layouts/head') %>


<div class="wrapper wrapper-content animated fadeInRight">
                
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Banner Add Form</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="banner_form">
                        <div class="form-group  row">

                        	<label class="col-sm-2 col-form-label">Banner Name</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" placeholder="Enter your banner name here..." name="banner_title" >
                            </div>

                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Banner Descriptions</label>
                            <div class="col-sm-10">
                            	<textarea type="text" class="form-control" name="banner_descriptions" placeholder="Banner Descriptions ..."></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Any Notes</label>
                            <div class="col-sm-10">
                            	<textarea type="text" class="form-control" name="banner_notes" placeholder="Banner notes for admin ..."></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Banner Link</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="banner_link" placeholder="Brand link ...">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Banner type</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="banner_type" id="">
                                    <option value="offter" selected>Offer</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row text-center" id="sliderImageUploadDiv">
                              <div class="custom-file col-sm-8 text-center"  style="margin: 0px auto;cursor: pointer;">
                                <input id="fileInput" onchange="fileupload(this.files,'slider')" type="file" class="custom-file-input" accept="image/*" required >
                                <label for="fileInput" class="custom-file-label">Choose Banner Image...</label>
                            </div>
                        </div>
                        <div class="form-group row" id="sliderImageViewDiv" style="display: none">
                              <div class="upload_Input" style="width: 100%; height: auto">
                                <img id="sliderImgViewr" src="" style="max-width: 100%;max-height: 100%">
                              </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="btn btn-primary btn-sm" onclick="saveBanner()">Save Banner</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>All Banner</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table text-center">
                        <thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Banner Title</th>
                                <th>Banner Description</th>
                                <th>Banner Notes</th>
	                            <th>Banner img</th>
                                <th>Banner link</th>
                                <% if(user_data.user_role == 'Admin'){ %> 
	                            	<th>Action</th>
		                        <% } %>
	                        </tr>
                        </thead>
                        <tbody id="rsvBrandAll">
                            <% _.each(allBanner,function(v,k){ %> 
                                <tr class="rsvBanner">
                                    <td><%= k + 1 %></td>
                                    <td><%= v.banner_title %></td>
                                    <td><%= v.banner_descriptions %></td>
                                    <td><%= v.banner_notes %></td>
                                    <td><img src="/images/uploads/<%= v.banner_img %>" alt="" style="width: 200px; height: 80px"></td>
                                    <td><a href="<%= v.banner_link %>"><%= v.banner_link %></a></td>
                                    <% if(user_data.user_role == 'Admin'){ %> 
			                            <td>
			                            	<% if(v.status){ %> 
	                                            <button type="button" class="btn btn-outline btn-primary btn-xs active" onclick="updateBannerStatus(this)" data-id="<%= v.banner_id %>" >Active</button>
	                                        <% }else{ %> 
	                                            <button type="button" class="btn btn-outline btn-danger btn-xs inactive" onclick="updateBannerStatus(this)" data-id="<%= v.banner_id %>" >Inactive</button>
                                            <% } %>
                                            <button type="button" class="btn  btn-danger btn-xs" onclick="deleteBanner(this)" data-id="<%= v.banner_id %>" ><i class="fa fa-times"></i></button>
			                            </td>
		                            <% } %>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>











<%- include('../layouts/foot') %>