<%- include('../layouts/head') %>


<div class="wrapper wrapper-content animated fadeInRight">
                
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Brand Add Form</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="brandFrom">
                        <div class="form-group  row">

                        	<label class="col-sm-2 col-form-label">Brand Name</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" placeholder="Enter your brand name here..." name="brand_name" >
                            </div>

                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Brand Descriptions</label>
                            <div class="col-sm-10">
                            	<textarea type="text" class="form-control" name="brand_desc" placeholder="Brand Descriptions ..."></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row text-center" id="sliderImageUploadDiv">
                              <div class="custom-file col-sm-8 text-center"  style="margin: 0px auto;cursor: pointer;">
                                <input id="fileInput" type="file" class="custom-file-input" accept="image/*" required onchange="getTemppImg(this)">
                                <label for="fileInput" class="custom-file-label">Choose Brand Image...</label>
                            </div>
                        </div>
                        <div class="form-group row" id="sliderImageViewDiv" style="display: none">
                              <div class="upload_Input" style="width: 100%; height: auto">
                                <img id="sliderImgViewr" src="" style="max-width: 100%;max-height: 100%">
                              </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="btn btn-primary btn-sm" onclick="saveBrand(this)">Save</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>All Brand</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table text-center">
                        <thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Slider Title</th>
                                <th>Brand Description</th>
	                            <th>Brand Logo</th>
	                            <% if(user_data.user_role == 'Admin'){ %> 
	                            	<th>Action</th>
		                        <% } %>
	                        </tr>
                        </thead>
                        <tbody id="rsvBrandAll">
                        	<% _.each(allBrand,function(v,k){ %> 
		                        <tr class="rsvBrand">
		                            <td><%= k+1 %></td>
		                            <td><%= v.brand_name %></td>
                                    <td><%= v.brand_desc %></td>
		                            <td><img src="<%= v.brand_logo %>" style="width: 200px; height: 80px"></td>
		                            <% if(user_data.user_role == 'Admin'){ %> 
			                            <td>
			                            	<% if(v.status){ %> 
	                                            <button type="button" class="btn btn-outline btn-primary btn-xs active" onclick="updateBrandStatus(this)" data-id="<%= v.brand_id %>" >Active</button>
	                                        <% }else{ %> 
	                                            <button type="button" class="btn btn-outline btn-danger btn-xs inactive" onclick="updateBrandStatus(this)" data-id="<%= v.brand_id %>" >Inactive</button>
                                            <% } %>
                                            <button type="button" class="btn  btn-danger btn-xs" onclick="deleteBrand(this)" data-id="<%= v.brand_id %>" ><i class="fa fa-times"></i></button>
			                            </td>
		                            <% } %>
		                        </tr>
                        	<% }); %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>











<%- include('../layouts/foot') %>