<%- include('../layouts/head') %>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Category View</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th># </th>
                                    <th>Category Name </th>
                                    <th>Category Image</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(allCate,function(v,k){ %> 

                                    <tr class="">
                                        <td><%= k+1 %></td>
                                        <td><%= v.category_name %></td>
                                        <td><img alt="image" class="rounded-circle message-avatar" src="/images/category/<%= v.category_img %>"></td>
                                        <td>
                                                <% if(v.category_status){ %> 
                                                    <button type="button" class="btn btn-outline btn-primary btn-xs active" >Active</button>
                                                <% }else{ %> 
                                                    <button type="button" class="btn btn-outline btn-danger btn-xs inactive">Inactive</button>
                                                <% } %>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/foot') %>