<%- include('../layouts/head') %>
            <div class="sidebar-panel" id="sidepanel_dashboard" style="display: none">
                <div class="row">
                    <h4 id="side-panel-title">Messages</h4>

                    <div class="feed-element" id="sidebar-panel-body">
                        
                    </div>
                    
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-4" onclick="toggleContactPanel()">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-4">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </div>
                                <div class="col-8 text-right">
                                    <span> Contact Messages </span>
                                    <h2 class="font-bold" id="totalContactMsg">0</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%- include('../layouts/foot') %>