
<%- include('../layouts/head') %>

<div class="wrapper wrapper-content animated fadeInRight custom_wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Edit Blog Post</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <% if( ses_msg != null ){ %> 
                        <h2 style="text-align: center;margin-bottom: 5px"><%= ses_msg %></h2>
                    <% } %>
                    <form action="/ab-admin/edit-post/<%= (blog_data.uniq_url == null? blog_data.blog_id:blog_data.uniq_url) %>" method="POST" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Post Title</label>
                            <div class="col-md-9">
                                <input type="text" value="<%= blog_data.blog_title %>" name="blog_title" placeholder="Enter post title" class="form-control" required> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" >Feature Image</label>
                            <div class="col-md-9">
                                <div class="custom-file">
                                    <input id="logo" type="file" name="feature_img" accept="image/*" class="custom-file-input">
                                    <label for="logo" class="custom-file-label">Choose file...</label>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Short Description</label>
                            <div class="col-md-9">
                                <textarea name="blog_short_desc" value="<%= blog_data.blog_short_desc %>" required class="form-control" id="" cols="30" rows="3" placeholder="Enter short description"><%= blog_data.blog_short_desc %></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Long Description</label>
                            <div class="col-md-9">
                                <textarea name="blog_long_desc"  value="<%= blog_data.blog_long_desc %>" required class="form-control summernote" id="" cols="30" rows="6" placeholder="Enter long description"><%= blog_data.blog_long_desc %></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-3 col-md-3">
                                <div class="i-checks">
                                    <label> <input type="checkbox" name="status" <%= blog_data.status ? 'checked':''%>><i></i> Publish post</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-primary" type="submit">Update Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/foot') %>

<!-- SUMMERNOTE -->
<script src="/backend/js/plugins/summernote/summernote-bs4.js"></script>

<script>
$(document).ready(function(){

    $('.summernote').summernote({
        placeholder: 'Write long description Here...',
        minHeight: 150,
    });

});
 
$('.custom-file-input').on('change', function() {
   let fileName = $(this).val().split('\\').pop();
   $(this).next('.custom-file-label').addClass("selected").html(fileName);
}); 
</script>