<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login 2</title>

    <link href="/backend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/backend/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/backend/css/animate.css" rel="stylesheet">
    <link href="/backend/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Welcome to IN+</h2>

                <p>
                    Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                </p>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>

                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" id="verificationForm" style="display:block" action="/ab-admin/email-verification/<%= data.s_user_id %>" method="POST">
                        <div class=" text-center">
                            <div class="alert alert-warning alert-dismissable alertMsg" ><%= ses_msg %></div>
                            <img id="verificationImg" src="/images/users/<%= data.s_user_img %>" class="rounded-circle circle-border" alt="profile" style="width: 70px;height: 70px;">
                            <h3 class="font-bold m-b-md" id="verificationName" >Hi, <%= data.s_user_name %></h3> 
                        </div>
                        <div class="form-group">
                            <input type="Number" id="s_u_verification" name="pin" class="form-control" placeholder="Verification Pin" required="">
                        </div>
                        <input type="hidden" name="userid" value="<%= data.s_user_id %>">
                        <button  type="submit" class="btn btn-primary block full-width m-b">Submit</button>
        
                        <p class="text-muted text-center"><small>Already have an account?</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="/ab-admin/login">Login</a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Example Company
            </div>
            <div class="col-md-6 text-right">
               <small>© 2014-2015</small>
            </div>
        </div>
    </div>

</body>

</html>
<script src="/backend/js/jquery-3.1.1.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket-client-side.js"></script>
<script src="/javascripts/custom_socket.js"></script>