<%- include('../layouts/head') %>
<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 0;">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Location add form</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" class="">
                        <div class="row" id="countryForm">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input id="inputCountry" type="text" placeholder="Enter Country" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label style="color: white">Save</label>
                                <div class="btn btn-primary" onclick="submitLocation(this,'country')" >Save</div>
                            </div>
                        </div>
                        <div class="row" id="divisionForm">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="country-select form-control select_country" tabindex="2">
                                        <option value="">Select Country</option>
                                        <%  _.each(allCountry,function(v,k){ %> 
                                            <option value="<%= v.country_id %>"><%= v.country_name %></option>
                                        <%  }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Division</label>
                                    <input id="inputDivision" type="text" placeholder="Enter Division" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label style="color: white">Save</label>
                                <div class="btn btn-primary" onclick="submitLocation(this,'division')" >Save</div>
                            </div>
                        </div>
                        <div class="row" id="zillaForm">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="country-select form-control select_country" tabindex="2" onchange="selectCountry(this,'zillaForm')">
                                        <option value="">Select Country</option>
                                        <%  _.each(allCountry,function(v,k){ %> 
                                            <option value="<%= v.country_id %>"><%= v.country_name %></option>
                                        <%  }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Division</label>
                                    <select class="country-select form-control select_division" tabindex="2">
                                        <option value="">Select Division</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Zilla</label>
                                    <input id="inputZilla" type="text" placeholder="Enter Zilla" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label style="color: white">Save</label>
                                <div class="btn btn-primary" onclick="submitLocation(this,'zilla')" >Save</div>
                            </div>
                        </div>
                        <div class="row" id="thanaForm">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="country-select form-control select_country" tabindex="2" onchange="selectCountry(this,'thanaForm')">
                                        <option value="">Select Country</option>

                                        <%  _.each(allCountry,function(v,k){ %> 
                                            <option value="<%= v.country_id %>"><%= v.country_name %></option>
                                        <%  }); %>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Division</label>
                                    <select class="country-select form-control select_division" tabindex="2" onchange="selectDivision(this,'thanaForm')">
                                        <option value="">Select Division</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Zilla</label>
                                    <select class="country-select form-control select_zilla" tabindex="2">
                                        <option value="">Select Zilla</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Thana</label>
                                    <input id="inputThana" type="text" placeholder="Enter Thana" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label style="color: white">Save</label>
                                <div class="btn btn-primary" onclick="submitLocation(this,'thana')">Save</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Location Tree View</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div id="jstree1">
                        <ul>
                            <li class="jstree-open">Locations
                                <ul>
                                    <%  _.each(allCountry,function(v,k){ %> 
                                        <li class="jstree-close"> <%= v.country_name %>
                                            <ul>
                                                <% _.each(allDivision,function(vd,kd){ if(v.country_id == vd.country_id){%> 

                                                    <li  class="jstree-close" ><%= vd.division_name %>
                                                        <ul>
                                                                <% _.each(allZilla,function(vz,kz){ if(vd.division_id == vz.division_id){%> 
                                                                    <li  class="jstree-close" ><%= vz.zilla_name %>
                                                                        <ul>
                                                                                <% _.each(allThana,function(vt,kt){ if(vz.zilla_id == vt.zilla_id){%> 
                                                                                    <li  class="jstree-open" ><%= vt.thana_name %></li>
                                                                                <% } }) %>
                                                                        </ul>
                                                                    </li>
                                                                <% } }) %>
                                                        </ul>
                                                    </li>
                                                <% } }) %>
                                            </ul>
                                        </li>
                                    <%  }); %>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/foot') %>