
<%- include('../layouts/head') %>

<div class="wrapper wrapper-content animated fadeInRight custom_wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Shop list </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th># </th>
                                    <th>Shop Name </th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Owner Name</th>
                                    <th>Shop Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(allShop,function(v,k){ %> 
                                    <tr class="shopTR">
                                        <td><%= k+1 %></td>
                                        <td><%= v.shop_name %></td>
                                        <td><%= v.shop_phone %></td>
                                        <td><%= v.shop_email %></td>
                                        <td><%= v.shop_creator_name %></td>
                                        <td>
                                            <% if(v.shop_status){ %> 
                                                <button type="button" class="btn btn-outline btn-primary btn-xs active" onclick="updateShop(this,'status')" data-id="<%= v.shop_id %>" >Active</button>
                                            <% }else{ %> 
                                                <button type="button" class="btn btn-outline btn-danger btn-xs inactive" onclick="updateShop(this,'status')" data-id="<%= v.shop_id %>" >Inactive</button>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        
        </div>

    </div>
</div>
<%- include('../layouts/foot') %>
