
<%- include('../layouts/head') %>

    <div class="wrapper wrapper-content animated fadeInRight custom_wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Users table </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th># </th>
                                        <th>Name </th>
                                        <th>Image</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Role </th>
                                        <th>User Status</th>
                                        <th>Email Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(allSU,function(v,k){ %> 
                                        <tr class="userTR">
                                            <td><%= k+1 %></td>
                                            <td><%= v.s_user_name %></td>
                                            <td><img alt="image" class="rounded-circle message-avatar" src="/images/users/<%= v.s_user_img %>"></td>
                                            <td><%= v.s_user_phone %></td>
                                            <td><%= v.s_user_email%></td>
                                            <td><% if(v.s_user_role == 1){ %> Admin <%}else if(v.s_user_role == 2){ %> Co-Admin <% }else{ %> User <% } %></td>
                                            <td>
                                                <% if(v.s_user_status){ %> 
                                                    <button type="button" class="btn btn-outline btn-primary btn-xs active" onclick="updateSUstatus(this,'staus')" data-id="<%= v.s_user_id %>" >Active</button>
                                                <% }else{ %> 
                                                    <button type="button" class="btn btn-outline btn-danger btn-xs inactive" onclick="updateSUstatus(this,'status')" data-id="<%= v.s_user_id %>" >Inactive</button>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if(v.email_status){ %> 
                                                    <button type="button" class="btn btn-outline btn-primary btn-xs active" onclick="updateSUstatus(this,'email')" data-id="<%= v.s_user_id %>" >Active</button>
                                                <% }else{ %> 
                                                    <button type="button" class="btn btn-outline btn-danger btn-xs inactive" onclick="updateSUstatus(this,'email')" data-id="<%= v.s_user_id %>" >Inactive</button>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if(v.s_user_role !== 1 ){ %> 
                                                    <div class="btn  btn-danger btn-xs"  onclick="deleteSUser(this)" data-id="<%= v.s_user_id %>" >
                                                        <i class="fa fa-times" ></i>
                                                    </div>
                                                <% }else if(v.s_user_role == 1 && v.s_user_status == false){ %> 
                                                    <div class="btn  btn-danger btn-xs"  onclick="deleteSUser(this)" data-id="<%= v.s_user_id %>" >
                                                        <i class="fa fa-times" ></i>
                                                    </div>

                                                <% } %>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            
            </div>

        </div>
    </div>
<%- include('../layouts/foot') %>
