
<%- include('../layouts/head') %>

<div class="wrapper wrapper-content animated fadeInRight custom_wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Blog Posts</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="width: 20%">Post Title</th>
                                    <th>Feature Image</th>
                                    <th style="width: 40%">Short Description</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(allPost, function(v,k){ %>
                                    <tr class="singlePost">
                                        <td><%= k+1 %></td>
                                        <td><%= v.blog_title %></td>
                                        <td><img style="max-width: 100px;max-height: 75px;border-radius: 5px;display: block;margin-left: auto;margin-right: auto;" src="/images/uploads/<%= v.feature_img %>" alt=""></td>
                                        <td id="short_desc<%= k+1 %>"><%= v.blog_short_desc %>
                                        </td>
                                        <script> var txt = '<%= v.blog_short_desc %>'; document.getElementById('short_desc<%= k+1 %>').innerText = txt.substring(0, 200) + '...'; </script>
                                        <td class="center statusField">
                                            <% if(v.status){ %>
                                                <button type="button" data-id="<%= v.blog_id %>" onclick="publishStatus(false,this)" class="btn btn-primary btn-xs">Active</button>
                                            <% }else{ %>
                                                <button type="button" data-id="<%= v.blog_id %>" onclick="publishStatus(true,this)" class="btn btn-danger btn-xs">Inactive</button>
                                            <% } %>
                                        </td>
                                        <td class="center">
                                            <a href="/ab-admin/edit-post/<%= (v.uniq_url == null? v.blog_id:v.uniq_url)%>"><div  class="btn btn-primary btn-xs">Edit </div></a>
                                            <button type="button" data-id="<%= v.blog_id %>" data-path="./public/images/uploads/<%= v.feature_img %>" onclick="deletePost(this)" class="btn btn-danger btn-xs">Delete</button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Post Title</th>
                                    <th>Feature Image</th>
                                    <th>Short Description</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/foot') %>

<script src="/backend/js/plugins/dataTables/datatables.min.js"></script>
<script src="/backend/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

    });

</script>