<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RSV | Register</title>

    <link href="/backend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/backend/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/backend/css/animate.css" rel="stylesheet">
    <link href="/backend/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Welcome to AutoBazarBD</h2>

                <p>
                    This registation only for autobazar admin or maintainer.
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" id="registerForm" novalidate="novalidate" method="POST" action="/ab-admin/register">
                        <% if(ses_msg !== null){ %> 
                            <div class=" text-center">
                                <div class="alert alert-warning alert-dismissable alertMsg"><%= ses_msg %></div>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <input type="text" name="name" id="s_u_name" class="form-control" placeholder="Name" required="" aria-required="true" aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="s_u_email" class="form-control" placeholder="Email" required="" aria-required="true" aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <input type="number" name="number" id="s_u_phone" class="form-control" placeholder="Phone Number" required="" aria-required="true" aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <select name="role" id="s_u_role" class="form-control" required="" aria-required="true" aria-invalid="false">
                                <option value="1">Admin</option>
                                <option value="2">Co-admin</option>
                                <option value="3">User</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="s_u_password" class="form-control" placeholder="Password" required="" aria-required="true" aria-invalid="true">
                        </div>
                        <div class="form-group">
                            <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Register</button>
        
                        <p class="text-muted text-center"><small>Already have an account?</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="/ab-admin/login">Login</a>
                    </form>

                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center;">Copyrights © 2019 All Rights Reserved by <a href="/">www.autobazarbd.com</a></p>
            </div>
        </div>
    </div>

</body>

</html>
<script src="/backend/js/jquery-3.1.1.min.js"></script>
<script src="/backend/js/plugins/validate/jquery.validate.min.js"></script>

<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket-client-side.js"></script>
<script src="/javascripts/custom_socket.js"></script>


<script type="text/javascript">

$("#registerForm").validate({
    rules: {
        name: {
            required: true,
            minlength: 4
        },
        email: {
            required: true,
            email: true
        },
        password: {
            required: true,
            minlength: 6
        },
        number: {
            required: true,
            number: true
        },
    }
});

var submitRegister = 0; 
var submitedUserId = '';
    
</script>