<%- include('../layouts/head') %>


<div class="wrapper wrapper-content animated fadeInRight">
                
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Slider Form</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="sliderForm">
                        <div class="form-group  row">

                        	<label class="col-sm-2 col-form-label">Slider Title</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" placeholder="Enter your slider title here..." name="slider_title" >
                            </div>

                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Slider Descriptions</label>
                            <div class="col-sm-10">
                            	<textarea type="text" class="form-control" name="slider_desc" placeholder="Slider Descriptions ..."></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Button Text</label>
                            <div class="col-sm-10">
                            	<textarea type="text" class="form-control" name="slider_desc2" placeholder="Button Text"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                        	<label class="col-sm-2 col-form-label">Slider Link</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" placeholder="Slider link..." name="slider_link" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row text-center" id="sliderImageUploadDiv">
                              <div class="custom-file col-sm-8 text-center"  style="margin: 0px auto;cursor: pointer;">
                                <input id="fileInput" type="file" class="custom-file-input" accept="image/*" required onchange="fileupload(this.files,'slider')">
                                <label for="fileInput" class="custom-file-label">Choose Slider Image...</label>
                            </div>
                        </div>
                        <div class="form-group row" id="sliderImageViewDiv" style="display: none">
                              <div class="upload_Input" style="width: 100%; height: auto">
                              	<img id="sliderImgViewr" src="" style="max-width: 100%;max-height: 100%">
                              </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="btn btn-primary btn-sm" onclick="saveSlider(this)">Save</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>All Slider</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table text-center">
                        <thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Slider Title</th>
	                            <th>Slider Image</th>
	                            <th>Slider Description</th>
	                            <% if(user_data.user_role == 'Admin'){ %> 
	                            	<th>Action</th>
		                        <% } %>
	                        </tr>
                        </thead>
                        <tbody id="rsvAllSlider">
                        	<% _.each(allSlider,function(v,k){ %> 
		                        <tr class="rsvSlider">
		                            <td><%= k+1 %></td>
		                            <td><%= v.slider_title %></td>
		                            <td><img src="/images/uploads/<%= v.slider_img %>" style="width: 200px; height: 80px"></td>
		                            <td><%= v.slider_desc %></td>
		                            <% if(user_data.user_role == 'Admin'){ %> 
			                            <td>
			                            	<% if(v.status){ %> 
	                                            <button type="button" class="btn btn-outline btn-primary btn-xs active" onclick="updateSliderStatus(this)" data-id="<%= v.slider_id %>" >Active</button>
	                                        <% }else{ %> 
	                                            <button type="button" class="btn btn-outline btn-danger btn-xs inactive" onclick="updateSliderStatus(this)" data-id="<%= v.slider_id %>" >Inactive</button>
                                            <% } %>
                                            <button type="button" class="btn  btn-danger btn-xs" onclick="deleteSlider(this)" data-id="<%= v.slider_id %>" ><i class="fa fa-times"></i></button>
			                            </td>
		                            <% } %>
		                        </tr>
                        	<% }); %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>











<%- include('../layouts/foot') %>