<div class="footer">
    <div>
        <strong>Copyright</strong> © 2019 All Rights Reserved by Roadsterview.com
    </div>
</div>

<div class="small-chat-box fadeInRight animated">
    <div class="heading" draggable="true">
        <small class="chat-date float-right">
            02.19.2015
        </small>
        Small chat
    </div>
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 288px;">
        <div class="content" style="overflow-y: auto; width: auto; height: 288px;">
            <div class="left">
                <div class="author-name">
                    Monica Jackson <small class="chat-date"> 10:02 am </small>
                </div>
                <div class="chat-message active">
                    Lorem Ipsum is simply dummy text input.
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    Mick Smith
                    <small class="chat-date"> 11:24 am </small>
                </div>
                <div class="chat-message">
                    Lorem Ipsum is simpl.
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    Alice Novak
                    <small class="chat-date"> 08:45 pm </small>
                </div>
                <div class="chat-message active">
                    Check this stock char.
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    Anna Lamson
                    <small class="chat-date"> 11:24 am </small>
                </div>
                <div class="chat-message">
                    The standard chunk of Lorem Ipsum
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    Mick Lane
                    <small class="chat-date"> 08:45 pm </small>
                </div>
                <div class="chat-message active">
                    I belive that. Lorem Ipsum is simply dummy text.
                </div>
            </div>
        </div>
        <div class="slimScrollBar"
            style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 65px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 169px;">
        </div>
        <div class="slimScrollRail"
            style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.4; z-index: 90; right: 1px;">
        </div>
    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control">
            <span class="input-group-btn"> <button class="btn btn-primary" type="button">Send
                </button> </span></div>
    </div>

</div>
<div id="small-chat">
    <span class="badge badge-warning float-right">5</span>
    <a class="open-small-chat" href="">
        <i class="fa fa-comments"></i>
    </a>
</div>

</div>

</div>
<input type="hidden" id="shopID" value="<%= shopDetails.shop_id %>">
<input type="hidden" id="userID" value="<%= user_data.user_id %>">
<input type="hidden" id="country_id" value="<%= shopDetails.country_id %>">
<input type="hidden" id="division_id" value="<%= shopDetails.division_id %>">
<input type="hidden" id="zilla_id" value="<%= shopDetails.zilla_id %>">
<input type="hidden" id="thana_id" value="<%= shopDetails.thana_id %>">
<input type="hidden" id="shop_address" value="<%= shopDetails.shop_address %>">
<input type="hidden" id="shop_Img" value="<%= shopDetails.shop_img %>">
<!-- Mainly scripts -->
<script src="/backend/js/jquery-3.1.1.min.js"></script>
<script src="/backend/js/popper.min.js"></script>
<script src="/backend/js/bootstrap.js"></script>
<script src="/backend/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/backend/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/backend/js/plugins/flot/jquery.flot.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/backend/js/plugins/flot/jquery.flot.symbol.js"></script>
<script src="/backend/js/plugins/flot/curvedLines.js"></script>

<!-- Peity -->
<script src="/backend/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/backend/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/backend/js/inspinia.js"></script>
<script src="/backend/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/backend/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Jvectormap -->
<script src="/backend/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/backend/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- Sparkline -->
<script src="/backend/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/backend/js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/backend/js/plugins/chartJs/Chart.min.js"></script>

<!-- iCheck -->
<script src="/backend/js/plugins/iCheck/icheck.min.js"></script>
<script src="/javascripts/super_admin.js"></script>

<!-- Chosen -->
<script src="/backend/js/plugins/chosen/chosen.jquery.js"></script>

<!-- Select2 -->
<script src="/backend/js/plugins/select2/select2.full.min.js"></script>
<script src="/backend/js/plugins/jsTree/jstree.min.js"></script>
<!-- Toastr script -->
<script src="/backend/js/plugins/toastr/toastr.min.js"></script>


<!-- Steps -->
<script src="/backend/js/plugins/steps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="/backend/js/plugins/validate/jquery.validate.min.js"></script>

<!-- FooTable -->
<script src="/backend/js/plugins/footable/footable.all.min.js"></script>
<!-- Sweet alert -->
<script src="/frontend/js/sweetalert2.min.js"></script>


<script src="/javascripts/moment.js"></script>
<script src="/javascripts/socket.io.js"></script> 
<script src="/javascripts/socket-client-side.js"></script>

<!-- Custom script -->
<script src="/javascripts/member.js"></script>

<style>
    .jstree-open>.jstree-anchor>.fa-folder:before {
        content: "\f07c";
    }

    .jstree-default .jstree-icon.none {
        width: 0;
    }
</style>
<script>
    $('.select2').select2({ width: "100%" });

    $('.footable').footable();
    $(document).ready(function () {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('#jstree1').jstree({
            'core': {
                'check_callback': true
            },
            'plugins': ['types', 'dnd'],
            'types': {
                'default': {
                    'icon': 'fa fa-folder'
                },
                'html': {
                    'icon': 'fa fa-file-code-o'
                },
                'svg': {
                    'icon': 'fa fa-file-picture-o'
                },
                'css': {
                    'icon': 'fa fa-file-code-o'
                },
                'img': {
                    'icon': 'fa fa-file-image-o'
                },
                'js': {
                    'icon': 'fa fa-file-text-o'
                }

            }
        });
    });
    $('.country-select').select2({ width: "100%" });
    // $('.country-select').chosen({width: "100%"});
    $(document).ready(function () {

        var lineData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(26,179,148,0.5)",
                    borderColor: "rgba(26,179,148,0.7)",
                    pointBackgroundColor: "rgba(26,179,148,1)",
                    pointBorderColor: "#fff",
                    data: [28, 48, 40, 19, 86, 27, 90]
                },
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(220,220,220,0.5)",
                    borderColor: "rgba(220,220,220,1)",
                    pointBackgroundColor: "rgba(220,220,220,1)",
                    pointBorderColor: "#fff",
                    data: [65, 59, 80, 81, 56, 55, 40]
                }
            ]
        };

        var lineOptions = {
            responsive: true
        };


        var ctx = document.getElementById("lineChart").getContext("2d");
        new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

    });
</script>

<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Change Your Profile</h4>
                <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">

                            <div class="ibox-content">
                                <form method="get" id="shopPu">


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Email</label>

                                        <div class="col-sm-10"><input disabled="" value="<%= shopDetails.shop_email %>"
                                                name="email" type="text" placeholder="Email Your Valid Email"
                                                class="form-control"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Shop Name</label>

                                        <div class="col-lg-10"><input type="text" value="<%= shopDetails.shop_name %>"
                                                name="shop_name" placeholder="Hapsa Mart" class="form-control"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Google Map Iframe</label>

                                        <div class="col-sm-10"><input name="google_iframe" type="text"
                                                placeholder="Embed a map" class="form-control"
                                                value="<%= shopDetails.google_iframe %>"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Shop Phone </label>

                                        <div class="col-sm-10"><input name="shop_phone" type="text"
                                                placeholder="Phone Number" class="form-control"
                                                value="<%= shopDetails.shop_phone %>"></div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">EMI Facilities </label>

                                        <div class="col-sm-10"><input name="emi_facilities"
                                                value="<%= shopDetails.emi_facilities %>" type="text"
                                                placeholder="EMI Facilities" class="form-control"></div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Service Warranty </label>

                                        <div class="col-sm-10"><input name="warranty" type="text"
                                                placeholder="Service Warranty" class="form-control"
                                                value="<%= shopDetails.warranty %>"></div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Installation Maintenance</label>

                                        <div class="col-sm-10"><input name="installment_facilities" type="text"
                                                placeholder="Installation Maintenance" class="form-control"
                                                value="<%= shopDetails.installment_facilities %>"></div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Other Service</label>

                                        <div class="col-sm-10"><input name="other_service" type="text"
                                                placeholder="Other Service" class="form-control"
                                                value="<%= shopDetails.other_service %>"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">About Us</label>

                                        <div class="col-sm-10"><textarea name="about_us" type="text"
                                                placeholder="About Us" class="form-control"
                                                value="<%= shopDetails.about_us %>"><%= shopDetails.about_us %></textarea>
                                                </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Web Site</label>

                                        <div class="col-sm-10"><input name="web_site" type="text"
                                                placeholder="www.demo.com" class="form-control"
                                                value="<%= shopDetails.web_site %>"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">YouTube</label>

                                        <div class="col-sm-10"><input name="youtube_link" type="text"
                                                placeholder="www.youtube.com/demo" class="form-control"
                                                value="<%= shopDetails.youtube_link %>"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">FaceBook Page</label>

                                        <div class="col-sm-10"><input name="facebook_page" type="text"
                                                placeholder="www.facebook.com/demo" class="form-control"
                                                value="<%= shopDetails.facebook_page %>"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">logo</label>

                                        <div class="col-sm-10 fallback">
                                            <input id="fileInput" type="file" name="imageUpload" placeholder=""
                                                class="form-control" onchange="fileupload(this.files,'shop_logo')"
                                                accept="image/*">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Cover Image</label>

                                        <div class="col-sm-10 fallback">
                                            <input id="fileInput" type="file" name="imageUpload" placeholder=""
                                                class="form-control" onchange="fileupload(this.files,'shop_cover')"
                                                accept="image/*">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <div class="btn btn-primary" onclick="upShopPro(this)" data-id="<%= shopDetails.shop_id %>">Save changes
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>