<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link href="/backend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/backend/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/backend/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/backend/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="/backend/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="/backend/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="/backend/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <!-- Toastr style -->   
    <link href="/backend/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- FooTable -->
    <link href="/backend/css/plugins/footable/footable.core.css" rel="stylesheet">

    <link href="/backend/css/animate.css" rel="stylesheet">
    <link href="/backend/css/style.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/frontend/css/sweetalert2.min.css" rel="stylesheet">

</head>
    <style type="text/css">
        .ofob{
            display: none;
        }
    </style>
<body class="fixed-navigation">
    <div id="wrapper">
        <%- include('../layouts2/navbar') %>
        <%- include('../layouts2/right-sidebar') %>

        <div id="page-wrapper" class="gray-bg <% if(page == 'dashboard'){ %>  <% } %>">
        <%- include('../layouts2/top-bar') %>
