<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="/images/users/demo.svg"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/backend/#">
                        <span class="block m-t-xs font-bold"><%= user_data.user_name %></span>
                        <span class="block font-bold"><%= shopDetails.shop_name %></span>
                        <span class="text-muted text-xs block"><%= user_data.user_role %><b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="#profile_form">Profile</a></li>
                        <li><a class="dropdown-item" href="/ab-member/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    RSV
                </div>
            </li>
            <li class="<% if(page == 'dashboard'){ %> active <% } %>" >
                <a href="/ab-member/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>
            </li>
            <li class="" >
                <a href="/showroom/<%= shopDetails.shop_url %>" target="_blank"><i class="fa fa-eye"></i> <span class="nav-label">View My shop</span></a>
            </li>
            <li class="<% if(page == 'manage_users'){ %> active <% } %>">
                <a href="/ab-member/manage_user"><i class="fa fa-users"></i> <span class="nav-label">Manage Users</span></a>
            </li>
            <% if(shopDetails.service == 'bike'){ %> 
                <li class="<% if(page == 'add_product' || page == 'manage_product'){ %> active <% } %>">
                    <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Manage Bike</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="<% if(page == 'add_product'){ %> active <% } %>"> <a href="/ab-member/add_product"><i class="fa fa-plus-circle"></i> Add Bike</a></li>
                        <li class="<% if(page == 'manage_product'){ %> active <% } %>"><a href="/ab-member/manage_product"> <i class="fa fa-wrench"></i> Manage Bike</a></li>
                    </ul>
                </li>
            <% } %>
            <li class="<% if(page == 'add_parts' || page == 'manage_parts'){ %> active <% } %>">
                <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Manage Parts</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="<% if(page == 'add_parts'){ %> active <% } %>"> <a href="/ab-member/add_parts"><i class="fa fa-plus-circle"></i> Add Parts</a></li>
                    <li class="<% if(page == 'manage_parts'){ %> active <% } %>"><a href="/ab-member/manage_parts"> <i class="fa fa-wrench"></i> Manage Parts</a></li>
                </ul>
            </li>
            <li class="<% if(page == 'booking_request'){ %> active <% } %>">
                <a   href="/ab-member/booking-request"><i class="fa fa-user"></i> <span class="nav-label">Booking Request</span></a>
            </li>
            <li class="" data-toggle="modal" data-target="#myModal5">
                <a   href="#"><i class="fa fa-user"></i> <span class="nav-label">Profile</span></a>
            </li>
            <li class="<% if(page == 'chat_page'){ %> active <% } %>">
                <a   href="/ab-member/chat-page"><i class="fa fa-wechat"></i> <span class="nav-label">Chat</span></a>
            </li>
        </ul>

    </div>
</nav>